{% extends "register-application/v20/layout-register-application.html" %}

{% set pageHeading = "Enter your biodiversity gain site number" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post" action="/register-application/{{ pageURL }}/allocation-metric-upload">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="biodiversity-gain-site-number">
            {{ pageHeading }}
          </label>
        </h1>
        
        <p>This is the number which connects your development project to the land you're using as your off-site gain.</p>
        <p>The landowner should give this to you once they've registered the biodiversity gain site, and agreed you can use it.</p>
        
        <div id="biodiversity-gain-site-number-hint" class="govuk-hint">
          For example, BGS-111 222 333
        </div>

        <div class="govuk-form-group">
          <input class="govuk-input govuk-!-width-one-half" id="biodiversity-gain-site-number" name="biodiversity-gain-site-number" type="text" aria-describedby="example-hint">
        </div>

        {{ govukButton({
            text: "Save and continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
