{% extends "register-application/v20/layout-register-application.html" %}

{% set hideSaveLink = true %}

{% set pageHeading = "Check your contact details for this application" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


    
      <h1 class="govuk-heading-l">
        {{ pageHeading }}
      </h1>
      <p>We use your Defra ID details. Changes on this application will not update your Defra ID.</p>

      <p>We'll only use this to contact you about your registration.</p>
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data.contact-f-name %}
            {% else %}
            {{data['defraName']}}
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/register-application/{{ pageURL }}/details-name">
              Change<span class="govuk-visually-hidden"> full name</span>
            </a>  
          </dd> 
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['email'] or 'jo.smith@gmail.com' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/register-application/{{ pageURL }}/details-email">
              Change<span class="govuk-visually-hidden"> email</span>
            </a>  
          </dd> 
        </div>
      </dl>
      <form method="post" class="govuk-!-padding-top-5" action="/register-application/{{ pageURL }}/allocation-check-answers">

        <input type="hidden" name="details-confirm" value="true">
        
        {{ govukButton({ text: 'Save and continue' }) }}
        
      </form>

    </div>
  </div>

{% endblock %}
