{% extends "register-application/v20/layout-register-application.html" %}

{% set pageHeading = "Application submitted" %}

{% set hideSaveSection = true %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title govuk-!-margin-bottom-4">
          {{ pageHeading }}
        </h1>
        <div class="govuk-panel__body">
          Your reference<br> <strong>BNGREG-6040S-AVPJW</strong>
        </div>
      </div>

      <p>We've sent you a confirmation email.</p>

      <p>We will use your reference number when we contact you.</p>

      {% if data['payment'] == 'bacs' %}
      
      <h2 class="govuk-heading-m">Paying the application fee</h2>
      <p>You need to pay:</p>

      {% if data['register-journey'] == 'true' %}
        <p class="govuk-body-l">£{{data.registrationPaymentAmount or '658.70' }}</p>
      {% else %}
        <p class="govuk-body-l">£36.35</p>
      {% endif %}

      <p>You must pay the fee within 28 days.</p>

      <h2 class="govuk-heading-m">Bank details for Bacs payments</h2>

      <p>You must pay the fee by Bacs using these details:</p>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Your payment reference
          </dt>
          <dd class="govuk-summary-list__value">
            BNGREG-6040S-AVPJW
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Account name
          </dt>
          <dd class="govuk-summary-list__value">
            Natural England
          </dd>          
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Sort code
          </dt>
          <dd class="govuk-summary-list__value">
            60 70 80
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Account number
          </dt>
          <dd class="govuk-summary-list__value">
            10026630
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Swift/BIC code
          </dt>
          <dd class="govuk-summary-list__value">
            NWBKGB2L
          </dd>
        </div>
      </dl>


      {% endif %}

      <h2 class="govuk-heading-m">What happens after paying the fee</h2>
      <p>We will let you know within 6 weeks if:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>your application has been successful or not</li>
        <li>we need more information from you</li>
      </ul>
      <h2 class="govuk-heading-m">Contact us if you need help</h2>
      <p>Telephone: 0190 050 8628 
      </br>Monday to Friday, 8:30am to 5pm (except public holidays)</p>
      <p><a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>

      <p class="govuk-!-padding-top-8"><a href="/register-application/{{ pageURL }}/confirmation-email">View confirmation email (prototype only)</a></p>

    </div>
  </div>

{% endblock %}
