{% extends "register-application/v20/layout-register-application.html" %}
{% set pageHeading = "V20 content pages" %}
{% block beforeContent %}
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Register a biodiversity gain site v20 content </h1>
    <h2 class="govuk-heading-m">Start</h2>
    <ul class="govuk-list govuk-list--bullet ">
      <li><strong class="govuk-!-font-size-24"><a href="./clear-data?url=start-register">Start page (new journey)</a></strong></li>
    </ul>
    <h2 class="govuk-heading-m">Sign in</h2>
    <ul class="govuk-list govuk-list--bullet ">
      <li><a href="./sign-in?register-journey=yes&new-register-journey=yes&hasDefraID=no">Sign in (no Defra ID)</a></li>
      <li><a href="./sign-in?register-journey=yes&new-register-journey=yes">Sign in (new journey)</a></li>
      <li><a href="./sign-in?register-journey=yes&new-register-journey=no&showReceivedItem=yes">Sign in (continue journey)</a></li>
      <li><a href="./sign-in-no-start?register-journey=yes&new-register-journey=no">Sign in (existing user no known journey)</a></li>
    </ul>
    <h2 class="govuk-heading-m">Dashboard</h2>
    <ul class="govuk-list govuk-list--bullet ">
      <li><a href="./dashboard-register?register-journey=true&new-register-journey=yes">Dashboard with in progress only</a></li>
      <li><a href="./dashboard-register?register-journey=true&new-register-journey=yes&showReceivedItem=yes">Dashboard with in progress and received</a></li>
    </ul>
    <h2 class="govuk-heading-m">Task list</h2>
    <ul class="govuk-list govuk-list--bullet ">
      <li><strong class="govuk-!-font-size-24"><a href="./task-list?register-journey=yes&new-register-journey=yes">Task list</a></strong></li>
    </ul>
    <h2 class="govuk-heading-m">Land information</h2>
    <h3 class="govuk-heading-s">Add land ownership details</h3>
    <ul class="govuk-list govuk-list--bullet ">
      <li><a href="./landowner-certificate-upload?register-journey=yes&new-register-journey=yes">Upload proof of land ownership</a></li>
      <li><a href="./landowner-certificate-check?register-journey=yes&new-register-journey=yes">Check the proof of land ownership file</a></li>
      <li><a href="./land-ownership-list-add?returnURL=land-ownership-list&register-journey=yes&new-register-journey=yes">You have added {X} proof of land ownership files</a></li>
      <li><a href="./land-ownership-list-add?returnURL=land-ownership-remove?id=0">Are you sure you want to remove {{filename}} as proof of land ownership?</a></li>
    </ul>
    <h3 class="govuk-heading-s">Add biodiversity gain site boundary details</h3>
    <ul class="govuk-list govuk-list--bullet ">
      <li><a href="./location-upload">Upload a document or image showing the biodiversity gain site boundary</a></li>
      <li><a href="./location-upload-confirm">Check the boundary file
        </a></li>
      <li><a href="./location-grid-reference">What is the grid reference?</a></li>
      <li><a href="./location-grid-reference">What is the grid reference?</a></li>
      <li><a href="./location-area">How many hectares is the land?</a></li>
      <li><a href="./location-confirm">Check the biodiversity gain site boundary details
          ?</a></li>
    </ul>
    <h2 class="govuk-heading-m">Habitat information</h2>
    <h3 class="govuk-heading-s">Add habitat baseline, creation and enhancements
    </h3>
    <ul class="govuk-list govuk-list--bullet ">
      <li><a href="./metric-upload">Upload a document or image showing the biodiversity gain site boundary</a>
        <ul class="govuk-list govuk-list--bullet ">
          <li><span class="govuk-tag govuk-tag--yellow">Help page </span> <a href="./metric-no">You need a completed Biodiversity Metric 4.0</a> </li>
        </ul>
      </li>
      <li><a href="./metric-check">Check the Biodiversity Metric 4.0 file</a></li>
      <li><a href="./metric-data-baseline">Check the habitat baseline information</a></li>
      <li><a href="./metric-data">Check the created and enhanced habitat information</a></li>
      <li><a href="./metric-confirm">Check Biodiversity Metric 4.0</a></li>
    </ul>
    <h3 class="govuk-heading-s">Add habitat management and monitoring details</h3>
    <ul class="govuk-list govuk-list--bullet ">
      <li><a href="./metric-upload">Is a habitat management and monitoring plan referenced in the legal agreement?</a>
      </li>
      <li><a href="./management-plan-upload">Upload the habitat management and monitoring plan
        </a>
        <ul class="govuk-list govuk-list--bullet ">
          <li><span class="govuk-tag govuk-tag--yellow">Help page </span> <a href="./management-plan-no">You need a habitat management and monitoring plan</a> 
          </li>
        </ul>
      </li>
      <li><a href="./management-plan-check">Check the habitat management and monitoring plan file</a>
      </li>
      <li><a href="./management-plan-habitat-start-date">Have the habitat enhancement works started yet?</a>
      </li>
      <li><a href="./management-plan-date-start">When will the 30-year management and monitoring period start?</a>
      </li>
    </ul>
    <h2 class="govuk-heading-m">Legal information</h2>
    <h3 class="govuk-heading-s">Add legal agreement details</h3>
    <ul class="govuk-list govuk-list--bullet ">
      <li><a href="./legal-agreement">Which legal agreement do you have?</a></li>
      <li><span class="govuk-tag govuk-tag--yellow">Help page </span> <a href="./legal-agreement-no">You need a legal agreement </a> </li>
      <h4 class="govuk-heading">Conservation covenant</h4>
      <li><a href="./legal-agreement">Upload the conservation covenant</a></li>
      <li><a href="./legal-agreement-check">Check the conservation covenant file</a></li>
      <li><span class="govuk-tag govuk-tag--red">Removed page </span> <a href="./legal-agreement-parties-concov">Add the parties listed on the conservation covenant</a></li>
      <li><span class="govuk-tag govuk-tag--blue">New</span> <a href="./legal-agreement-concov-reponsible-start">Add a responsible body listed on the covernent (start) </a></li>
      <li><span class="govuk-tag govuk-tag--blue">New</span> <a href="./legal-agreement-concov-reponsible-add">Responsible body listed on the covernent</a></li>
      
      <li><span class="govuk-tag govuk-tag--blue">New</span> <a href="./legal-agreement-concov-reponsible-list">You have added {x} responsible body(ies)</a>  </li>
      <li><span class="govuk-tag govuk-tag--blue">New</span> <a href="./legal-agreement-concov-reponsible-remove?id=0">Are you sure you want to remove {responsible body name} as a responsible body?</a></li>
      
      <li><a href="./legal-agreement-date-start">What is the start date of the conservation covenant?</a></li>
      <li><a href="./legal-agreement-date-end">Does the legal agreement have an end date?</a></li>
      <li><a href="./legal-agreement-confirm">Check the legal agreement details
</a></li>
      
    </ul>

    <h2 class="govuk-heading-m">Submitting and payment</h2>
     <ul class="govuk-list govuk-list--bullet ">
      <li><span class="govuk-tag govuk-tag--turquoise">updated</span> <a href="./confirmation?payment=bacs&answers-checked=true&register-journey=true">Check your answers</a></li>
      <li><span class="govuk-tag govuk-tag--turquoise">updated</span> <a href="./confirmation">Submitted confirmation page</a></li>
     </ul>

  </div>
</div>
{% endblock %}