{% extends "register-application/v20/layout-register-application.html" %}

{% set hideSaveLink = true %}

{% set pageHeading = "What is your role?" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <form method="post" action="/register-application/{{ pageURL }}/details-email">

          {% set otherHtml %}
          {{ govukInput({
            id: "role-other",
            name: "role-other",
            type: "text",
            classes: "govuk-!-width-one-third",
            value: data['role-other'],
            label: {
              text: "Role"
            }
          }) }}
          {% endset -%}

          {{ govukRadios({
            idPrefix: "role",
            name: "role",
            fieldset: {
              legend: {
                text: pageHeading,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              text: "Select one option."
            },
            items: [
              {
                value: "Ecologist",
                text: "Ecologist",
                checked: checked("role", "Ecologist")
              },
              {
                value: "Land agent",
                text: "Land agent",
                checked: checked("role", "Land agent")
              },
              {
                value: "Landowner",
                text: "Landowner",
                checked: checked("role", "Landowner")
              },
              {
                value: "Leaseholder",
                text: "Leaseholder",
                checked: checked("role", "Leaseholder")
              },
              {
                value: "Other",
                text: "Other",
                checked: checked("role", "Other"),
                conditional: {
                  html: otherHtml
                }
              }
            ]
          }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}
        
      </form>

    </div>
  </div>

{% endblock %}
