{% extends "register-application/v20/layout-register-application.html" %}

{% set hideSaveLink = true %}

{% set pageHeading = "Your details" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


    
      <h1 class="govuk-heading-l">
        {{ pageHeading }}
      </h1>
      <p>We will use the Defra ID details for this account</p>
      <ul class="govuk-list">
        <li><strong>Jo Smith</strong></li>
        <li>Imaginary Farm Ltd</li>
        <li>joe@imaginaryfarm.co.uk</li>
        <li>01234 567890</li>
        <li>07123 456789</li>
      </ul>
       <form method="post" class="govuk-!-padding-top-5" action="/register-application/{{ pageURL }}/task-list">

        {% set returnURL = query.returnURL or 'task-list' %}

        {{ govukRadios({
          idPrefix: "management-plan",
          name: "use-defra-id",
          fieldset: {
            legend: {
              text: "Which contact email address should we use?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "We will only use your email address if we need to contact you about the registration."
          },
        
          items: [
            {
              value: "yes~./details-confirm",
              checked: (data['use-defra-id']=='yes'),
              text: "joe@imaginaryfarm.co.uk"
            },
            {
              value: "no~./details-name",
              checked: (data['use-defra-id']=='no'),
              text: "different contact details"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}
        
      </form>
        
      </form>

    </div>
  </div>

{% endblock %}
