{% extends "register-application/v20/layout-register-application.html" %}
{% set pageHeading = "Is the landowner or leaseholder listed on the conservation covenant an individual or organisation?" %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- action controled in ./_routes.js -->
    <form method="post">
      {{ govukRadios({
      name: "landowner-type",
      fieldset: {
      legend: {
      text: pageHeading,
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
      }
      },
      items: [
      {
      value: "individual~./legal-agreement-concov-landowner-individual",
      text: "An individual"
      },
      {
      value: "organisation~./legal-agreement-concov-landowner-org",
      text: "An organisation"
      }
      ]
      }) }}
      {{ govukButton({
      text: "Save and continue"
      }) }}
    </form>
  </div>
</div>
{% endblock %}