{% extends "register-application/v20/layout-register-application.html" %}

{% set pageHeading = "You need to add all legal parties listed on the planning obligation (Section 106 agreement)" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <h1 class="govuk-heading-l">{{pageHeading}}</h1>
     
      <p>You can add as many legal parties as you need to.</p>
      <form method="post" action="legal-party-add-type">
       


        {{ govukButton({
          text: "Add legal parties"
        }) }}
        
      </form>

    </div>
  </div>

{% endblock %}
