{% extends "register-application/v20/layout-register-application.html" %}

{% set pageHeading = "Add a landowner listed on the covernent" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div data-module="moj-add-another">

        <h1 class="govuk-heading-l" tabindex="-1">
          {{ pageHeading }}
        </h1>
        <p>You will need to add all the landowners that are listed on the covernent.</p>
        <p>This is a landowner who holds freehold title of the land or a leaseholder – if you’re a leaseholder, you must have a lease of more than 7 years with time remaining on it</p>
              
        <form method="post" action="/register-application/{{ pageURL }}/legal-agreement-concov-landowner-type">
          {{ govukButton({
            text: "Add responsible body"
          }) }}
        </form>
     
      
      </div>

    </div>
  </div>

{% endblock %}
