{% extends "register-application/v18/layout-register-application.html" %}

{% set addChangeText = "Add" %}
{% if query.change=="yes" %}
{% set addChangeText = "Update" %}
{% endif %}

{% set pageHeading = addChangeText + " a party listed on the planning obligation (Section 106 agreement)" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <!-- action controled in ./_routes.js -->
      <form method="post" >
         <input type="hidden" name="legal-party-type" value="{{data['legal-party-type']}}">
        {% call govukFieldset({
          legend: {
            text: pageHeading,
            classes: 'govuk-fieldset__legend--l',
            isPageHeading: true
          }
        }) %}

         <!-- Set the value if this is changing/updating an LP. -->
        {% if query.change == "yes" %}
        {% set fullname = data.legalParties[query.id or 0]["legal-party-name"] %}
       
        {% endif %}
    
        {{ govukInput({
          id: 'legal-party-name',
          name: 'legal-party-name',
          value: fullname,
          label: {
            html: 'Organisation name'
          }
        }) }}

        {% set otherHtml %}
        {{ govukInput({
          id: "legal-party-role-other",
          name: "legal-party-role-other",
          type: "text",
          classes: "govuk-!-width-one-third",
          label: {
            text: "Role"
          }
        }) }}
        {% endset -%}

         <!-- Set the value if this is changing/updating an LP. -->
        {% if query.change == "yes" %}
        {% set radioValue = data.legalParties[query.id or 0]["legal-party-role"] %}
        {% endif %}

        {{ govukRadios({
          name: "legal-party-role",
          fieldset: {
            legend: {
              text: "Role"
            }
          },
          value: radioValue,
          hint: {
            text: "Select one option."
          },
          items: [
            {
              value: "Local authority",
              text: "Local authority"
            },
            {
              value: "Developer",
              text: "Developer"
            },
            {
              value: "Landowner",
              text: "Landowner"
            },
            {
              value: "Other",
              text: "Other",
              conditional: {
                html: otherHtml
              }
            }
          ]
        }) }}
    
        {% endcall %}

        {{ govukButton({
          text: "Save and continue"
        }) }}
        
      </form>

    </div>
  </div>

{% endblock %}
