{% extends "register-application/v19/layout-register-application.html" %}

{% set pageHeading = "You need proof of land ownership" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ pageHeading }}
      </h1>

      <p>You need to upload a file proving land ownership if you want to register a biodiversity gain site. For example, an official copy of the title deeds or the lease agreement.</p>

      <p>You can <a href="https://www.gov.uk/get-information-about-property-and-land/search-the-register">order official copies of landownership documents</a> from HM Land Registry.</p>

      <p>Your file can be a DOC, DOCX or PDF. It must not be larger than 50MB.</p>

      {% include "register-application/v19/includes/get-help.html" %}

    </div>
  </div>

{% endblock %}
