{% extends "register-application/v19/layout-register-application.html" %}

{% set pageHeading = "Consent to register the biodiversity gain site" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ pageHeading }}
      </h1>
      
      <form method="post" action="/register-application/{{ pageURL }}/landowner-consent-answer">

        {{ govukRadios({
          idPrefix: "landowner-consent",
          name: "landowner-consent",
          fieldset: {
            legend: {
              text: "Confirm which of the 2 statements applies to you:"
            }
          },
          items: [
            {
              value: "Yes, is landowner or leaseholder",
              text: "I confirm that I am the landowner or leaseholder",
              checked: checked("landowner-consent", "Yes, is landowner or leaseholder")
            },
            {
              value: "Yes, has consent",
              text: "I have the written consent of the landowner or leaseholder to act on their behalf",
              checked: checked("landowner-consent", "Yes, has consent")
            }
          ]
        }) }}

        <p class="govuk-!-padding-top-3"><a href="landowner-certificate-no">I do not have written consent</a></p>
        
        {{ govukButton({ text: 'Save and continue' }) }}
        
      </form>

    </div>
  </div>

{% endblock %}
