{% extends "register-application/v19/layout-register-application.html" %}

{% if data['legal-agreement'] == "Planning obligation (Section 106 agreement)" %}
  {% set pageHeading = "Check the planning obligation (Section 106 agreement) file" %}
{% else %}
  {% set pageHeading = "Check the conservation covenant file" %}
{% endif %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ pageHeading }}
      </h1>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "File added",
              classes: "app-summary-list__key--narrow",
              classes: "govuk-!-width-one-quarter"
            },
            value: {
              text: data['legal-agreement-upload'] or 'legal-agreement.pdf'
            }
          }
        ]
      }) }}

      {% if data['legal-agreement'] == "Planning obligation (Section 106 agreement)" %}
        <form method="post" action="/register-application/{{ pageURL }}/legal-agreement-correct-answer">
      {% else %}
        <form method="post" action="/register-application/{{ pageURL }}/legal-agreement-correct-answer-concov">
      {% endif %}

        {{ govukRadios({
          idPrefix: "legal-agreement-correct",
          name: "legal-agreement-correct",
          fieldset: {
            legend: {
              text: "Is this the correct file?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No, upload a different file"
            }
          ]
        }) }}
        
        {{ govukButton({ text: 'Save and continue' }) }}
        
      </form>

    </div>
  </div>

{% endblock %}
