{% extends "register-application/v9/land/layout-register-application.html" %}

{% set pageHeading = "Search the HM Land Registry for the property the biodiversity gain site is on" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ pageHeading }}
      </h1>


      <form method="post" action="/register-application/{{ pageURL }}/address-results">

        {{ govukInput({
          label: {
            text: "Postcode",
            classes: "govuk-label--m"
          },
            id: "land-postcode",
            name: "land-postcode",
            classes: "govuk-input--width-10"
          })  
        }}

        <p><a href="/register-application/{{ pageURL }}/address-search-detailed">The property doesn't have a postcode</a></p>

        {{ govukButton({
            text: "Search"
        }) }}

      </form>

      <p>Or</p>

      <p><a href="/register-application/{{ pageURL }}/address-add" class="govuk-link--no-visited-state">The property is not registered on the HM Land Registry</a></p>

    </div>
  </div>

{% endblock %}
