{% extends "register-application/v9/land/layout-register-application.html" %}

{% set pageHeading = "Search the HM Land Registry for the property the biodiversity gain site is on" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript: window.history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post" action="/register-application/{{ pageURL }}/address-results">

        {% call govukFieldset({
          legend: {
            text: pageHeading,
            classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-5",
            isPageHeading: true
          }
        }) %}

        {{ govukInput({
          label: {
            text: "HM Land Registry Title number (optional)"
          },
            id: "land-title-number",
            name: "land-title-number",
            classes: "govuk-input--width-10"
          })  
        }}

        {{ govukInput({
          label: {
            text: "Flat (optional)"
          },
            id: "land-flat",
            name: "land-flat",
            classes: "govuk-!-width-one-half"
          })  
        }}

        {{ govukInput({
          label: {
            text: "House number or name (optional)"
          },
            id: "land-number",
            name: "land-number",
            classes: "govuk-!-width-one-half"
          })  
        }}

        {{ govukInput({
          label: {
            text: "Street"
          },
            id: "land-street-name",
            name: "land-street-name",
            classes: "govuk-!-width-one-half"
          })  
        }}

        {{ govukInput({
          label: {
            text: "Town or city"
          },
            id: "land-town",
            name: "land-town",
            classes: "govuk-!-width-one-half"
          })  
        }}

        {{ govukInput({
          label: {
            text: "Postcode (optional)"
          },
            id: "land-postcode",
            name: "land-postcode",
            classes: "govuk-input--width-10"
          })  
        }}
        
        {% endcall %}

        {{ govukButton({
          text: "Search"
        }) }}

      </form>

      <p>Or</p>

      <p><a href="/register-application/{{ pageURL }}/address-add" class="govuk-link--no-visited-state">The property is not registered on the HM Land Registry</a></p>

    </div>
  </div>

{% endblock %}
