{% extends "register-application/v9/land/layout-register-application.html" %}

{% set pageHeading = "You have added 1 address" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript: window.history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ pageHeading }}
      </h1>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
            Meadowcroft Farm<br>Goose Ln<br>Leeds<br>LS20 8PJ
          </dt>
          <dd class="govuk-summary-list__actions">
            <ul class="app-summary-list__actions-list">
              <li class="app-summary-list__actions-item">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> name</span>
                </a>
              </li>
              <li class="app-summary-list__actions-item">
                <a class="govuk-link" href="#">
                  Remove<span class="govuk-visually-hidden"> name</span>
                </a>
              </li>
            </ul>
          </dd>
        </div>
      </dl>
      
      <form method="post" action="/register-application/{{ pageURL }}/address-confirm-answer">

        {{ govukRadios({
          idPrefix: "address-confirm",
          name: "address-confirm",
          fieldset: {
            legend: {
              text: "Do you need to add another address?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "You must tell us about all the addresses."
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}
        
        {{ govukButton({ text: 'Continue' }) }}
        
      </form>

    </div>
  </div>

{% endblock %}
