{% extends "register-application/v9/land/layout-register-application.html" %}

{% set pageHeading = "Registration submitted" %}

{% set hideSaveSection = true %}
{% set hideLogin = true %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          {{ pageHeading }}
        </h1>
        
        <div class="govuk-panel__body">
          Site reference number<br>BNG-150322001
        </div>
        
      </div>

      <p>We've sent you a confirmation email, including a payment receipt.</p>

      <h2 class="govuk-heading-m">What happens next</h2>

      <p>Natural England will review your details.</p>

      <p>They'll email you with their decision or send you an sms.</p>

      <h2 id="return-to-application" class="govuk-heading-m">Return to an existing registration</h2>

      <form action="/register-application/{{ pageURL }}/sign-in" method="post" novalidate>
        <input type="hidden" name="signed-in" value="yes">
        <button class="govuk-link app-button-link" data-module="govuk-button">
          Sign in to continue your registration
        </button>.
      </form>

    </div>
  </div>

{% endblock %}
