{% extends "layout-email.html" %}

{% set pageURL = "v2" %}

{% block pageTitle %}
We've recived payment | {{serviceName}} prototype
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <p>Dear Jo Smith</p>
      <p>Your biodiversity gain site information has been submitted.</p>
      <p>
        <span class="govuk-!-font-weight-bold">Biodiversity gain site reference number</span><br> BNG-150322001
      </p>

      <h2 class="govuk-heading-m">What happens next</h2>
      <p>Natural England will review the details you have submitted.</p>
      <p>We will contact you either to confirm your registration, or to ask for more information.</p>
      <p>You can share your reference number to allocate the biodiversity gain site.</p>
      
      <p><a href="/register-application/{{ pageURL }}/applications">Go to your registrations</a></p>

      <p>
        From<br />
        Natural England
      </p>
      <p>This is an automated message - do not reply.</p>
      <hr class="app-divider">
      <div class="govuk-!-margin-top-9">
        <p class="govuk-body-s">This email and any attachments is intended for the named recipient only. If you have received it in error you have no authority to use, disclose, store or copy any of its contents and you should destroy it and inform the sender. Whilst this email and associated attachments will have been checked for known viruses whilst within Defra systems we can accept no responsibility once it has left our systems. Communications on Defra's computer systems may be monitored and/or recorded to secure the effective operation of the system and for other lawful purposes.</p>
      </div>
        
    </div>
</div>

{% endblock %}