{% extends "register-application/" + data['version'] + "/land/layout-register-application.html" %}

{% set hideSaveLink = true %}
{% set hideSignOut = true %}

{% set pageHeading = "Have you confirmed with all interested third parties that your application does not conflict with their interests?" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <form method="post" action="/register-application/{{data['version']}}/third-parties-answer">

        {{ govukRadios({
          idPrefix: "third-parties",
          name: "third-parties",
          fieldset: {
            legend: {
              text: pageHeading,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "For example, an interested third party could be someone who has shooting rights, public right of way, or is the mortgage lender for the land."
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
        
      </form>

    </div>
  </div>

{% endblock %}
