{% extends "register-application/v9/land/layout-register-application.html" %}

{% set pageHeading = "How do you want to provide the baseline and proposed habitat parcel information?" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <form method="post" action="/register-application/{{ pageURL }}/habitat-answer">

        {{ govukRadios({
          idPrefix: "habitat",
          name: "habitat",
          fieldset: {
            legend: {
              text: pageHeading,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "It should include habitat, hedgerow or river type, size area or length and condition."
          },
          items: [
            {
              value: "metric",
              text: "Upload Biodiversity Metric 3.0 calculations",
              hint: {
                text: "XLSM or XLSX file"
              }
            },
            {
              value: "qgis",
              text: "Upload GIS data",
              hint: {
                text: "GIS file"
              }
            },
            {
              divider: "or"
            },
            {
              value: "manual",
              text: "Enter data manually"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
        
      </form>

    </div>
  </div>

{% endblock %}
