{% extends "register-application/v4/layout-register-application.html" %}

{% set pageHeading = "Add the broad habitat, type, area and condition" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form method="post" action="/register-application/{{ pageURL }}/development-local-authority-confirm">

          {% call govukFieldset({
            legend: {
              text: pageHeading,
              classes: 'govuk-fieldset__legend--l',
              isPageHeading: true
            }
          }) %}

          {{ govukSelect({
            id: "broad-habitat",
            name: "broad-habitat",
            label: {
              text: "Broad habitat"
            },
            items: [
              {
                value: "Coastal lagoons",
                text: "Coastal lagoons"
              },
              {
                value: "Coastal saltmarsh ",
                text: "Coastal saltmarsh "
              },
              {
                value: "Cropland",
                text: "Cropland"
              },
              {
                value: "Grassland",
                text: "Grassland"
              },
              {
                value: "Heathland and shrub",
                text: "Heathland and shrub"
              },
              {
                value: "Intertidal Hard Structures",
                text: "Intertidal Hard Structures"
              },
              {
                value: "Intertidal sediment",
                text: "Intertidal sediment"
              },
              {
                value: "Lakes",
                text: "Lakes"
              },
              {
                value: "Rocky shore ",
                text: "Rocky shore "
              },
              {
                value: "Sparsely vegetated land",
                text: "Sparsely vegetated land"
              },
              {
                value: "Urban",
                text: "Urban"
              },
              {
                value: "Wetland",
                text: "Wetland"
              },
              {
                value: "Woodland and forest",
                text: "Woodland and forest"
              }
            ]
          }) }}

          {{ govukSelect({
            id: "habitat-type",
            name: "habitat-type",
            label: {
              text: "Habitat type"
            },
            items: [
              {
                value: "Arable field margins cultivated annually",
                text: "Arable field margins cultivated annually"
              },
              {
                value: "Arable field margins game bird mix",
                text: "Arable field margins game bird mix"
              },
              {
                value: "Arable field margins pollen & nectar",
                text: "Arable field margins pollen & nectar"
              },
              {
                value: "Arable field margins tussocky",
                text: "Arable field margins tussocky"
              },
              {
                value: "Cereal crops",
                text: "Cereal crops"
              },
              {
                value: "Cereal crops other",
                text: "Cereal crops other"
              },
              {
                value: "Cereal crops winter stubble",
                text: "Cereal crops winter stubble"
              },
              {
                value: "Horticulture",
                text: "Horticulture"
              },
              {
                value: "Intensive orchards",
                text: "Intensive orchards"
              },
              {
                value: "Non-cereal crops",
                text: "Non-cereal crops"
              },
              {
                value: "Temporary grass and clover leys",
                text: "Temporary grass and clover leys"
              }
            ]
          }) }}

          {{ govukInput({
            label: {
              text: "Area, in hectares"
            },
            classes: "govuk-input--width-5",
            id: "area",
            name: "area",
            suffix: {
              text: "ha"
            },
            spellcheck: false
          }) }}

          {{ govukSelect({
            id: "habitat-condition",
            name: "habitat-condition",
            label: {
              text: "Condition"
            },
            items: [
              {
                value: "good",
                text: "Good"
              },
              {
                value: "fairly-good",
                text: "Fairly good"
              },
              {
                value: "moderate",
                text: "Moderate"
              },
              {
                value: "fairly-poor",
                text: "Fairly poor"
              },
              {
                value: "poor",
                text: "Poor"
              }
            ]
          }) }}

          {% endcall %}

            {{ govukButton({
              text: 'Continue'
            }) }}


        </form>

    </div>
  </div>

{% endblock %}
