{% extends "register-application/v9/land/layout-register-application.html" %}

{% set pageHeading = "Add baseline or propsed habitat information" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <form method="post" action="/register-application/{{ pageURL }}/habitat-add">

        {{ govukRadios({
          idPrefix: "habitat-add-stage",
          name: "habitat-add-stage",
          fieldset: {
            legend: {
              text: pageHeading,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: ""
          },
          items: [
            {
              value: "baseline",
              text: "Baseline habitat"
            },
            {
              value: "proposed",
              text: "Proposed habitat"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
        
      </form>

    </div>
  </div>

{% endblock %}
