{% extends "register-application/v9/land/layout-register-application.html" %}

{% set pageHeading = "Landowner consent declaration" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript: window.history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <form method="post" action="/register-application/{{ pageURL }}/landowner-consent-answer">

        {{ govukCheckboxes({
          idPrefix: "landowner-consent",
          name: "landowner-consent",
          fieldset: {
            legend: {
              text: pageHeading,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "accepted",
              html: "I confirm that I, <strong>Jo Smith</strong> am authorised to act on behalf of the landowner."
            }
          ]
        }) }}

        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            You could be prosecuted or have to pay a financial penalty if you are not authorised to act on behalf of the landowner.
          </strong>
        </div>
        
        {{ govukButton({ text: 'Continue' }) }}
        
      </form>

    </div>
  </div>

{% endblock %}
