{% extends "register-application/v9/land/layout-register-application.html" %}

{% set pageHeading = "Check the land details from HM Land Registry" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ pageHeading }}
      </h1>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Address"
            },
            value: {
              html: "Meadowcroft Farm<br>Goose Ln<br>Leeds<br>LS20 8PJ"
            }
          },
          {
            key: {
              text: "Tenure"
            },
            value: {
              text: "Freehold"
            }
          }
        ]
      }) }}

      
      
      <form method="post" action="/register-application/{{ pageURL }}/land-registry-search-confirm-answer">

        {{ govukRadios({
          idPrefix: "land-ownership-correct",
          name: "land-ownership-correct",
          fieldset: {
            legend: {
              text: "Are the land details correct?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No, search again"
            }
          ]
        }) }}

        <input type="hidden" name="land-registry-check" value="yes">
        
        {{ govukButton({ text: 'Continue' }) }}
        
      </form>

    </div>
  </div>

{% endblock %}
