{% extends "register-application/" + data['version'] + "/land/layout-register-application.html" %}

{% set pageHeading = "Check your answers for land ownership" %}

{% block content %}

  <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        {% if data['landowner-permission-correct'] %} 
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Landowner consent
          </dt>
          <dd class="govuk-summary-list__value">
            <a download href="#">landowner-consent-evidence.pdf</a>, 1.1MB
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/register-application/{{ data['version'] }}/landowner-permission-check">
              Change<span class="govuk-visually-hidden"> Landowner consent</span>
            </a>
          </dd>
        </div>
      {% endif %} 

      {% if data['land-registry-check'] == 'yes' %} 
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            HM Land registry details
          </dt>
          <dd class="govuk-summary-list__value">
            <p>AGL117262</p>
            <p>Meadowcroft Farm<br>Goose Ln<br>Leeds<br>LS20 8PJ</p>
            <p>Freehold</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/register-application/{{ data['version'] }}/land-registry-confirm">
              Change<span class="govuk-visually-hidden"> HM Land Registry</span>
            </a>
          </dd>
        </div>
      {% else %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Ownership certificate
          </dt>
          <dd class="govuk-summary-list__value">
            <a download href="#">ownership-certificate.pdf</a>, 1.6MB
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/register-application/{{ data['version'] }}/land-ownership-certificate-check">
              Change<span class="govuk-visually-hidden"> Ownership certificate</span>
            </a>
          </dd>
        </div>
      {% endif %}
      
      </dl>

      <form method="post" action="/register-application/{{data['version']}}/task-list">
        <input class="govuk-input" id="development-confirm" name="development-confirm" type="hidden" value="development-confirm">

        {{ govukButton({
            text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
