{% extends "register-application/v9/land/layout-register-application.html" %}

{% set pageHeading = "You need the ownership certificate for the land" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ pageHeading }}
      </h1>

      <p>You need to give us a copy of the land ownership certificate for the biodiversity gain site land.</p>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Get help
          </span>
        </summary>
        <div class="govuk-details__text">
          {% include "register-application/v9/includes/get-help.html" %}
        </div>
      </details>

    </div>
  </div>

{% endblock %}
