{% extends "register-application/v9/land/layout-register-application.html" %}

{% set hideSaveLink = true %}
{% set hideSignOut = true %}

{% set pageHeading = "Something something you can still continue" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ pageHeading }}
      </h1>

      <form action="/register-application/{{ pageURL }}/task-list" method="post" novalidate>

        <input type="hidden" name="legal-agreement-no" value="true">

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>

      </form>

    </div>
  </div>

{% endblock %}
