{% extends "register-application/" + data['version'] + "/land/layout-register-application.html" %}

{% set pageHeading = "Upload your conservation covenant" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ pageHeading }}
      </h1>
      
      <form method="post" action="/register-application/{{data['version']}}/legal-agreement-conservation-check">

        {{ govukFileUpload({
          id: "legal-agreement-conservation-upload",
          name: "legal-agreement-conservation-upload",
          label: {
            text: "Upload a file",
            classes:"govuk-visually-hidden"
          },
          hint: {
            text: "PDF, max size 50MB"
          }
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
        
      </form>

    </div>
  </div>

{% endblock %}
