{% extends "register-application/v9/land/layout-register-application.html" %}

{% set pageHeading = "Area in hectares" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <form method="post" action="/register-application/{{ pageURL }}/location-grid-reference">

        {{ govukInput({
          id: "area-in-hectares",
          name: "area-in-hectares",
          label: {
            text: pageHeading,
            classes: "govuk-label--l",
            isPageHeading: true
          },
          suffix: {
            text: "ha"
          },
          classes: "govuk-input--width-5",
          spellcheck: false
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
        
      </form>

    </div>
  </div>

{% endblock %}
