{% extends "register-application/v9/land/layout-register-application.html" %}

{% set map = true %}

{% set pageHeading = "Confirm the land boundary" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ pageHeading }}
      </h1>

      <div id="offsite" class="map map--location" tabindex="0">
      </div>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Area (in hectares)"
            },
            value: {
              text: "4.2 ha"
            }
          },
          {
            key: {
              text: "Grid Reference"
            },
            value: {
              text: "SP41989814"
            }
          }
        ]
      }) }}

      
      <form method="post" class="govuk-!-padding-top-5" action="/register-application/{{ pageURL }}/location-confirm-answer">

        {{ govukRadios({
          idPrefix: "location-confirm",
          name: "location-confirm",
          fieldset: {
            legend: {
              text: "Is the land boundary information correct?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no-again",
              text: "No, upload a different geospatial file"
            },
            {
              value: "no",
              text: "No, upload a document or image of the land boundary instead"
            }
          ]
        }) }}
        
        {{ govukButton({ text: 'Continue' }) }}
        
      </form>

    </div>
  </div>

{% endblock %}

{% block pageScripts %}
  <script type="module" src="/public/javascripts/map.min.js"></script>
{% endblock %}
