{% extends "register-application/v9/land/layout-register-application.html" %}

{% set pageHeading = "Check your file" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ pageHeading }}
      </h1>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "File added",
              classes: "app-summary-list__key--narrow",
              classes: "govuk-!-width-one-quarter"
            },
            value: {
              html: "<img src='/public/images/meadow-croft-farm-mandm-plan.png' alt='' width='100%' style='border: 1px solid #b1b4b6;'><a download href='#'>habitat-management-plan.pdf</a>, 1MB"
            }
          }
        ]
      }) }}

      <form method="post" action="/register-application/{{ pageURL }}/management-plan-correct-answer">

        {{ govukRadios({
          idPrefix: "management-plan-correct",
          name: "management-plan-correct",
          fieldset: {
            legend: {
              text: "Is this file correct?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No, choose a different file"
            }
          ]
        }) }}
        
        {{ govukButton({ text: 'Continue' }) }}
        
      </form>

    </div>
  </div>

{% endblock %}
