{% extends "register-application/v9/land/layout-register-application.html" %}

{% set pageHeading = "Check the habitat management and monitoring information" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ pageHeading }}
      </h1>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Start date of 30 year management and monitoring
          </dt>
          <dd class="govuk-summary-list__value">
            15 March 2022
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="/register-application/{{ pageURL }}/management-plan-date-start">
              Change<span class="govuk-visually-hidden"> commencement date of habitat works</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            End date for the habitat enhancement works
          </dt>
          <dd class="govuk-summary-list__value">
            15 March 2023
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="/register-application/{{ pageURL }}/management-plan-date-end">
              Change<span class="govuk-visually-hidden"> date for expected end of capital works for habitat enhancement</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Person or organisation responsible for habitat enhancement works
          </dt>
          <dd class="govuk-summary-list__value">
            <ul class="govuk-list">
              Kevin Francis
            </ul>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="/register-application/{{ pageURL }}/management-plan-works">
              Change<span class="govuk-visually-hidden"> person or organisation responsible for carrying out works</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Person or organisation responsible for maintaining the biodiversity gain site
          </dt>
          <dd class="govuk-summary-list__value">
            <ul class="govuk-list">
              Kevin Francis
            </ul>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="/register-application/{{ pageURL }}/management-plan-maintaining">
              Change<span class="govuk-visually-hidden"> person or organisation responsible for maintaining the gain site</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Person or organisation responsible for monitoring the biodiversity gain site
          </dt>
          <dd class="govuk-summary-list__value">
            <ul class="govuk-list">
              Kevin Francis
            </ul>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="/register-application/{{ pageURL }}/management-plan-monitoring">
              Change<span class="govuk-visually-hidden"> person or organisation responsible for monitoring the gain site</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Habitat Management and Monitoring Plan
          </dt>
          <dd class="govuk-summary-list__value">
            <a id="conservation-covenant-download" download href="#">habitat-management-and-monitoring-plan.pdf</a>, 1MB
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="/register-application/{{ pageURL }}/management-plan-upload">
              Change<span class="govuk-visually-hidden"> Habitat Management and Monitoring Plan</span>
            </a>
          </dd>
        </div>
      </dl>

      <form method="post" action="/register-application/{{ pageURL }}/task-list">

        <input type="hidden" name="management-plan-confirm" value="yes">

        {{ govukButton({ text: 'Continue' }) }}
        
      </form>

    </div>
  </div>

{% endblock %}
