{% extends "register-application/v9/land/layout-register-application.html" %}

{% set pageHeading = "You need to complete a metric" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ pageHeading }}
      </h1>

      <p>You need to complete a metric for the baseline and proposed habitats parcel information for the off-site.</p>

      <p>That should include:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>habitat, hedgerow or river type</li>
        <li>size area or length and condition</li>
      </ul>

    </div>
  </div>

{% endblock %}
