{% extends "register-application/v9/land/layout-register-application.html" %}

{% set pageHeading = "Upload the biodiversity Metric 3.0 calculations for the whole land" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ pageHeading }}
      </h1>
      
      <form method="post" action="/register-application/{{ pageURL }}/metric-upload-baseline-check">

        {{ govukFileUpload({
          id: "metric-upload-baseline",
          name: "metric-upload-baseline",
          label: {
            text: "Upload a file",
            classes:"govuk-visually-hidden"
          },
          hint: {
            text: "XLSM or XLSX, max size 50MB"
          }
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
        
      </form>

    </div>
  </div>

{% endblock %}
