{% extends "register-application/v9/land/layout-register-application.html" %}

{% set pageHeading = "Upload the Biodiversity Metric 3.1 calculations for the biodiversity gain site" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ pageHeading }}
      </h1>

      <p>You only need to include the baseline and proposed habitat data for the biodiversity gain site.</p>
      
      <form method="post" action="/register-application/{{ pageURL }}/metric-check">

        {{ govukFileUpload({
          id: "metric-upload",
          name: "metric-upload",
          label: {
            text: "Upload a file",
            classes:"govuk-visually-hidden"
          },
          hint: {
            html: "XLSM or XLSX, max size 50MB"
          }
        }) }}

        <p><a href="/register-application/{{ pageURL }}/metric-no">I do not have a Biodiversity Metric 3.1 file</a></p>

        {{ govukButton({
          text: "Continue"
        }) }}
        
      </form>

    </div>
  </div>

{% endblock %}
