{% extends "register-application/v9/land/layout-register-application.html" %}

{% set hideSaveLink = true %}
{% set hideSignOut = true %}

{% set pageHeading = "Get the baseline and proposed habitats parcel information" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ pageHeading }}
      </h1>

      <p>You need to get the baseline and proposed habitats parcel information for the off-site.</p>

      <p>That should include:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>habitat, hedgerow or river type</li>
        <li>size area or length and condition</li>
      </ul>

      <p>The landowner of the off-site should be able to provide you with this information.</p>

      {% include "includes/not-eligible-list.html" %}
      {% include "includes/get-help.html" %}

    </div>
  </div>

{% endblock %}
