{% extends "register-application/v9/land/layout-register-application.html" %}

{% set pageHeading = "Register land available for biodiversity net gain" %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    serviceUrl: "/"
  }) }}
{% endblock %} 

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Biodiversity Net Gain",
        href: "#"
      },
      {
        text: pageHeading
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <h1 class="govuk-heading-xl">{{ pageHeading }}</h1>

      <p class="govuk-body">If you're the consultant you can register on behalf of landowners.</p>  
      
      <h2 id="before-you-apply" class="govuk-heading-l">Before you register</h2>
      <p>Before you register please check you have the following:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>signed consent from the landowner to register the land</li>
        <li>a copy of the certificate of ownership, if the land is not registered with HM Land Registry</li>
        <li>the boundary of the land being used for biodiversity gain</li>
        <li>details of the available habitat enhancements, including habitat type, area or length and condition</li>
        <li>the <a class="govuk-link" href="#">habitat or management monitoring plan </a> </li>
      </ul> 
      
      <h3 id="before-you-apply" class="govuk-heading-m">Interested third parties</h3>
      <p class="govuk-body">You need to confirm with all <a class="govuk-link" href="#">interested third parties</a> that your registration does not conflict with their interests.</p>   
      
      <h3 id="before-you-apply" class="govuk-heading-m">Legal agreements</h3>
      <p class="govuk-body">You need legal agreements that secure funds from a developer to pay for the biodiversity gain for 30 years or more.</p>  
      <p class="govuk-body">You can use a signed agreement called a <a class="govuk-link" href="https://www.gov.uk/guidance/planning-obligations">planning obligation</a>, which is between a landowner and a developer.</p>  
      <p class="govuk-body">If you do not have a planning obligation, you need 2 other signed agreements:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>a <a class="govuk-link" href="#">conservation covenant</a> that secures the biodiversity gain for 30 years or more</li>
        <li>a financial agreement that secures funding from a developer for the biodiversity gain</li>
      </ul>     

      <h3 id="cost" class="govuk-heading-m">Registration fee</h2>

      <p class="govuk-body">It costs £240 to register. You can pay by debit or credit card.</p>
      
      {{ govukButton({
        text: "Start now",
        href: "/register-application/" + pageURL + "/landowner",
        classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
        isStartButton: true
      }) }}

      <h2 id="return-to-application" class="govuk-heading-m">Return to an existing registration</h2>

      <form action="/register-application/{{ pageURL }}/sign-in" method="post" novalidate>
        <input type="hidden" name="signed-in" value="yes">
        <button class="govuk-link app-button-link" data-module="govuk-button">
          Sign in to continue your registration
        </button>.
      </form>

      <h2 id="other-ways-to-apply" class="govuk-heading-m">Other ways to register</h2>
      <p class="govuk-body">You can also <a class="govuk-link" href="#">register by post using form BNG01</a>.</p>
      <p class="govuk-body">Postal registrations take 10 days and cost £? on top of the registration fee. </p>
      <p class="govuk-body">Send your registration to the address on the form. </p>

      <h2 id="help" class="govuk-heading-m">Get help</h2>
      <p>If you need help contact Natural England by:</p>
      <p><span class="govuk-!-font-weight-bold">Email</span> <br><a href="mailto:Biodiversityngdevelopment@naturalengland.org">Biodiversityngdevelopment@naturalengland.org</a></p>
      <p><span class="govuk-!-font-weight-bold">Telephone</span> <br>0300 060 3900 <br> Opening times: 8:30am to 5pm, Monday to Friday (excluding public holidays)</p>
      
      <!--<h2 id="after-you-apply" class="govuk-heading-m">After you apply</h2>
      <p>After you submit your application, it can take Natural England up to 28 days to review your application. 
      <p class="govuk-body">We will:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>give you a site reference number</li>
        <li>check the information you've provided </li>
      </ul>  
        
      <h3 id="if-application-approved" class="govuk-heading-s">If your application is approved</h3> 
      <p class="govuk-body">The land will be listed on the <a class="govuk-link" href="#">Biodiversity gain site register</a>. </p>
      
      <h2 id="after-registration" class="govuk-heading-m">After you're registered</h2> 
      <p class="govuk-body"> You must follow your habitat management and monitoring plan.  </p>
      <p class="govuk-body">You must tell Natural England if:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the landowner changes</li>
        <li>a developer can no longer operate</li>
        <li>there are changes to the planning permission </li>
      </ul> 
      
      <h3 class="govuk-heading-s">If the whole land or a part of it becomes linked to a new development</h3>
      <p class="govuk-body">You must <a class="govuk-link" href="/register-application/{{ pageURL }}/allocate-development/government-gateway-login">add the development to your registration</a>. </p>-->
    
    </div>
    <!--<div class="govuk-grid-column-one-third">
      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a class="govuk-link" href="#">
                Biodiversity net gain
              </a>
            </li>
            <li>
              <a class="govuk-link" href="#">
                Get information about a biodiversity gain site
              </a>
            </li>
            <li>
              <a href="#" class="govuk-link govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>
    </div>-->
  </div>
{% endblock %}