{% extends "register-application/v11/layout-register-application.html" %}

{% set pageHeading = "Search for the property on HM Land Registry" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ pageHeading }}
      </h1>

      <p class="govuk-hint">This should be the postcode of the property where the biodiversity gain site is located.</p>

      <form method="post" action="/register-application/{{ pageURL }}/address-results">

        {{ govukInput({
          label: {
            text: "Postcode",
            classes: "govuk-label--m"
          },
            id: "land-postcode",
            name: "land-postcode",
            classes: "govuk-input--width-10",
            autocomplete: "postal-code"
          })  
        }}

        {{ govukButton({
            text: "Search"
        }) }}

      </form>

      <h2 class="govuk-heading-m">Other ways to search</h2>
      <ul class="govuk-list">
        <li><a href="/register-application/{{ pageURL }}/address-search-street">Search by street and town</a></li>
        <li><a href="/register-application/{{ pageURL }}/address-search-title">Search by title number</a></li>
      </ul>

      <p>Or</p>

      <p><a href="/register-application/{{ pageURL }}/address-not-on-registry">The property is not on HM Land Registry</a></p>

    </div>
  </div>

{% endblock %}
