{% extends "register-application/v11/layout-register-application.html" %}

{% set pageHeading = "Registration submitted" %}

{% set hideSaveSection = true %}
{% set hideLogin = true %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title govuk-!-margin-bottom-4">
          {{ pageHeading }}
        </h1>
        <div class="govuk-panel__body">
          Your reference<br> <strong>REF-150 311 001</strong>
        </div>
      </div>

      <p>You have submitted your biodiversity gain site information to Natural England. We have sent you a confirmation email.</p>

      <h2 class="govuk-heading-m">What happens next</h2>
      <p>Natural England will review the information you submitted. They will email you to let you know if your registration has been approved or not. This can take up to 28 days.</p>

      <h2 class="govuk-heading-m">Contact Natural England</h2>
      <p>If you have questions or need help, you can phone 0300 060 3900, Monday to Friday, 8:30am to 5pm (except public holidays).</p>
      <p><a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>

      <p class="govuk-!-padding-top-8"><a href="/register-application/{{ pageURL }}/confirmation-email">View confirmation email (prototype only)</a></p>

    </div>
  </div>

{% endblock %}
