{% extends "layout-email.html" %}

{% set pageURL = "v11" %}

{% block pageTitle %}
  Biodiversity gain site registration submitted
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <p>Dear {{ data['full-name'] or 'Jo Smith' }}</p>
      <p>You have submitted your biodiversity gain site information to Natural England. We have sent you a confirmation email.</p>
      <p>Your reference: REF-150 311 001</p>
      
      <h2 class="govuk-heading-m">What happens next</h2>
      <p>Natural England will review the information you submitted. They will email you to let you know if your registration has been approved or not. This can take up to 28 days.</p>

      <h2 class="govuk-heading-m">Contact Natural England</h2>
      <p>If you have questions or need help, you can phone 0300 060 3900, Monday to Friday, 8:30am to 5pm (except public holidays).</p>
      <p>Find out about call charges at <a href="https://www.gov.uk/call-charges">www.gov.uk/call-charges</a></p>

      <p>Regards</p>
      <p>Register land as a biodiversity gain site service</p>
      <p>Natural England</p>
      <p>This is an automated message - do not reply.</p>
      <hr class="app-divider">
      <div class="govuk-!-margin-top-9">
        <p class="govuk-body-s">This email and any attachments is intended for the named recipient only. If you have received it in error you have no authority to use, disclose, store or copy any of its contents and you should destroy it and inform the sender. Whilst this email and associated attachments will have been checked for known viruses whilst within Defra systems we can accept no responsibility once it has left our systems. Communications on Defra's computer systems may be monitored and/or recorded to secure the effective operation of the system and for other lawful purposes.</p>
      </div>
        
    </div>
</div>

{% endblock %}