{% extends "register-application/v11/layout-register-application.html" %}

{% set pageHeading = "Registration submitted" %}

{% set hideSaveSection = true %}
{% set hideLogin = true %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title govuk-!-margin-bottom-4">
          {{ pageHeading }}
        </h1>
        <div class="govuk-panel__body">
          Your reference<br> <strong>REF-150 311 001</strong>
        </div>
      </div>

      <p>We have sent you a confirmation email.</p>

      <h2 class="govuk-heading-m">What happens next</h2>
      <p>Your biodiversity gain site information has been submitted to Natural England.</p>
      <p>They will review the information you gave us. This can take up to 28 days.</p>
      <p>They will email you to let you know whether your registration has been approved or not.</p>

    </div>
  </div>

{% endblock %}
