{% extends "register-application/v11/layout-register-application.html" %}

{% set hideSaveLink = true %}

{% set pageHeading = "Do you have a file that shows the boundary of the biodiversity gain site?" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <form method="post" action="/register-application/{{ pageURL }}/eligibility-metric">

          {{ govukRadios({
            idPrefix: "eligibility-boundary",
            name: "eligibility-boundary",
            fieldset: {
              legend: {
                text: pageHeading,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              html: "<span class='govuk-!-display-block govuk-hint'>We'll use this to locate the site and check that it does not overlap with another biodiversity gain site.</span>
                     <span>You can upload a document, image or geospatial file.
                      If you're uploading a document or image you also need to know the grid reference and area in hectares of the land.</span>"
            },
            items: [
              {
                value: "Yes",
                text: "Yes",
                checked: checked("eligibility-boundary", "Yes")
              },
              {
                value: "No",
                text: "No",
                checked: checked("eligibility-boundary", "No")
              },
              {
                value: "I'm not sure",
                text: "I'm not sure",
                checked: checked("eligibility-boundary", "I'm not sure")
              }
            ]
          }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
        
      </form>

    </div>
  </div>

{% endblock %}
