{% extends "register-application/v11/layout-register-application.html" %}

{% set hideSaveLink = true %}

{% set pageHeading = "Do you have a legal agreement securing your biodiversity gain site?" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <form method="post" action="/register-application/{{ pageURL }}/eligibility-land-ownership">

          {{ govukRadios({
            idPrefix: "eligibility-legal-agreement",
            name: "eligibility-legal-agreement",
            fieldset: {
              legend: {
                text: pageHeading,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              html: "You will need to secure your site with either a <a href='https://www.gov.uk/guidance/planning-obligations'>planning obligation (S106 agreement)</a> or a <a href='#'>conservation covenant</a>, for at least 30 years."
            },
            items: [
              {
                value: "Yes",
                text: "Yes",
                checked: checked("eligibility-legal-agreement", "Yes")
              },
              {
                value: "No",
                text: "No",
                checked: checked("eligibility-legal-agreement", "No")
              },
              {
                value: "Not sure",
                text: "I'm not sure",
                checked: checked("eligibility-legal-agreement", "Not sure")
              }
            ]
          }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
        
      </form>

    </div>
  </div>

{% endblock %}
