{% extends "register-application/v11/layout-register-application.html" %}

{% set pageHeading = "Check the land ownership details" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ pageHeading }}
      </h1>

      <dl class="govuk-summary-list govuk-!-margin-bottom-7">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Proof of land ownership file uploaded
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['landowner-certificate-upload'] or 'ownership-certificate.pdf' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="/register-application/{{ pageURL }}/landowner-certificate-check">
              Change<span class="govuk-visually-hidden"> Proof of land ownership file uploaded</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Landowner name
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['role'] == 'Landowner' %}
              {% if data['landowner-only'] == 'Yes' %}
                {{ data['full-name'] or 'Jo Smith' }}
              {% else %}
                {{ data['full-name'] or 'Jo Smith' }}<br>
                {{ data['landowner_full_name'] or 'Bob Jones' }}
                {% if data['landowner_full_name_1'] %}
                  <br>{{ data['landowner_full_name_1'] }}
                {% endif %}
                {% if data['landowner_full_name_2'] %}
                  <br>{{ data['landowner_full_name_2'] }}
                {% endif %}
                {% if data['landowner_full_name_3'] %}
                  <br>{{ data['landowner_full_name_3'] }}
                {% endif %}
                {% if data['landowner_full_name_4'] %}
                  <br>{{ data['landowner_full_name_4'] }}
                {% endif %}
                {% if data['landowner_full_name_5'] %}
                  <br>{{ data['landowner_full_name_5'] }}
                {% endif %}
                {% if data['landowner_full_name_6'] %}
                  <br>{{ data['landowner_full_name_6'] }}
                {% endif %}
                {% if data['landowner_full_name_7'] %}
                  <br>{{ data['landowner_full_name_7'] }}
                {% endif %}
                {% if data['landowner_full_name_8'] %}
                  <br>{{ data['landowner_full_name_8'] }}
                {% endif %}
                {% if data['landowner_full_name_9'] %}
                  <br>{{ data['landowner_full_name_9'] }}
                {% endif %}
                {% if data['landowner_full_name_10'] %}
                  <br>{{ data['landowner_full_name_10'] }}
                {% endif %}
              {% endif %}
            {% else %}
              {{ data['landowner_full_name'] or 'Bob Jones' }}
              {% if data['landowner_full_name_1'] %}
                <br>{{ data['landowner_full_name_1'] }}
              {% endif %}
              {% if data['landowner_full_name_2'] %}
                <br>{{ data['landowner_full_name_2'] }}
              {% endif %}
              {% if data['landowner_full_name_3'] %}
                <br>{{ data['landowner_full_name_3'] }}
              {% endif %}
              {% if data['landowner_full_name_4'] %}
                <br>{{ data['landowner_full_name_4'] }}
              {% endif %}
              {% if data['landowner_full_name_5'] %}
                <br>{{ data['landowner_full_name_5'] }}
              {% endif %}
              {% if data['landowner_full_name_6'] %}
                <br>{{ data['landowner_full_name_6'] }}
              {% endif %}
              {% if data['landowner_full_name_7'] %}
                <br>{{ data['landowner_full_name_7'] }}
              {% endif %}
              {% if data['landowner_full_name_8'] %}
                <br>{{ data['landowner_full_name_8'] }}
              {% endif %}
              {% if data['landowner_full_name_9'] %}
                <br>{{ data['landowner_full_name_9'] }}
              {% endif %}
              {% if data['landowner_full_name_10'] %}
                <br>{{ data['landowner_full_name_10'] }}
              {% endif %}
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            {% if data['landowner-only'] == 'Yes' %}
            <a class="govuk-link govuk-link--no-visited-state" href="/register-application/{{ pageURL }}/landowner-only">
            {% else %}
            <a class="govuk-link govuk-link--no-visited-state" href="/register-application/{{ pageURL }}/landowner-name">
            {% endif %}
              Change<span class="govuk-visually-hidden"> landowner name</span>
            </a>
          </dd>
        </div>

        {% if data['landowner-only'] == 'Yes' %}
        {% else %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Landowner consent
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="/register-application/{{ pageURL }}/landowner-consent">
              Change<span class="govuk-visually-hidden"> landowner consent</span>
            </a>
          </dd>
        </div>
      {% endif %}
      </dl>

      <form method="post" action="/register-application/{{ pageURL }}/task-list">

        <input type="hidden" name="address-confirm" value="yes">
        
        {{ govukButton({ text: 'Continue' }) }}
        
      </form>

    </div>
  </div>

{% endblock %}
