{% extends "register-application/v11/layout-register-application.html" %}

{% set pageHeading = "How do you want to provide the land boundary for the biodiversity gain site?" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      {% if data['land-registry-check'] == 'yes' %} 
        <form method="post" action="/register-application/{{ pageURL }}/location-options-answer-land-registry">
      {% else %}
        <form method="post" action="/register-application/{{ pageURL }}/location-options-answer">
      {% endif %}

        {{ govukRadios({
          idPrefix: "location-options",
          name: "location-options",
          fieldset: {
            legend: {
              text: pageHeading,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Geospatial data file",
              text: "Upload geospatial data file",
              checked: checked("location-options", "Upload geospatial data file"),
              hint: {
                text: "GeoJSON, KML or Shape files"
              }
            },
            {
              value: "Document or image",
              text: "Upload document or image",
              checked: checked("location-options", "Upload document or image"),
              hint: {
                text: "PDF, jpg or PNG files"
              }
            },
            {
              divider: "or"
            },
            {
              value: "none",
              text: "I do not have a boundary",
              checked: checked("location-options", "I do not have a boundary")
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
        
      </form>

    </div>
  </div>

{% endblock %}
