{% extends "register-application/v11/layout-register-application.html" %}

{% set pageHeading = "Your registration has been saved" %}

{% set hideSignOut = true %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          {{ pageHeading }}
        </h1>
        <div class="govuk-panel__body">
          Your reference<br> <strong>REF-150 311 001</strong>
        </div>
      </div>

      <p>We have also sent you an email with your reference.</p>

      <p>Your information will be saved for 14 days.</p>

      <p>To continue with a registration you will need to enter your:</p> 
      <ul class="govuk-list govuk-list--bullet">
        <li>email address</li>
        <li>reference</li>
      </ul>

      <form action="/register-application/{{ pageURL }}/sign-in-return" method="post" novalidate>
        <input type="hidden" name="signed-in" value="yes">
        <button class="govuk-link app-button-link" data-module="govuk-button">
          Continue with a registration
        </button>
      </form>
        
    </div>
</div>

{% endblock %}