{% extends "register-application/v11/start-page-guide-template.html" %}

{% set hideBackLink = true %}
{% set hideSaveLink = true %}
{% set hideSaveSection = true %}

{% block guideContent %}

  <h1 class="govuk-heading-l">Register a biodiversity gain site</h1>

  <p>Use this service to register a biodiversity gain site in England that developments can use to meet at least 10% biodiversity net gain.</p>

  <h2 class="govuk-heading-m">Who can register</h2>

  <p>A landowner, or someone acting on their behalf can register a biodiversity gain site.</p>

  <h2 class="govuk-heading-m">What you'll need</h2>

  <p>To register land as a biodiversity gain site, you'll need:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>consent from the landowner - if you're not the landowner</li>
    <li>a legal agreement securing the site for at least 30 years</li>
    <li>proof of ownership of the land</li>
    <li>a file showing the boundary of the land</li>
    <li>a completed Biodiversity Metric (Secretary of State version)</li>
    <li>a habitat management and monitoring plan</li>
  </ul>

  {{ govukButton({
    text: "Start now",
    href: "/register-application/v11/eligibility-start",
    isStartButton: true
  }) }}

  <h2 id="return-to-application" class="govuk-heading-m govuk-!-margin-top-2 govuk-!-margin-bottom-2">Return to a saved registration</h2>

  <p><a href="/register-application/v11/sign-in-return">Continue with a registration</a></p>

{% endblock %} 