{% extends "register-application/v11/layout-register-application.html" %}

{% set hideBackLink = true %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  <h1 class="govuk-heading-xl">{{ serviceName }}</h1>

  <p>Use this service if you want to register land that developments will use to meet their 10% biodiversity net gain.</p>

  <h2 class="govuk-heading-m">Who can register</h2>

  <p>A landowner, or someone acting on their behalf can register land as a biodiversity gain site.</p>

  <h2 class="govuk-heading-m">What you'll need</h2>

  <p>To register land as a biodiversity gain site, you'll need:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>the boundary of the land</li>
    <li>consent from the landowner - if you're not the landowner</li>
    <li>proof of ownership of the land</li>
    <li>a completed Biodiversity Metric 3.1 for the land</li>
    <li>a habitat management and monitoring plan</li>
    <li>a legal agreement securing the habitat enhancements for 30 years</li>
  </ul>

  {{ govukButton({
    text: "Start now",
    href: "/register-application/v11/eligibility-start",
    classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-0",
    isStartButton: true
  }) }}

  </div>
</div>

{% endblock %} 