<details class="govuk-details govuk-!-margin-top-6" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Need help?
    </span>
  </summary>
  <div class="govuk-details__text">
    <h2 class="govuk-heading-m">Contact Natural England</h2>
    <h3 class="govuk-heading-s">Email</h3>
    <p><a href="mailto:Biodiversityngdevelopment@naturalengland.org">Biodiversityngdevelopment@naturalengland.org</a></p>
    <h3 class="govuk-heading-s">Telephone</h3>
    <p>0300 060 3900</p>
    <p>Opening times: 8:30am to 5pm, Monday to Friday (excluding public holidays)</p>
  </div>
</details>