{% extends "layout-defra-id.html" %}
{% block beforeContent %}
{{super()}}
<a href="javascript: window.history.go(-1)" class="govuk-back-link">Back</a>
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Are you registering as a business or an individual?</h1>
    <form method="post" action="">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-visually-hidden">
            Are you registering as a business or an individual?
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="registrationAccountType" name="defraAccountType" type="radio" value="organisation~./uk-organisation" aria-describedby="registrationAccountType-item-hint">
              <label class="govuk-label govuk-radios__label" for="registrationAccountType">
                <strong>A business or organisation</strong>
              </label>
              <div id="registrationAccountType-item-hint" class="govuk-hint govuk-radios__hint">
                You represent a business or organisation that wants to use this service (including sole traders and charities) and you have permission to create an account for them
              </div>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="registrationAccountType-2" name="defraAccountType" type="radio" value="individual~./personal-name" aria-describedby="registrationAccountType-2-item-hint">
              <label class="govuk-label govuk-radios__label" for="registrationAccountType-2">
                <strong>An individual</strong>
              </label>
              <div id="registrationAccountType-2-item-hint" class="govuk-hint govuk-radios__hint">
                You want to use this service for your own personal use
              </div>
            </div>
          </div>
        </fieldset>
      </div>
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>
  </div>
</div>
{% endblock %}