{% extends "layout-defra-id.html" %}
{% block beforeContent %}
{{super()}}
<a href="javascript: window.history.go(-1)" class="govuk-back-link">Back</a>
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Are these the correct registered company details?</h1>
    <!-- <p>{{data.company | dump}}</p> -->
    <p class="govuk-body">We need to know the registered company details for verification purposes. It is typically the head office.</p>
    <h2 class="govuk-heading-m">{{data.company.company_name or  data.comapanyName}} </h2>
    <p><b>
      {% if data.company.type == "ltd" %}
      Limited Company
      {% else %}
      Limited Company
      {% endif %}
    </b></p>
    <p>{{data.company.registered_office_address.address_line_1 or "24 Edenhurst Ave"}},
          {% if data.company.registered_office_address.address_line_2%}
          {{data.company.registered_office_address.address_line_2 or "Fulham"}},
          {% endif %}
          {{data.company.registered_office_address.locality or "London"}},
          {{data.company.registered_office_address.postal_code or "SW6 3NP"}}</p>
    <p>Company number {{data.company.company_number or "1234567"}}. <a href="companies-house-number">Enter a different number</a>.</p>
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          That is not our registered office address
        </span>
      </summary>
      <div class="govuk-details__text">
        <p class="govuk-body">We must use the address that is registered with Companies House. If your address has changed then you must <a href="https://www.gov.uk/file-changes-to-a-company-with-companies-house" target="_blank">tell Companies House (opens in a new tab)</a>.</p>
        <p class="govuk-body">Once your details have been updated by Companies House you can return and continue your service registration providing it is within 3 days of your last login.</p>
      </div>
    </details>
    <form method="post" action="./company-contact">
      <input type="hidden" name="companyName" value="{{data.company.company_name or  data.comapanyName }}">

       <input type="hidden" name="address-line1" value="{{data.company.registered_office_address.address_line_1  or  data.address-line1 }}">

        <input type="hidden" name="address-town" value="{{data.company.registered_office_address.locality or  data.address-town }}">

        <input type="hidden" name="address-postcode" value="{{data.company.registered_office_address.postal_code or  data.address-postcode }}">

      <input type="text" class="govuk-visually-hidden" name="registrationCorrectDetails" id="registrationCorrectDetails" value="Yes">
      
      <button class="govuk-button" data-module="govuk-button">
        Confirm
      </button>
    </form>
  </div>

</div>
{% endblock %}