{% extends "layout-defra-id.html" %}
{% block beforeContent %}
{{super()}}
<a href="javascript: window.history.go(-1)" class="govuk-back-link">Back</a>
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">What is your name?</h1>
    <form method="post" action="./task-list-page-company-details">
      <div class="govuk-form-group">
        <label class="govuk-label" for="registrationFullName">
          First or given name
        </label>
        <input class="govuk-input govuk-!-width-three-quarters" id="registrationFullName" name="applicant-f-name" type="text">
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label" for="registrationSurname">
          Surname or family name
        </label>
        <input class="govuk-input govuk-!-width-three-quarters" id="registrationSurname" name="applicant-l-name" type="text">
      </div>
      <input type="hidden" name="personal-name-completed" value="yes">
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>
  </div>
</div>
{% endblock %}