{% extends "register-application/v15/layout-register-application.html" %}

{% set hideSaveLink = true %}

{% set pageHeading = "Before you start" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <h1 class="govuk-heading-l">
        {{ pageHeading }}
      </h1>

      <p>We'll ask you a few questions to check you have everything to register a biodiversity gain site.</p>

      {{ govukButton({
        text: "Continue",
        href: "/register-application/" + pageURL + "/eligibility-england"
      }) }}

      <p><a href="/register-application/{{ pageURL }}/details-name">Skip to registering a biodiversity gain site</a> if you know you have everything you need.</p>

    </div>
  </div>

{% endblock %}