{% extends "register-application/v16/layout-register-application.html" %}

{% set pageHeading = "When will the 30 year management and monitoring period start?" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <form method="post" action="/register-application/{{ pageURL }}/management-plan-confirm">

        {{ govukDateInput({
          id: "management-plan-date-end",
          namePrefix: "management-plan-date-end",
          fieldset: {
            legend: {
              text: pageHeading,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "For example, 15 3 2024"
          }
        }) }}

        {{ govukButton({ text: 'Continue' }) }}
        
      </form>

    </div>
  </div>

{% endblock %}
