{% extends "register-application/v16/layout-register-application.html" %}

{% set pageHeading = "Check the habitat management and monitoring details" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ pageHeading }}
      </h1>

      <dl class="govuk-summary-list">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Habitat management and monitoring plan uploaded
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['management-plan-upload'] or 'habitat-management-plan.pdf' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/register-application/v16/management-plan-check">
              Change<span class="govuk-visually-hidden"> Habitat management and monitoring plan uploaded</span>
              </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Start date of the 30 year management and monitoring period
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['management-plan-date-end-day'] or '15' }} {{ data['management-plan-date-end-month'] | monthToWordWithSpaces('March') }} {{ data['management-plan-date-end-year'] or '2023' }}
          </dd>
          <dd class="govuk-summary-list__actions">    
            <a class="govuk-link" href="/register-application/v16/management-plan-date-end">
              Change<span class="govuk-visually-hidden"> Start date of the 30 year management and monitoring period</span>
            </a>
          </dd>
        </div>
        
        <!--<div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Person or organisation responsible for habitat enhancement works
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['management-plan-works-name'] or 'Kevin Francis' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/register-application/v16/management-plan-works-name">
            Change<span class="govuk-visually-hidden"> Person or organisation responsible for habitat enhancement works</span>
            </a>
          </dd> 
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Person or organisation responsible for managing the biodiversity gain site
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['management-plan-maintaining-name'] or 'Kevin Francis' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/register-application/v16/management-plan-maintaining-name">
            Change<span class="govuk-visually-hidden"> Person or organisation responsible for managing the biodiversity gain site</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Person or organisation responsible for monitoring the biodiversity gain site
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['management-plan-monitoring-name'] or 'Kevin Francis' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/register-application/v16/management-plan-monitoring-name">
              Change<span class="govuk-visually-hidden"> Person or organisation responsible for monitoring the biodiversity gain site</span>
            </a>
          </dd>
        </div>-->
      </dl>

      <form method="post" action="/register-application/{{ pageURL }}/task-list">

        <input type="hidden" name="management-plan-confirm" value="yes">

        {{ govukButton({ text: 'Continue' }) }}
        
      </form>

    </div>
  </div>

{% endblock %}
