{% extends "register-application/v20/layout-register-application.html" %}
{% set pageHeading = "BNGP-3400 update to user role / consent v2" %}
{% block beforeContent %}
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">{{pageHeading}}</h1>
    <details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      This covers the 5 original Jira tickets
    </span>
  </summary>
  <div class="govuk-details__text">
    <ul class="govuk-list govuk-list--bullet">
      <li>
      <a href="https://eaflood.atlassian.net/browse/BNGP-3400">BNGP-3400 Conditional display of screens based on user role</a>
    </li>

 <li>
      <a href="https://eaflood.atlassian.net/browse/BNGP-2641">BNGP-2641 - Upload agent authorisation- Allocation</a>
    </li>
    <li>
      <a href="https://eaflood.atlassian.net/browse/BNGP-3137">BNGP-3137 - Capture contact record details</a>
      
    </li>
    <li>
      <a href="https://eaflood.atlassian.net/browse/BNGP-3137">BNGP-2641 - Upload agent authorisation- Allocation</a>

    </li>
    <li>and <br><a href="https://eaflood.atlassian.net/browse/BNGP-3104">BNGP-3104 - Update all Full name fields to First/Middle/Surname </a> 
    </li>
  </ul>
  </div>
</details>

    


    <h2 class="govuk-heading-m">Regisration journey</h2>
    <p><a href="https://app.mural.co/t/bng8991/m/bng8991/1693481087830/2c13312d709a2eb7a91032bb578cbdd28fed996b?sender=u405823e6e6d43861c2ef4196">View flow diagram</a></p>
    <h3 class="govuk-heading-s"><a href="">Main version 2.1</a></h3>
    <p></p>



        <details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Other versions (4)
    </span>
  </summary>
  <div class="govuk-details__text">
    <ul class="govuk-list govuk-list--bullet">
          <li><a href="/clear-data?url=/stories/BNGP-3400-user-role-consent/v2-2/task-list">Version 2.3</a>  <br>Basic version:  no change of defra ID and no other details</li>
          <li><a href="/clear-data?url=/stories/BNGP-3400-user-role-consent/v2-3/task-list">Version 2.3</a>  <br> edit name and email + add phone number</li>
      <li><a href="/clear-data?url=/stories/BNGP-3400-user-role-consent/v3/task-list">Version 3</a>  <br>end of task list. name needs to match a landowner on the legal agreement </li>
      <li><a href="/clear-data?url=/stories/BNGP-3400-user-role-consent/v4/task-list">Version 4</a>  <br>top of task list. automatically add applicant to legal agreement</li>
  </ul>
  </div>
</details>

      
    
    </ul>
<!--     <ul class="govuk-list govuk-list--bullet">
       <li><a href="/clear-data?url=/stories/BNGP-3400-user-role-consent/landowner-consent">Are you an agent acting on behalf of a client? (new)</a></li>
       <p class="govuk-!-margin-top-4 govuk-!-margin-top-2">Agent journey</p>

       <li><a href="/clear-data?url=/stories/BNGP-3400-user-role-consent/v2/applicant-details-upload-authorisation">Upload your letter of authority (updated)</a></li>
       <li><a href="/clear-data?url=/stories/BNGP-3400-user-role-consent/v2/applicant-details-upload-check">Check your letter of authority file</a>
</li>
<li><a href="/clear-data?url=/stories/BNGP-3400-user-role-consent/v2/applicant-details-confirm-agent">Check your details as an agent</a>
</li>
<li><a href="/clear-data?url=/stories/BNGP-3400-user-role-consent/v2/applicant-landowner-type">Is your client an individual or organisation?</a>
</li>
<li><a href="/clear-data?url=/stories/BNGP-3400-user-role-consent/v2/applicant-as-individual">What is your client’s name?</a>

</li>
<li><a href="/clear-data?url=/stories/BNGP-3400-user-role-consent/v2/applicant-as-organisation">What is your client's business name?
</a>

</li>
<p class="govuk-!-margin-top-4 govuk-!-margin-top-2">Landowner journey</p>
<li><a href="/clear-data?url=/stories/BNGP-3400-user-role-consent/v2/applicant-role-as-landowner">Are you applying as an organisation or an individual landowner or leaseholder?
</a>

</li>
<li><a href="/clear-data?url=/stories/BNGP-3400-user-role-consent/v2/applicant-details-confirm-landowner">Individual landowner or leasholder details
</a>

</li>
<li><a href="/clear-data?landowner-type=individual&url=/stories/BNGP-3400-user-role-consent/v2/applicant-details-confirm-landowner">Individual landowner or leasholder details
</a>

</li>
<li><a href="/clear-data?landowner-type=organisation&url=/stories/BNGP-3400-user-role-consent/v2/applicant-details-confirm-landowner">Representative of landowner or leasholder details
</a>

</li>



    </ul> -->




    <h2 class="govuk-heading-m">Allocation journey</h2>
    <p><a href="https://app.mural.co/t/bng8991/m/bng8991/1693481087830/2c13312d709a2eb7a91032bb578cbdd28fed996b?sender=u405823e6e6d43861c2ef4196">View flow diagram</a></p>

    <p>This is iterating from current dev version which still has the task list. We need a story to cover the move to a linear flow.</p>
    <ul class="govuk-list govuk-list--bullet ">
      <li><a href="/clear-data?url=/stories/BNGP-3400-user-role-consent/v2-1/allocation/task-list-allocation">From task list</a> (updated)</li>
    </ul>
  </div>
</div>
{% endblock %}