{% extends "register-application/v20/layout-register-application.html" %}

{% set pageHeading = "Upload written consent to register a biodiversity gain site" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ pageHeading }}
      </h1>
      
      <form method="post" action="/register-application/{{ pageURL }}/landowner-permission-check">

        <div id="landowner-certificate-upload-hint">
          <p>This needs to include:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>a written statement confirming the landowner or leaseholder's consent for you to act on their behalf</li>
            <li>the landowner or leaseholder's name and signature</li>
            <li>the date consent was given</li>
          </ul>

          <p>The file should be:</p> 
          <ul class="govuk-list govuk-list--bullet">
            <li>a DOC, DOCX or PDF</li>
            <li>no larger than 50MB</li>
          </ul>
        </div>  

        {{ govukFileUpload({
          id: "landowner-permission-upload",
          name: "landowner-permission-upload",
          label: {
            text: "Upload a file",
            classes:"govuk-visually-hidden"
          }
          
        }) }}
        <p class="govuk-!-padding-top-3"><a href="/register-application/{{ pageURL }}/landowner-consent-no">I do not have written consent</a></p>

        {{ govukButton({
          text: "Upload"
        }) }}
        
      </form>

    </div>
  </div>

{% endblock %}
