{% extends "register-application/v9/development/layout-register-application.html" %}

{% set pageHeading = "Check your planning obligation file" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ pageHeading }}
      </h1>


      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "File added",
              classes: "app-summary-list__key--narrow",
              classes: "govuk-!-width-one-quarter"
            },
            value: {
              html: '<a id="planning-obligation-download" download href="#">planning-obligation.pdf</a>, 1.2MB'
            }
          }
        ]
      }) }}
      
      <form method="post" action="/register-application/{{ pageURL }}/legal-agreement-planning-obligation-correct-answer">

        {{ govukRadios({
          idPrefix: "legal-agreement-planning-obligation-correct",
          name: "legal-agreement-planning-obligation-correct",
          fieldset: {
            legend: {
              text: "Is this file correct?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No, choose a different file"
            }
          ]
        }) }}
        
        {{ govukButton({ text: 'Continue' }) }}
        
      </form>

    </div>
  </div>

{% endblock %}
