{% extends "register-application/v9/development/layout-register-application.html" %}

{% set pageHeading = "Confirm off-site information" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

      <dl class="govuk-summary-list app-summary-list--border">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Off-site reference
          </dt>
          <dd class="govuk-summary-list__value">
            BNG220315001
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="/register-application/{{ pageURL }}/offsite-ref-check">
              Change<span class="govuk-visually-hidden"> Off-site reference</span>
            </a>
          </dd>
        </div>
        {% if data['offsite-multiple'] == 'yes' %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Off-site habitats
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-!-margin-bottom-3">
              Grassland, Other neutral grassland<br>
              <span class="govuk-!-font-size-16">
                Good condition, 2.4 ha, 5.87 units
              </span>
            </p>
            <p class="govuk-!-margin-bottom-3">
              Heathland and scrub, Hazel scrub<br>
              <span class="govuk-!-font-size-16">
                Good condition, 1.25 ha, 4.25 units
              </span>
            </p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="/register-application/{{ pageURL }}/offsite-allocate">
              Change<span class="govuk-visually-hidden"> Allocated units</span>
            </a>
          </dd>
        </div>
        {% else %}
        {% endif %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Legal agreement
          </dt>
          <dd class="govuk-summary-list__value">
            <a download href="/public/images/meadow-croft-farm-legal-agreement.pdf">meadow-croft-farm-legal-agreement.pdf</a>, 2.8MB
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="/register-application/{{ pageURL }}/check-planning-obligation">
              Change<span class="govuk-visually-hidden"> Legal agreement</span>
            </a>
          </dd>
        </div>
        <p class="govuk-!-margin-bottom-0 govuk-!-margin-top-2"><a href="#" class="govuk-link govuk-link--no-visited-state">
          Remove off-site<span class="govuk-visually-hidden">BNG220315001</span></a>
        </p>
      </dl>

      {% if data['offsite-multiple'] == 'yes' %}
      
      <hr class="app-divider">

      <dl class="govuk-summary-list app-summary-list--border">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Off-site reference
          </dt>
          <dd class="govuk-summary-list__value">
            BNG220127098
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="/register-application/{{ pageURL }}/offsite-ref-check">
              Change<span class="govuk-visually-hidden"> Off-site reference</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Off-site habitats
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-!-margin-bottom-3">
              Woodland and forest, Other woodland; mixed<br>
              <span class="govuk-!-font-size-16">
                Good condition, 0.5 ha, 1.93 units
              </span>
            </p>
            <p class="govuk-!-margin-bottom-3">
              Native species rich hedgerow<br>
              <span class="govuk-!-font-size-16">
                Good condition, 1.25 km, 2.82 units
              </span>
            </p>
            <p class="govuk-!-margin-bottom-3">
              Line of trees<br>
              <span class="govuk-!-font-size-16">
                Poor condition, 0.50 km, 3.45 units
              </span>
            </p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="/register-application/{{ pageURL }}/offsite-allocate">
              Change<span class="govuk-visually-hidden"> Allocated units</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Legal agreement
          </dt>
          <dd class="govuk-summary-list__value">
            <a download href="/public/images/meadow-croft-farm-legal-agreement.pdf">cleasby-farm-legal-agreement.pdf</a>, 2.1MB
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="/register-application/{{ pageURL }}/legal-agreement-planning-obligation-check">
              Change<span class="govuk-visually-hidden"> Legal agreement</span>
            </a>
          </dd>
        </div>
        <p class="govuk-!-margin-bottom-0 govuk-!-margin-top-2"><a href="#" class="govuk-link govuk-link--no-visited-state">
          Remove off-site<span class="govuk-visually-hidden">BNG220127098</span></a>
        </p>
      </dl>

      <hr class="app-divider">

      <a href="/register-application/{{ pageURL }}/offsite-ref" class="govuk-button govuk-button--secondary">Add another off-site</a>
      
      {% else %}
      {% endif %}

      <form method="post" action="/register-application/{{ pageURL }}/task-list">
        
        <input class="govuk-input" id="offsite-confirm" name="offsite-confirm" type="hidden" value="yes">
        
        {{ govukButton({ text: 'Continue' }) }}

      </form>

    </div>
  </div>

{% endblock %}
