{% extends "register-application/v9/development/layout-register-application.html" %}

{% set pageHeading = serviceName %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{ serviceName }}
      </h1>
      
      {% if data['answers-checked'] %}
        <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Registration complete</h2>
        <p class="govuk-body govuk-!-margin-bottom-4">You have completed 3 of 3 sections.</p>
      {% else %}
      <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Registration incomplete</h2>
        {% if data['development-confirm'] and data['metric-check-data'] == 'yes' and data['legal-agreement-financial-correct'] or data['development-confirm'] and data['metric-check-data'] == 'yes' and data['legal-agreement-planning-obligation-correct']%}
          <p class="govuk-body govuk-!-margin-bottom-4">You have completed 2 of 3 sections.</p>
        {% elif data['location-confirm'] and data['land-ownership-correct'] and data['management-plan-correct']  or data['location-confirm'] and data['land-registry-correct'] and data['management-plan-correct']  %}
          <p class="govuk-body govuk-!-margin-bottom-4">You have completed 1 of 3 sections.</p>
        {% else %}
          <p class="govuk-body govuk-!-margin-bottom-4">You have completed 0 of 4 sections.</p>
        {% endif %} 
      {% endif %} 

      <ol class="app-task-list govuk-!-padding-top-3">

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span> Planning reference number
          </h2>

          <ul class="app-task-list__items">

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                {% if data['development-confirm'] %}
                  <a href="/register-application/{{ pageURL }}/planning-ref-confirm" aria-describedby="landowner-permission-status">
                {% else %}
                  <a href="/register-application/{{ pageURL }}/planning-ref" aria-describedby="landowner-permission-status">
                {% endif %} 
                  Add planning reference number
                </a>
              </span>
              {% if data['development-confirm'] %}
                <strong class="govuk-tag govuk-tag app-task-list__tag" id="biodiversity-metric-status">Completed</strong>
              {% else %}
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="biodiversity-metric-status">Not started</strong>
              {% endif %} 
            </li>

          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span> Biodiversity Metric 3.0 calculations
          </h2>

          <ul class="app-task-list__items">

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                {% if data['metric-check-data'] == 'yes' %}
                  <a href="/register-application/{{ pageURL }}/metric-check-data" aria-describedby="landowner-permission-status">
                {% else %}
                <a href="/register-application/{{ pageURL }}/metric-upload" aria-describedby="landowner-permission-status">
                {% endif %} 
                  Upload Biodiversity Metric 3.0 calculations
                </a>
              </span>
              {% if data['metric-check-data'] == 'yes' %}
                <strong class="govuk-tag govuk-tag app-task-list__tag" id="biodiversity-metric-status">Completed</strong>
              {% else %}
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="biodiversity-metric-status">Not started</strong>
              {% endif %} 
            </li>

          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span> Off-site information
          </h2>

          <ul class="app-task-list__items">

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                {% if data['offsite-confirm'] == 'yes' %}
                  <a href="/register-application/{{ pageURL }}/offsite-confirm" aria-describedby="landowner-permission-status">
                {% else %}
                <a href="/register-application/{{ pageURL }}/offsite-ref" aria-describedby="landowner-permission-status">
                {% endif %} 
                  Add off-site information
                </a>
              </span>
              {% if data['offsite-confirm'] == 'yes' %}
                <strong class="govuk-tag govuk-tag app-task-list__tag" id="biodiversity-metric-status">Completed</strong>
              {% else %}
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="biodiversity-metric-status">Not started</strong>
              {% endif %} 
            </li>

          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">4. </span> Submit
          </h2>
          <ul class="app-task-list__items">

            <li class="app-task-list__item">
              {% if data['development-confirm'] and data['legal-agreement-financial-correct'] and data['metric-check-data'] == 'yes' or data['development-confirm'] and data['legal-agreement-planning-obligation-correct'] and  data['development-confirm'] and data['metric-check-data'] %}
                <span class="app-task-list__task-name">
                  <a href="/register-application/{{ pageURL }}/check-answers" aria-describedby="submit-application">
                    Check your answers, pay and apply
                  </a>
                </span>
              {% if data['payment-success'] %}
                <strong class="govuk-tag app-task-list__tag" id="submit-application">completed</strong>
              {% else %}
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-application">not started</strong>
              {% endif %} 
              {% else %}
                <span class="app-task-list__task-name">
                  Check your answers and pay
                </span>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-application">Cannot start yet</strong>
              {% endif %} 
            </li>

            <!--<li class="app-task-list__item">
              {% if data['development-confirm'] and data['legal-agreement-financial-correct'] and data['location-confirm'] and data['management-plan-correct'] and data['metric-correct'] and data['management-plan-correct'] and data['land-ownership-correct'] or data['development-confirm'] and data['legal-agreement-planning-obligation-correct'] and data['location-confirm'] and data['management-plan-correct'] and data['metric-correct'] and data['management-plan-correct'] and data['land-ownership-correct'] %}
                
              <span class="app-task-list__task-name">
                {% if data['payment-success'] %}
                  Pay the application fee
                {% else %}
                <a href="/register-application/{{ pageURL }}/payment" aria-describedby="eligibility-status">
                  Pay the application fee
                </a>
                {% endif %} 
              </span>

              {% if data['payment-success'] %}
                <strong class="govuk-tag app-task-list__tag" id="allocated-developments-status">completed</strong>
              {% else %}
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="allocated-developments-status">not started</strong>
              {% endif %} 

              {% else %}
                <span class="app-task-list__task-name">
                  Pay and submit your application
                </span>
                <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
              {% endif %} 
            </li>-->
          </ul>
        </li>

      </ol>

    </div>
  </div>

{% endblock %}
