// global styles for <a> and <p> tags
$govuk-global-styles: true;
$govuk-new-link-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

@import "node_modules/@hmcts/frontend/all";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "patterns/related-items";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
@import "patterns/login-nav";
@import "patterns/accessible-autocomplete";
@import "patterns/contents-list";
@import "patterns/search-results";
@import "patterns/app-header";
@import "patterns/app-map";
@import "patterns/lead-paragraph";
@import "patterns/app-nav";
@import "patterns/app-button-link";
@import "patterns/govuk-search";
@import "govuk";

// MOJ side nav
.moj-side-navigation {
  padding-top: 0;

  @media (max-width: 40.0525em) {
    margin-bottom: 40px;
  }
}

// Tag component
.app-tag--heading {
  display: block;
}

// Float right desktop
@include govuk-media-query($from: desktop) {
  .app-float-right-desktop {
    float: right;
  }
}

// Email container
.govuk-width-container-email {
  max-width: 600px;
}

// Summary list
.app-summary-list-key-long {
  .govuk-summary-list__key {
    @include govuk-media-query($from: tablet) {
      width: 50%;
    }
  }
}

// Table - responsive
.app-table-responsive {
  overflow-x: auto;
}

// Save and return
.app-save__wrapper {
  min-height: 40px;
  position: relative;
}

.app-save {
  margin-top: govuk-spacing(2);
  position: absolute;
  right: 0;
  top: 3px;
  text-align: right;
}

// Responsive bottom margin
.responsive-bottom-margin {
  margin-bottom: 15px
}

@media (min-width: 40.0625em) {
  .responsive-bottom-margin {
      margin-bottom:50px
  }
}

// Task list
@media (min-width: 28.125em) {
  .app-task-list__task-name {
    max-width: 70%;
  }
}

// Radios inline
.app-radios--inline {
  .govuk-radios__item {
    clear: none;
  }
}

// Link used for an action in a table eg: 'Remove' or 'Update'
.app-link--action-top {
  display: inline-block;
  margin-bottom: 10px;
}

// Autocomplete input
.autocomplete__input {
  height: 40px;
}

// HR
.app-divider {
  background-color: $govuk-border-colour;
  border: 0;
  height: 1px;
  margin-bottom: 40px;
  margin-top: 40px;

  @media (max-width: 40.0625em) {
    margin-bottom: 30px;
    margin-top: 30px;
  }
}

.app-divider--blue {
  background-color: $govuk-brand-colour;
}

.app-divider--chunk {
  height: 5px;
}

// Secondary text colour
.app-secondary-text-colour {
  color: #505a5f;
}

// Text colour
.app-text-colour {
  color: #0b0c0c;
}

.app-search-results__development + .app-search-results__development {
  display: block;
  margin-top: 3px;
}

.app-table__cell--padding-left {
  padding-left: 20px !important;
}

.app-table__cell--padding-right {
  padding-right: 20px !important;
}

.app-table__cell--grey {
  background-color: #f3f2f1;
}

// app-summary-list

.app-summary-list__actions-list {
  list-style: none;
  padding: 0;
  width: 100%;
    margin: 0;
    padding: 0;
}

.app-summary-list__actions-item{
  display: inline;
  margin-right: 10px;
  padding-right: 10px;
}

.app-summary-list__actions-item:not(:last-child) {
  border-right: 1px solid #b1b4b6;
}

.govuk-summary-list__key,
.govuk-summary-list__actions {
  vertical-align: top;
}

.app-task-list__items {
  padding-left: 0;
}

.app-table__header--mobile {
  width: 40%;

  @include govuk-media-query($from: tablet) {
    width: 60%;
  }
}

.app-summary-list-wrapper {
  border: 1px solid #b1b4b6;
  display: block;
  margin: 10px 0 30px;
  padding: 50px 20px 0;
  position: relative;

  @media (max-width: 40.0625em) {
    padding: 50px 10px 5px;
  }
}

a:link.app-link--red {
  color: #d4351c;

  &:focus {
    color:#0b0c0c;
  }
}

.app-summary-list-wrapper-heading {
  background: #f3f2f1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.app-summary-list-wrapper-heading-text {
  margin: 0;
  padding: 10px 20px;

  @media (max-width: 40.0625em) {
    padding: 10px;
  }
}

.govuk-table__cell--numeric {
  .govuk-input__wrapper {
    justify-content: flex-end;
  }
}

.app-list--border {
  li {
    border-bottom: 1px solid #b1b4b6;
    padding: 0 0 5px;

    &:last-of-type {
      border-bottom: none;
      padding-bottom: 0;
    }
  }
}

// Accordion

.app-accordion {

  .govuk-accordion__controls {
    display: none;
  }

  .govuk-accordion__section-button {
    padding-bottom: 0;
  }

  .app-accordion__section--no-data {

    .govuk-accordion__section-toggle {
      display: none;
    }

    .govuk-accordion__section-button {
      cursor: default;

      &:hover {
        background: transparent;
      }
    }

  }

  .govuk-accordion__section-button[aria-expanded="true"] {
    padding-bottom: 0;
  }

  .govuk-accordion__section-content {
    padding-bottom: 20px;
    padding-top: 0;
  }

}

.app-accordion__section-heading-sub {
    display: block;
    margin-bottom: 0;
    margin-top: 2px;
}

// Dashboard 
.inset-dashboard {
  border-left-color: #d53880;
}

.dashboard-panel {
  background: #f3f2f1;
  padding: 15px 25px;
  margin: 15px 0 30px;
}