// global styles for <a> and <p> tags
$govuk-global-styles: true;
$govuk-new-link-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "patterns/related-items";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

@import "patterns/login-nav";
@import "patterns/accessible-autocomplete";
@import "patterns/contents-list";
@import "patterns/search-results";
@import "patterns/app-header";
@import "patterns/app-map";
@import "patterns/lead-paragraph";
@import "patterns/app-nav";
@import "patterns/app-button-link";

// MOJ side nav
.moj-side-navigation {
  padding-top: 0;

  @media (max-width: 40.0525em) {
    margin-bottom: 40px;
  }
}

// Tag component
.app-tag--heading {
  display: block;
}

// Float right desktop
@include govuk-media-query($from: desktop) {
  .app-float-right-desktop {
    float: right;
  }
}

// Email container
.govuk-width-container-email {
  max-width: 600px;
}

// Summary list
.app-summary-list-key-long {
  .govuk-summary-list__key {
    @include govuk-media-query($from: tablet) {
      width: 50%;
    }
  }
}

// Table - responsive
.app-table-responsive {
  overflow-x: auto;
}

// Save and return
.app-save__wrapper {
  min-height: 40px;
  position: relative;
}

.app-save {
  margin-top: govuk-spacing(2);
  position: absolute;
  right: 0;
  top: 3px;
  text-align: right;
}

// Responsive bottom margin
.responsive-bottom-margin {
  margin-bottom: 15px
}

@media (min-width: 40.0625em) {
  .responsive-bottom-margin {
      margin-bottom:50px
  }
}

// Task list
@media (min-width: 28.125em) {
  .app-task-list__task-name {
    max-width: 70%;
  }
}

// Radios inline
.app-radios--inline {
  .govuk-radios__item {
    clear: none;
  }
}

// Link used for an action in a table eg: 'Remove' or 'Update'
.app-link--action-top {
  display: inline-block;
  margin-bottom: 10px;
}

// Autocomplete input
.autocomplete__input {
  height: 40px;
}

// HR
.app-divider {
  background-color: $govuk-border-colour;
  border: 0;
  height: 1px;
  margin-bottom: 40px;
  margin-top: 40px;

  @media (max-width: 40.0625em) {
    margin-bottom: 30px;
    margin-top: 30px;
  }
}

.app-divider--blue {
  background-color: $govuk-brand-colour;
}

.app-divider--chunk {
  height: 5px;
}

// Secondary text colour
.app-secondary-text-colour {
  color: #505a5f;
}