{% extends "layout-register.html" %}

{% set navType = "Applications" %}
{% set pageHeading = "Your applications" %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">{{ pageHeading }}</h1>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col"> Application number </th>
            <th class="govuk-table__header" scope="col"> Location </th>
            <th class="govuk-table__header" scope="col"> Status </th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="/sprint-1/register/application">BNG 15384</a>
            </td>
            <td class="govuk-table__cell">
              24 Cleasby Road, Menston LS29 6JE 
            </td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "Approved",
                classes: "govuk-tag--green"
              })}}
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="/sprint-1/register/application">BNG 89765</a>
            </td>
            <td class="govuk-table__cell">
              Clarkson's Farm, Chipping Norton, Cotswolds
            </td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "In review",
                classes: "govuk-tag--blue"
              })}}
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="/sprint-1/register/application">BNG 26567</a>
            </td>
            <td class="govuk-table__cell">
              None Go Bye Farm, Horsforth, Leeds LS18 5HZ
            </td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "Not submitted",
                classes: "govuk-tag--yellow"
              })}}
            </td>
          </tr>
        </tbody>
      </table>

      {{ govukButton({
        text: "Start a new application"
      }) }}

    </div>
  </div>
{% endblock %}