
{% extends "layout-register.html" %}

{% set navType = "Search" %}
{% set pageURL = "sprint-1" %}
{% set pageHeading = "Search the register" %}

{% block beforeContent %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post" action="/{{ pageURL }}/register/search-results">

      {{ govukInput({
        label: {
          text: "Search the register",
          classes: "govuk-label--xl",
          isPageHeading: true
        },
        hint: {
          text: "Enter BNG number, postcode or street name"
        },
        id: "search-register",
        name: "search-register"
      }) }}

      {{ govukButton({
        text: "Search"
      }) }}

    </form>

      <!--<h2 class="govuk-heading-m">Other ways to search</h2>
      <p><a href="/sprint-1/register/search-number">Search by BNG reference number</a></p>-->

    </div>
  </div>

{% endblock %}
