
{% extends "layout-register.html" %}

{% set navType = "Search" %}
{% set pageURL = "sprint-1" %}
{% set pageHeading = "Search the register" %}

{% block beforeContent %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {%- from "moj/components/search/macro.njk" import mojSearch -%}

      {{ mojSearch({
        action: '/sprint-1/register/search-results',
        method: 'post',
        classes: 'govuk-!-margin-bottom-5',
        input: {
          id: 'search',
          name: 'search'
        },
        label: {
          text: 'Search the register',
          classes: "govuk-label--xl",
          isPageHeading: true
        },
        hint: {
          text: 'Enter BNG number, postcode or street name'
        },
        button: {
          text: 'Search'
        }
      }) }}

      <!--<h2 class="govuk-heading-m">Other ways to search</h2>
      <p><a href="/sprint-1/register/search-number">Search by BNG reference number</a></p>-->

    </div>
  </div>

{% endblock %}
