
{% extends "layout-register.html" %}

{% set pageHeading = "Search the register" %}

{% block beforeContent %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <form action="/sprint-1/register/site-record-public" method="post">
      
        {{ govukInput({
          label: {
            text: "Search by BNG reference number",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "For example, 'BNG 15384'"
          },
          id: "search-number",
          name: "search-number"
        }) }}

        {{ govukButton({
          text: "Search"
        }) }}

      </form>

      <h2 class="govuk-heading-m">Other ways to search</h2>
      <p><a href="/sprint-1/register/search-postcode">Search by postcode or street name</a></p>

    </div>
  </div>

{% endblock %}
