
{% extends "layout.html" %}

{% set pageHeading = "Search the register" %}

{% block beforeContent %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <form action="/sprint-1/register/search-results" method="post">
      
        {{ govukInput({
          label: {
            text: "Search by postcode or street name",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "For example, 'LS29 6JE' or 'Cleasby Road'"
          },
          id: "search-postcode",
          name: "search-postcode"
        }) }}

        {{ govukButton({
          text: "Search"
        }) }}

      </form>

      <h2 class="govuk-heading-m">Other ways to search</h2>
      <p><a href="/sprint-1/register/search-number">Search by BNG reference number</a></p>

    </div>
  </div>

{% endblock %}
