
{% extends "layout-register.html" %}

{% set pageURL = "sprint-1" %}
{% set pageHeading = "Sign in" %}

{% block beforeContent %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/{{ pageURL }}/register/search" method="post" class="form">
      
        {% call govukFieldset({
          legend: {
            text: "Sign in",
            classes: "govuk-fieldset__legend--xl",
            isPageHeading: true
          }
        }) %}

        <p class="govuk-body">
          If you do not have an account, you can
          <a class="govuk-link govuk-link--no-visited-state" href="#">create one now</a>.
        </p>
        
          {{ govukInput({
            label: {
              text: 'Username or email'
            },
            id: "signin-name",
            name: "signin-name",
            classes: "govuk-!-width-two-thirds"
          }) }}

          {{ govukInput({
            label: {
              text: 'Password'
            },
            id: "signin-password",
            name: "signin-password",
            type: "password",
            classes: "govuk-!-width-two-thirds"
          }) }}

          {{ govukButton({
            text: "Continue"
          }) }}
        
        {% endcall %}

      </form>

      <p><a href="#">Forgotten your password?</a></p>

    </div>
  </div>

{% endblock %}
