
{% extends "layout-register.html" %}

{% set pageURL = "sprint-1" %}

{% block header %}
  {% include "includes/header-sign-in.html" %}
{% endblock %}

{% set pageHeading = "You have signed out" %}

{% block beforeContent %}
{% endblock %}

{% block content %}

  <form method="post">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          {{ pageHeading }}
        </h1>
  
        {{ govukButton({
          text: "Search register"
        }) }}
      </div>
    </div>
  </form>

{% endblock %}
