
{% extends "layout-register.html" %}

{% set navType = "Search" %}
{% set pageURL = "sprint-1" %}
{% set pageHeading = "BNG 15384" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Search results",
    href: "javascript: window.history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Biodiversity Net Gain Site</span>
         {{ pageHeading }}
      </h1>

      <p>Medowcroft Farm<br>Goose Ln<br>Leeds<br>LS20 8PJ</p>
      <p><a href='#/'>See on a map</a></p>

      <h2 class="govuk-heading-l">Biodiversity Metric Calculations</h2>
      <p>Including all on-site and off-site habitat retention, creation and enhancement.</p>

      <table class="govuk-table">
        <caption class="govuk-visually-hidden">Summary figures</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Type</th>
            <th scope="col" class="govuk-table__header">Net project biodiversity units</th>
            <th scope="col" class="govuk-table__header">Total project biodiversity % change</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">Habitat units</td>
            <td class="govuk-table__cell">0.00</td>
            <td class="govuk-table__cell">0.00%</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">Hedgerow units</td>
            <td class="govuk-table__cell">0.00</td>
            <td class="govuk-table__cell">0.00%</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">River units</td>
            <td class="govuk-table__cell">0.00</td>
            <td class="govuk-table__cell">0.00%</td>
          </tr>
        </tbody>
      </table>

      <p><a href="#">See detailed calculations</a></p>

      <h2 class="govuk-heading-l">Planning details</h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Local authority"
            },
            value: {
              text: "Leeds City Council"
            }
          },
          {
            key: {
              text: "Planning application reference"
            },
            value: {
              text: "21/02367/FUL"
            }
          }
        ]
      }) }}

  </div>

{% endblock %}
