{% extends "register-application/v3/layout-register-application.html" %}

{% set pageHeading = "Check your answers before submitting the application" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript: window.history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ pageHeading }}
      </h1>

      <h2 class="govuk-heading-m">Biodiversity gain site information</h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Site location"
            },
            value: {
              html: "Meadowcroft Farm<br>Goose Ln<br>Leeds<br>LS20 8PJ</p>"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "site location"
                }
              ]
            }
          },
          {
            key: {
              text: "Implementation plan summary"
            },
            value: {
              text: "A summary of how the habitat enhancements will be implemented"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "site location"
                }
              ]
            }
          },
          {
            key: {
              text: "Implemented by"
            },
            value: {
              text: "Robinson Developments Limited"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "site location"
                }
              ]
            }
          },
          {
            key: {
              text: "Management plan summary"
            },
            value: {
              text: "A summary of how the habitat enhancements will be managed and monitored"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "site location"
                }
              ]
            }
          },
          {
            key: {
              text: "Managed by"
            },
            value: {
              text: "Robinson Developments Limited"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "site location"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">Planning details</h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Local authority"
            },
            value: {
              text: "Leeds City Council"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "site location"
                }
              ]
            }
          },
          {
            key: {
              text: "Planning application reference"
            },
            value: {
              text: "21/02367/FUL"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "site location"
                }
              ]
            }
          }
        ]
      }) }}

    </div>
  </div>

{% endblock %}
