{% extends "register-application/v3/layout-register-application.html" %}

{% set pageHeading = "Confirm the land boundary" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript: window.history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ pageHeading }}
      </h1>

      <img src="/public/images/location-confirm.png" alt="" width="100%" style="margin-bottom: 20px; border: 1px solid #b1b4b6;">

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Address"
            },
            value: {
              html: "Meadow Croft Farm, <br>Goose Lane, <br>Leeds, <br>LS20 8PJ"
            }
          },
          {
            key: {
              text: "Grid Reference"
            },
            value: {
              text: "SP41989814"
            }
          },
          {
            key: {
              text: "Latitude, Longitude"
            },
            value: {
              text: "52.579466, -1.381870"
            }
          }
        ]
      }) }}

      
      <form method="post" action="/register-application/{{ pageURL }}/location-import-confirm-answer">

        {{ govukRadios({
          idPrefix: "location-confirm",
          name: "location-confirm",
          fieldset: {
            legend: {
              text: "Is the location correct?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes, this is the land boundary"
            },
            {
              value: "no-again",
              text: "No, import a different file"
            },
            {
              value: "no",
              text: "No, provide the land boundary a different way"
            }
          ]
        }) }}
        
        {{ govukButton({ text: 'Continue' }) }}
        
      </form>

    </div>
  </div>

{% endblock %}
