{% extends "register-application/v3/layout-register-application.html" %}

{% set pageHeading = "Upload the completed biodiversity metric calculation tool" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript: window.history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ pageHeading }}
      </h1>
      
      <form method="post" action="/register-application/{{ pageURL }}/metric-upload-check">

        {{ govukFileUpload({
          id: "metric-upload",
          name: "metric-upload",
          label: {
            text: "Upload a file",
            classes:"govuk-visually-hidden"
          }
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
        
      </form>

    </div>
  </div>

{% endblock %}
