{% extends "register-application/v3/layout-register-application.html" %}

{% set pageHeading = "Register a biodiversity gain site" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{ pageHeading }}
      </h1>

      <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Application incomplete</h2>
      
      {% if data['declaration']  %}
      <p class="govuk-body govuk-!-margin-bottom-7">You have completed 3 of 3 sections.</p>
      {% elif data['planningref']  %}
      <p class="govuk-body govuk-!-margin-bottom-7">You have completed 2 of 3 sections.</p>
      {% elif data['landowner'] == 'yes' and data['location-confirm'] and data['interested-third-parties'] and data['metric-correct'] and data['land-management-responsible'] %}
      <p class="govuk-body govuk-!-margin-bottom-7">You have completed 1 of 3 sections.</p>
      {% else %}
      <p class="govuk-body govuk-!-margin-bottom-7">You have completed 0 of 3 sections.</p>
      {% endif %} 

      <ol class="app-task-list">

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span> Provide information on the biodiversity gain site
          </h2>
          <ul class="app-task-list__items">

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/register-application/{{ pageURL }}/landowner" aria-describedby="landowner-permission-status">
                  Landowner permission
                </a>
              </span>
              {% if data['landowner'] == 'yes' or data['landowner-permission'] == 'yes' %}
              <strong class="govuk-tag govuk-tag app-task-list__tag" id="landowner-permission-status">Completed</strong>
              {% else %}
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="landowner-permission-status">Not started</strong>
              {% endif %} 
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/register-application/{{ pageURL }}/location-options" aria-describedby="location-status">
                  Location
                </a>
              </span>
              {% if data['location-confirm'] == 'yes' %}
              <strong class="govuk-tag govuk-tag app-task-list__tag" id="location-status">Completed</strong>
              {% elif data['location-confirm'] == 'no' or data['location-confirm'] == 'no-again'%}
              <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="location-status">In progress</strong>
              {% else %}
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="location-status">Not started</strong>
              {% endif %} 
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/register-application/{{ pageURL }}/interested-third-parties" aria-describedby="interested-third-parties-status">
                  Interested third parties
                </a>
              </span>
              {% if data['interested-third-parties'] %}
              <strong class="govuk-tag govuk-tag app-task-list__tag" id="interested-third-parties-status">Completed</strong>
              {% else %}
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="interested-third-parties-status">Not started</strong>
              {% endif %} 
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/register-application/{{ pageURL }}/metric" aria-describedby="biodiversity-metric-status">
                  The biodiversity metric
                </a>
              </span>
              {% if data['metric-correct'] %}
              <strong class="govuk-tag govuk-tag app-task-list__tag" id="biodiversity-metric-status">Completed</strong>
              {% else %}
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="biodiversity-metric-status">Not started</strong>
              {% endif %} 
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/register-application/{{ pageURL }}/land-management-responsible" aria-describedby="land-management-status">
                  Management and monitoring
                </a>
              </span>
              {% if data['land-management-responsible'] %}
              <strong class="govuk-tag govuk-tag app-task-list__tag" id="land-management-status">Completed</strong>
              {% else %}
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="land-management-status">Not started</strong>
              {% endif %} 
            </li>

          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span> Give details of the development this site is allocated to
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              {% if data['landowner'] == 'yes' and data['location-confirm'] and data['interested-third-parties'] and data['metric-correct'] and data['land-management-responsible'] %}
              <span class="app-task-list__task-name">
                <a href="/register-application/{{ pageURL }}/development-local-authority" aria-describedby="allocated-developments-status">
                  Development information
                </a>
              </span>
              {% if data['planningref'] %}
              <strong class="govuk-tag app-task-list__tag" id="allocated-developments-status">completed</strong>
              {% else %}
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="allocated-developments-status">not started yet</strong>
              {% endif %} 
              {% else %}
              <span class="app-task-list__task-name">
                Development information
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="allocated-developments-status">Cannot start yet</strong>
              {% endif %} 
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span> Pay and apply
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              {% if data['planningref'] %}
                
              <span class="app-task-list__task-name">
                <a href="/register-application/{{ pageURL }}/payment" aria-describedby="eligibility-status">
                  Pay the application fee
                </a>
              </span>


              {% if data['payment-success'] %}
              <strong class="govuk-tag app-task-list__tag" id="allocated-developments-status">completed</strong>
              {% else %}
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="allocated-developments-status">not started yet</strong>
              {% endif %} 

              {% else %}
              <span class="app-task-list__task-name">
                Pay the application fee
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
              {% endif %} 
            </li>
            <li class="app-task-list__item">
              {% if data['payment-success'] %}
              <span class="app-task-list__task-name">
                <a href="/register-application/{{ pageURL }}/declaration" aria-describedby="submit-application">
                  Submit the application
                </a>
              </span>
              {% if data['declaration'] %}
              <strong class="govuk-tag app-task-list__tag" id="submit-application">completed</strong>
              {% else %}
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-application">not started yet</strong>
              {% endif %} 
              {% else %}
              <span class="app-task-list__task-name">
                Submit the application
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-application">Cannot start yet</strong>
              {% endif %} 
            </li>
          </ul>
        </li>

      </ol>

      {% include "includes/save-and-exit.html" %}

    </div>
  </div>

{% endblock %}
