
{% extends "register-application/v18/layout-register-application.html" %}



{% set userTypeText = "What is your client's" %}
{% if data['is-agent'] == 'no' %}
{% set userTypeText = "What is your" %}
{% endif %}

{% set pageHeading = userTypeText+" name?" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
     {% if data["is-agent"] == "yes" and data["client-is-landowner"] == "no" %}
 {% set nextPage = "applicant-two-uploads-interstitial" %}
{% endif %}

{% if data["is-agent"] == "no" and data["client-is-landowner"] == "no" %}
 {% set nextPage = "applicant-authorisation-as-nrp" %}
{% endif %}

{% if data["is-agent"] == "yes" and data["client-is-landowner"] == "yes" %}
 {% set nextPage = "applicant-details-upload-authorisation" %}
{% endif %}


      <form method="post" action="./{{nextPage}}">
        <input type="hidden" name="legal-party-type" value="{{data['legal-party-type']}}">
        
        {% call govukFieldset({
          legend: {
            text: pageHeading,
            classes: 'govuk-fieldset__legend--l',
            isPageHeading: true
          }
        }) %}
        <p>They must be named as a landowner or leaseholder on the legal agreement. </p>
         <!-- Set the value if this is changing/updating an LP. -->
        {% if query.change == "yes" %}
        {% set fname = data["applicant-f-name"] %}
        {% set lname = data["applicant-l-name"] %}
        {% endif %}
        {{ govukInput({
          name: 'applicant-f-name',
          value: fname,
          label: {
            html: 'First name'
          }
        }) }}
        {{ govukInput({
          name: 'applicant-l-name',
          value: lname,
          autocomplete: "family-name",
          spellcheck: false,
          label: {
            html: 'Last name'
          }
        }) }}
    
        {% endcall %}
        <input type="hidden" name="details-confirm" value="yes">
        {{ govukButton({
          text: "Save and continue"
        }) }}
        
      </form>

    </div>
  </div>

{% endblock %}
