{% extends "register-application/v21/layout-register-application.html" %}

{% set userTypeText = "Is your client" %}
{% if data['is-agent'] == 'no' %}
{% set userTypeText = "Are you" %}
{% endif %}
{% set pageHeading = userTypeText+" an individual or organisation?" %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- action controled in ./_routes.js -->
    <form method="post" action="applicant-details-confirm">

      {{ govukRadios({
      name: "applicant-type",
      fieldset: {
      legend: {
      text: pageHeading,
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
      }
      },
      items: [
      {
      value: "individual",
      text: "An individual"
      },
      {
      value: "organisation",
      text: "An organisation"
      }
      ]
      }) }}
      {{ govukButton({
      text: "Save and continue"
      }) }}
    </form>
  </div>
</div>
{% endblock %}