{% extends "register-application/v21/layout-register-application.html" %}

{% set pageHeading = "Upload written consent to use a biodiversity gain site for off-site gain" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if data["is-agent"] == "yes" and data["client-is-landowner"] == "no" %}
      <span  class="govuk-caption-l">Proof of permission 2 of 2</span>
      {% endif %}
      <h1 class="govuk-heading-l">
        {{ pageHeading }}
      </h1>
      
      <form method="post" action="./applicant-authorisation-as-nrp-check">

        <div id="landowner-certificate-upload-hint">
          
          <p>
            It must include:
            <!-- Conditional content if your are an agent on behalf of NRP or not-->
          </p>
          <ul class="govuk-list govuk-list--bullet">
            <li>a written statement confirming the landowner or leaseholder's consent for your development to use the habitats listed in this application for off-site gain</li>
            <li>the names and signatures of all landowners or leaseholders</li>
            <li>the date consent was given</li>
          </ul>
          
          
        </div>  

        {{ govukFileUpload({
          id: "landowner-consent-upload",
          name: "landowner-consent-upload",
          label: {
            text: "Upload a file",
            classes:"govuk-label--s"
          },
          hint: {
            html: '<p>The file should be:</p> 
          <ul class="govuk-list govuk-list--bullet">
            <li>a DOC, DOCX or PDF</li>
            <li>no larger than 50MB</li>
          </ul>'
          }
          
        }) }}
        

        {{ govukButton({
          text: "Upload"
        }) }}
        
      </form>

    </div>
  </div>

{% endblock %}
