
{% extends "register/v2/layout-register.html" %}

{% set pageHeading = "21/02367/FUL" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript: window.history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Development</span>
         {{ pageHeading }}
      </h1>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Planning reference number"
            },
            value: {
              text: pageHeading
            }
          },
          {
            key: {
              text: "Local planning authority"
            },
            value: {
              text: "Leeds City Council"
            }
          }
        ]
      }) }}

      <!--<h2 class="govuk-heading-l govuk-!-padding-top-1">Total biodiversity net change</h2>
      <p>Including all on-site and off-site habitat retention, creation and enhancement.</p>

      <div class="govuk-grid-row govuk-!-margin-top-4 govuk-!-margin-bottom-4">
        <div class="govuk-grid-column-one-third">
          <p class="govuk-!-font-size-48 govuk-!-font-weight-bold govuk-!-margin-bottom-0">10.13%</p>
          <p>Habitats</p>
        </div>
        <div class="govuk-grid-column-one-third">
          <p class="govuk-!-font-size-48 govuk-!-font-weight-bold govuk-!-margin-bottom-0">53.57%</p>
          <p>Hedgerows</p>
        </div>
        <div class="govuk-grid-column-one-third">
          <p class="govuk-!-font-size-48 govuk-!-font-weight-bold govuk-!-margin-bottom-0">0.00%</p>
          <p>Rivers</p>
        </div>
      </div>

      <hr class="app-divider">-->

      <!--<div class="app-table-responsive">
        <table class="govuk-table">
          <caption class="govuk-visually-hidden">Summary figures</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header" style="width:40%"></th>
                <th scope="col" class="govuk-table__header">Habitats</th>
                <th scope="col" class="govuk-table__header">Hedgerows</th>
                <th scope="col" class="govuk-table__header">Rivers</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-padding-top-7">Total net unit change</th>
                <td class="govuk-table__cell govuk-!-padding-top-7">1.23</td>
                <td class="govuk-table__cell govuk-!-padding-top-7">0.98</td>
                <td class="govuk-table__cell govuk-!-padding-top-7">0.00</td>
              </tr>
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__header">Total on-site net % change plus off-site surplus</td>
                <td class="govuk-table__cell">10.13%</td>
                <td class="govuk-table__cell">53.57%</td>
                <td class="govuk-table__cell">0.00%</td>
              </tr>
          </tbody>
        </table>
      </div>-->

      <h2 class="govuk-heading-m govuk-!-padding-top-2">Off-sites used for biodiversity net gain</h2>

      <ul class="govuk-list">
        <li class="govuk-!-margin-bottom-4">
          <span class="govuk-visually-hidden">Site reference:</span> <a href="/register/{{ pageURL }}/site-a" class="app-search-results__item-title">BNG-220115001</a>
          <p class="app-search-results__item-description">
            <span class="govuk-visually-hidden">Location:</span> 
            Meadowcroft Farm, Goose Ln, Leeds, LS20 8PJ
          </p>
        </li>
        <li>
          <span class="govuk-visually-hidden">Site reference:</span> <a href="/register/{{ pageURL }}/site-a" class="app-search-results__item-title">BNG-220129102</a>
          <p class="app-search-results__item-description">
            <span class="govuk-visually-hidden">Location:</span> 
            Clifton View, Hillings Ln, Ilkley LS20 6AX
          </p>
        </li>
      </ul>

      <hr class="app-divider">

      <h2 class="govuk-heading-m">Documents</h2>
      <ul class="govuk-list govuk-list--spaced">
        <li><a download href="#">Planning Obligation (PDF, 1.4MB)</a></li>
        <li><a download href="#">Complete Biodiversity Metric 3.0 Calculations (Excel, 4.2MB)</a></li>
      </ul>

      {% include "register/v2/includes/start-new-search.html" %}

    </div>
  </div>

{% endblock %}
