{% extends "register-application/v21/layout-register-application.html" %}

{% set hideSaveLink = true %}

{% set pageHeading = "Your Defra account must be linked to the landowner or leaseholder organisation" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <h1 class="govuk-heading-l">{{pageHeading}}</h1>



      <form method="post" class="govuk-!-padding-top-5" action="./applicant-address-in-uk">
        
        <p>Your Defra account is not linked to any organisation.</p> 

        <p>You've told us you're applying as part of a landowner or leaseholder organisation. Your Defra account must be linked to this organisation.</p>
        
        <p><a href="https://cust-id-prototype.herokuapp.com/account/manage/account" >View your Defra account details</a></p>

        <p>To continue with this application, you should:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>add your details to the organisation's Defra account</li>
          <li>create a new Defra account for the organisation, if the organisation does not already have one</li>
        </ul>




        <details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Contact the Biodiversity Net Gain team if you need help
    </span>
  </summary>
  <div class="govuk-details__text">
    <p>Telephone: 0190 050 8628<br>
      Monday to Friday, 8:30am to 5pm (except public holidays)</p>
      <p><a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>
  </div>
</details>


       

       

      </form>

    </div>
  </div>

{% endblock %}
