{% extends "register-application/v21/layout-register-application.html" %}

{% set pageHeading = "Upload written authorisation to apply" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ pageHeading }}
      </h1>
      
      <form method="post" action="./applicant-upload-check">
        {% if data["applicant-type"] == "individual" %}
        {% set landowner = (data["applicant-f-name"]or "Jo" )+" "+data["applicant-m-name"]+" "+(data["applicant-l-name"] or "Johnson") %}
        {% else %}
         {% set landowner = data["applicant-org-name"] or "Acme farming inc" %}
        {% endif %}
        <div id="landowner-certificate-upload-hint">
          <p>It must include:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>a written statement confirming <strong>{{landowner}}'s</strong> authorisation for you to apply on their behalf</li>
            {% if data["applicant-type"] == "organisation" %}
            <li>the name and signature of a representative of Acme Farming Inc</li>
            {% else %}
            <li>their name and signature</li>
            {% endif %}
            <!-- <li>the name and signature of any other landowner or leaseholder listed on the legal agreement</li> -->
            <li>the date authorisation was given</li>

          </ul>


          <p>The file should be:</p> 
          <ul class="govuk-list govuk-list--bullet">
            <li>a DOC, DOCX or PDF</li>
            <li>no larger than 50MB</li>
          </ul>
        </div>  

        {{ govukFileUpload({
          id: "landowner-agent-upload",
          name: "landowner-agent-upload",
          label: {
            text: "Upload a file",
            classes:"govuk-visually-hidden"
          }
          
        }) }}

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              What to do if you have no written authorisation
            </span>
          </summary>
          <div class="govuk-details__text">
            <p>You can <a href="">download an 'Authorise an agent' form</a> and ask <strong>{{landowner}}</strong> to complete it.</p>
            <p>You can then come back to this application and upload the completed form as written authorisation to apply.</p>
          </div>
        </details>

        {{ govukButton({
          text: "Upload"
        }) }}
        
      </form>

    </div>
  </div>

{% endblock %}
