{% extends "register-application/v21/layout-register-application.html" %}
{% set pageHeading = "Are you applying as an individual or as part of an organisation?" %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- hint: {
        text: "Your client must be a landowner or leasholder named on the legal agreement."
      }, -->


    <form method="post" action="applicant-details-confirm">
      <input type="hidden" name="defraAccountType" value="{{data.defraAccountType or 'organisation'}}">
      {{ govukRadios({
      name: "applicant-type",
      fieldset: {
      legend: {
      text: pageHeading,
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
      }
      },

      items: [
      {
      value: "individual",
      text: "An individual landowner or leaseholder"
      },
      {
      value: "organisation",
      text: "An organisation - I am an employee or representative"
      }
      ]
      }) }}

      {{ govukButton({
      text: "Save and continue"
      }) }}
    </form>
  </div>
</div>
{% endblock %}

{% block pageScripts %}
<script type="text/javascript">
window.addEventListener('load', function() {
  $('.govuk-radios').change(function(){
   var selected = $("input[name='applicant-type']:checked").val()
   console.log(selected)
   console.log($("input[name='defraAccountType']").val())
   if(selected == "organisation" && $("input[name='defraAccountType']").val() == "individual"){
     $("form").attr("action","applicant-wrong-account")
   }
  })
});
</script>
{% endblock %}