{% extends "register-application/v21/layout-register-application.html" %}

{% set hideSaveLink = true %}

{% set userTypeText = "What is your client's" %}
{% if data['is-agent'] == 'no' %}
{% set userTypeText = "What is your" %}
{% endif %}

{% set pageHeading = userTypeText+" telephone number?" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% set nextpage = "applicant-upload-authorisation" %}
      {% set userOrClient = 'your client' %}

      
      {% if data["is-agent"] == "no" %}
      {% set userOrClient = 'you' %}
      {% set nextpage = "applicant-check-answers" %}
      {% endif %}
      <form action="./{{nextpage}}" method="POST">

     
        {% set phone = data['telephone-number'] %}
        


        {{ govukInput({
          label: {
            text: pageHeading,
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "We'll only use this to contact "+userOrClient+" about your application. For international numbers include the country code"
          },
          id: "telephone-number",
          name: "telephone-number",
          type: "tel",
          autocomplete: "tel",
          classes: "govuk-input--width-20",
          value: ""
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}
        
      </form>

    </div>
  </div>

{% endblock %}
