{% extends "register-application/v21/layout-register-application.html" %}

{% set map = true %}

{% set pageHeading = "Check your answers before submitting your information" %}

{% block content %}

<style type="text/css">

</style>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-error-summary" data-module="govuk-error-summary">
  
  <div role="alert">
    <h2 class="govuk-error-summary__title">
      There is a problem
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        {% if not query.errorType or query.errorType == "ownership" %}
          <li>
            <a href="#proof-ownership-error">Upload your proof of land ownership</a>
          </li>
          {% endif %}

      </ul>
    </div>
  </div>
</div>

      <h1 class="govuk-heading-xl">
        {{ pageHeading }}
      </h1>

      <h2 class="govuk-heading-l">Land ownership</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-7">

        <div class="govuk-summary-list__row govuk-summary-list__row-error" id="proof-ownership-error">
          <dt class="govuk-summary-list__key">
            Proof of land ownership
          </dt>
          <dd class="govuk-summary-list__value">
            <p id="file-upload-1-error" class="govuk-error-message">
  <span class="govuk-visually-hidden">Error:</span> Upload your proof of land ownership
  </p>
            
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="/register-application/{{ pageURL }}/{% if data.landownershipFiles | length == 0 %}landowner-certificate-upload{% else %}land-ownership-list{% endif %}">
              Change<span class="govuk-visually-hidden"> Proof of land ownership</span>
            </a>
          </dd>
        </div>
        

      </dl>

      <h2 class="govuk-heading-l">Biodiversity gain site boundary</h2>

      <!-- updated to remove geospacial option in v21 -->

        {{ govukSummaryList({
          classes: 'govuk-!-margin-bottom-7',
          rows: [
          {
              key: {
                text: "File uploaded"
              },
              value: {
                text: data['location-import'] or 'meadow-croft-farm-land-boundary.geojson'
              },
              actions: {
                items: [
                  {
                    href: "/register-application/" + pageURL + "/location-import",
                    text: "Change",
                    visuallyHiddenText: "Land boundary file uploaded"
                  }
                ]
              }
            },
            {
              key: {
                text: "Boundary on a map"
              },
              value: {
                html: "<div id='offsite' class='map map--location' tabindex='0'></div>"
              }
            },
            {
              key: {
                text: "Grid reference"
              },
              value: {
                text: "SP41989814"
              }
            },
            {
              key: {
                text: "Area in hectares"
              },
              value: {
                text: "4.2 ha"
              }
            }
          ]
        }) }}


      <h2 class="govuk-heading-l">Biodiversity Metric 4.0 and habitat declarations</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-7">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Biodiversity Metric 4.0 file uploaded
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['metric-upload'] or 'metric_4.0_meadow_farm.xlsm' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/register-application/{{ pageURL }}/metric-check">
              Change<span class="govuk-visually-hidden"> biodiversity metric 4.0 file</span>
            </a>  
          </dd> 
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Habitat baseline information is correct
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/register-application/{{ pageURL }}/metric-data-baseline">
              Change<span class="govuk-visually-hidden"> Habitat baseline information is correct</span>
            </a>  
          </dd> 
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Habitat creation and enhancement information is correct
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/register-application/{{ pageURL }}/metric-data">
              Change<span class="govuk-visually-hidden"> Habitat creation and enhancement declaration</span>
            </a>  
          </dd> 
        </div>
      </dl>

      <!--<h2 class="govuk-heading-l">Habitats used by a development project</h2>

      {% if data['allocation'] == 'No' %}
      <dl class="govuk-summary-list govuk-!-margin-bottom-7">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Record off-site biodiversity gains for a development project
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['allocation'] or 'No' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="/register-application/{{ pageURL }}/allocation">
              Change<span class="govuk-visually-hidden"> the answer to sold units to a development</span>
            </a>
          </dd>
        </div>
      </dl>

      {{ govukInsetText({
        text: "You can record which habitats are being used for off-site gain by a development project once the biodiversity gain site has been registered."
      }) }}

      {% else %}

      <dl class="govuk-summary-list govuk-!-margin-bottom-7">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Record off-site biodiversity gains for a development project
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['allocation'] or 'Yes' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="/register-application/{{ pageURL }}/allocation">
              Change<span class="govuk-visually-hidden"> the answer to sold units to a development</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-quarter">
            Metric file added
          </dt>
          <dd class="govuk-summary-list__value">
            metric_4.0_fairfax_housing_project.xlsm
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="/register-application/{{ pageURL }}/allocation-metric-check">
              Change<span class="govuk-visually-hidden"> Metric file added</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Project name
          </dt>
          <dd class="govuk-summary-list__value">
            Farifax Housing Project
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="/register-application/{{ pageURL }}/allocation-metric-development">
              Change<span class="govuk-visually-hidden"> Project name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Local planning authority
          </dt>
          <dd class="govuk-summary-list__value">
            Bradford City Council
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="/register-application/{{ pageURL }}/allocation-metric-development">
              Change<span class="govuk-visually-hidden"> Local planning authority</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Planning application reference
          </dt>
          <dd class="govuk-summary-list__value">
            22/01976/RJL
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="/register-application/{{ pageURL }}/allocation-metric-development">
              Change<span class="govuk-visually-hidden"> Planning application reference</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Habitats being used
          </dt>
          <dd class="govuk-summary-list__value">
            <ul class="govuk-list app-list--border">
              <li>
                <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">Grassland </span>
                <span class="govuk-body-m govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">Other neutral grassland</span>
                <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0 app-secondary-text-colour">Good condition</span> 
                12.76 ha
              </li>
              <li>
                <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">Heathland and scrub</span>
                <span class="govuk-body-m govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">Mixed scrub</span>
                <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0 app-secondary-text-colour">Good condition</span> 
                10.50 ha
              </li>
              <li>
                Native species rich hedgerow 
                <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0 app-secondary-text-colour">Good condition</span> 
                0.18 km
              </li>
            </ul>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="/register-application/{{ pageURL }}/allocation-metric-habitat">
              Change<span class="govuk-visually-hidden"> allocated habitat</span>
            </a>
          </dd>
        </div>
      </dl>
      {% endif %}-->

      <h2 class="govuk-heading-l">Habitat management and monitoring</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-7">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Habitat management and monitoring plan uploaded
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['management-plan-upload'] or 'habitat-management-plan.pdf' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/register-application/v21/management-plan-check">
              Change<span class="govuk-visually-hidden"> Habitat management and monitoring plan uploaded</span>
              </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Start date of the 30 year management and monitoring period
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['management-plan-date-end-day'] or '15' }} {{ data['management-plan-date-end-month'] | monthToWordWithSpaces('March') }} {{ data['management-plan-date-end-year'] or '2023' }}
          </dd>
          <dd class="govuk-summary-list__actions">    
            <a class="govuk-link" href="/register-application/v21/management-plan-date-end">
              Change<span class="govuk-visually-hidden"> Start date of the 30 year management and monitoring period</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-l">Legal information</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Type of legal agreement
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['legal-agreement'] or 'Conservation covenant' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="/register-application/{{ pageURL }}/legal-agreement">
              Change<span class="govuk-visually-hidden"> type of legal agreement</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            {% if data['legal-agreement'] == "Planning obligation (section 106 agreement)" %}
              Planning obligation (section 106 agreement) file uploaded
            {% else %}
              Conservation covenant file uploaded
            {% endif %}
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['legal-agreement-upload'] or 'legal-agreement.pdf' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="/register-application/{{ pageURL }}/legal-agreement-check">
              Change<span class="govuk-visually-hidden"> legal agreement</span>
            </a>  
          </dd>
        </div>

        {% if data['legal-agreement'] == "Planning obligation (Section 106 agreement)" %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Parties involved
            </dt>
            <dd class="govuk-summary-list__value">
              <ul class="govuk-list"> 
              {% for lp in data.legalParties %}
              <li>
              {% set name = lp['legal-party-name'] %}
                  {% if lp["legal-party-type"] == "individual" %}

                    {% set name = lp['legal-party-f-name']+" "%}

                    {% if lp["legal-party-m-name"]+" " %}
                      {% set name = name+lp['legal-party-m-name']+" "%}

                    {% endif %}

                    {% set name = name+lp['legal-party-l-name']%}


                  {% endif %}
                  {{name}} ({{lp['legal-party-role']}})
                  </li>
                  {% endfor%}
              </ul>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--no-visited-state" href="/register-application/{{ pageURL }}/legal-party-list">
                Change<span class="govuk-visually-hidden"> parties involved</span>
              </a>
            </dd>
          </div>
        {% else %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Parties involved
            </dt>
            <dd class="govuk-summary-list__value">
              <ul class="govuk-list">
                <li>{{ data['concov-responsible-body'] or 'Leeds City Council' }} (Responsible Body)</li>
                <li>{{ data['concov-landowner'] or 'Kevin Francis' }} (Landowner)</li>
              </ul>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--no-visited-state" href="/register-application/{{ pageURL }}/legal-agreement-parties-concov">
                Change<span class="govuk-visually-hidden"> parties involved</span>
              </a>
            </dd>
          </div>
        {% endif %}

        <!-- Start date removed in version 19 -->
        

        <!-- End date added in v21 -->
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            End date
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['legal-agreement-date-end-day'] or '15' }} {{ data['legal-agreement-date-end-month'] | monthToWordWithSpaces('March') }} {{ data['legal-agreement-date-end-year'] or '2045' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="/register-application/{{ pageURL }}/legal-agreement-date-end">
              Change<span class="govuk-visually-hidden"> end date</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
              Local land charge search certificate file uploaded
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['local-land-charge-upload'] or 'local-land-charge-search-certificate.pdf' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="/register-application/{{ pageURL }}/local-land-charge-check">
              Change<span class="govuk-visually-hidden"> local land charge search certificate</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Landowner consent
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="/register-application/{{ pageURL }}/landowner-consent">
              Change<span class="govuk-visually-hidden"> landowner consent</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Landowner written consent file uploaded
          </dt>
          <dd class="govuk-summary-list__value">
            landowner-consent.pdf
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="/register-application/{{ pageURL }}/landowner-permission-upload">
              Change<span class="govuk-visually-hidden"> landowner consent</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-l">Submit your biodiversity gain site information</h2>

      <p class="govuk-body">By submitting your information you confirm that:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>it is true, to the best of your knowledge and belief</li>
        <li>you have got, or will get, all consents, licences or other permissions needed to carry out the enhancement works</li>
      </ul>

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          You may have to pay a fine if you have given false information.
        </strong>
      </div>

      <form action="/register-application/{{ pageURL }}/payment" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <button class="govuk-button" data-module="govuk-button">
          Confirm and pay
        </button>

      </form>

    </div>
  </div>

{% endblock %}

{% block pageScripts %}
  <script type="module" src="/public/javascripts/map.min.js"></script>
{% endblock %}


            <!-- {
              key: {
                text: "File type"
              },
              value: {
                text: data['location-options'] or 'Geospatial data file'
              },
              actions: {
                items: [
                  {
                    href: "/register-application/" + pageURL + "/location-options",
                    text: "Change",
                    visuallyHiddenText: "Land boundary option"
                  }
                ]
              }
            }, -->