{% extends "register-application/v21/layout-register-application.html" %}

{% set pageHeading = "Are there other landowners of Meadowcroft Farm, Goose Ln, Leeds, LS20 8PJ?" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <form method="post" action="./landowner-others-answer">

        {{ govukRadios({
          idPrefix: "landowner-others",
          name: "landowner-others",
          fieldset: {
            legend: {
              text: pageHeading,
              classes: "govuk-fieldset__legend--l",
              pageHeading: true
            }
          },
          hint: {
            text: "You must tell us about all landowners that are on the title deed."
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}
        
        {{ govukButton({ text: 'Save and continue' }) }}
        
      </form>

    </div>
  </div>

{% endblock %}
