{% set serviceName = "Manage biodiversity gain" %}
{% set serviceUrl = "/register-application/v21/dashboard" %}
{% set pageURL = "v21" %}

{% extends "../../layout.html" %}

{% block header %}

  {% if hideSignOut === true %}

  {{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: serviceUrl
  }) }}

  {% else %}

  {{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: serviceUrl
  }) }}

  {% endif %} 

   <div class="govuk-width-container">

    {% include "includes/phase-banner.html" %}
    {% include "register-application/v21/includes/login-nav.html" %}
    
  </div>

{% endblock %}

{% block beforeContent %}
  <!--{% include "register-application/v9/includes/login-nav.html" %}-->

  {% if hideSaveSection === true %}
  {% else %}
   <div class="app-save__wrapper">
      {% if hideBackLink === true %}
      {% else %}
        {{ govukBackLink({
          text: "Back",
          href: "javascript: window.history.go(-1)"
        }) }}
      {% endif %} 
      {% if hideSaveLink === true %}
      {% else %}
        <!--<div class="app-save">
          <p><a class="govuk-link govuk-link--no-visited-state" href="/register-application/{{ pageURL }}/signed-out">Save and return later</a></p>
        </div>-->
      {% endif %} 
    </div>
  {% endif %} 
{% endblock %}

{% block footer %}
  {% include "register-application/v21/includes/footer.html" %}
{% endblock %}