{% extends "register-application/v21/layout-register-application.html" %}

{% set pageHeading = "You need to add all landowners or leaseholders listed on the conservation covenant" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div data-module="moj-add-another">

        <h1 class="govuk-heading-l" tabindex="-1">
          {{ pageHeading }}
        </h1>

        <p>You must include every landowner or leaseholder named on the legal agreement, including yourself if you're listed.</p> 
        <p>You can add as many as you need to.</p>
              
        <form method="post" action="./legal-agreement-concov-landowner-type">
          {{ govukButton({
            text: "Add landowners or leaseholders"
          }) }}
        </form>
     
      
      </div>

    </div>
  </div>

{% endblock %}
