{% extends "register-application/v21/layout-register-application.html" %}

{% set pageHeading = "Check the legal agreement details" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ pageHeading }}
      </h1>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
       <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Type of legal agreement
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['legal-agreement'] or 'Conservation covenant' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="./legal-agreement">
              Change<span class="govuk-visually-hidden"> type of legal agreement</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">

            {% if data['legal-agreement'] == "Planning obligation (Section 106 agreement)" %}
              Planning obligation (Section 106 agreement) file uploaded
            {% else %}
              Conservation covenant file uploaded
            {% endif %}
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['legal-agreement-upload'] or 'legal-agreement.pdf' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="./legal-agreement-check">
              Change<span class="govuk-visually-hidden"> legal agreement</span>
            </a>
          </dd>
        </div>
        {% if data['legal-agreement'] == "Planning obligation (Section 106 agreement)" %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Parties involved
            </dt>
            <dd class="govuk-summary-list__value">
              <ul class="govuk-list"> 
              {% for lp in data.legalParties %}
              <li>
              {% set name = lp['legal-party-name'] %}
                  {% if lp["legal-party-type"] == "individual" %}

                    {% set name = lp['legal-party-f-name']+" "%}

                    {% if lp["legal-party-m-name"]+" " %}
                      {% set name = name+lp['legal-party-m-name']+" "%}

                    {% endif %}

                    {% set name = name+lp['legal-party-l-name']%}


                  {% endif %}
                  {{name}} ({{lp['legal-party-role']}})
                  </li>
                  {% endfor%}
              </ul>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--no-visited-state" href="./legal-party-list">
                Change<span class="govuk-visually-hidden"> parties involved</span>
              </a>
            </dd>
          </div>
        {% else %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Responsible body
            </dt>
            <dd class="govuk-summary-list__value">
              <ul class="govuk-list">
                {% for lp in data.responsibleBodies %}

            <li>
                  <!-- set name based on the type of legal party, defualt is organistion name -->

                  {{lp['concov-responsible-body']}}
                  </li>
                  {% endfor %}
              </ul>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--no-visited-state" href="./legal-agreement-concov-reponsible-list?change=yes&returnURL=legal-agreement-confirm">
                Change<span class="govuk-visually-hidden"> responsible bodies</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Landowner
            </dt>
            <dd class="govuk-summary-list__value">
              <ul class="govuk-list">
                {% for lp in data.landowners %}

            <li>
                  <!-- set name based on the type of legal party, defualt is organistion name -->

                  {% set name = lp['landowners-org-name'] %}
                  {% if lp["landowner-type"] == "individual" %}

                    {% set name = lp['landowner-f-name']+" "%}

                    {% if lp["legal-party-m-name"]+" " %}
                      {% set name = name+lp['landowner-m-name']+" "%}

                    {% endif %}

                    {% set name = name+lp['landowner-l-name']%}


                  {% endif %}
                  {{name}}
                  </li>
                  {% endfor %}
              </ul>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--no-visited-state" href="./legal-agreement-concov-landowner-list?change=yes&returnURL=legal-agreement-confirm">
                Change<span class="govuk-visually-hidden"> landowners</span>
              </a>
            </dd>
          </div>
        {% endif %}
        <!-- Removed in v21 -->
        <!-- <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Start date
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['legal-agreement-date-start-day'] or '15' }} {{ data['legal-agreement-date-start-month'] | monthToWordWithSpaces('March') }} {{ data['legal-agreement-date-start-year'] or '2022' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="./legal-agreement-date-start">
              Change<span class="govuk-visually-hidden"> start date</span>
            </a>
          </dd>
        </div> -->

        <!-- Added in v21 -->

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
           Habitat management and monitoring plan included in legal agreement
          </dt>
          <dd class="govuk-summary-list__value">
            {{(data['has-management-plan'] | capitalize) or "Yes" }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/register-application/v21/management-plan-question">
              Change<span class="govuk-visually-hidden"> habitat management and monitoring plan is a separate document</span>
              </a>
          </dd>
        </div>
        {% if data['has-management-plan'] == "yes" %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Habitat management and monitoring plan uploaded
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['management-plan-upload'] or 'habitat-management-plan.pdf' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/register-application/v21/management-plan-check">
              Change<span class="govuk-visually-hidden"> Habitat management and monitoring plan uploaded</span>
              </a>
          </dd>
        </div>
        {% endif %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Habitat enhancement works start date
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['has-management-plan-habitat-date-start'] == "yes" %}
            {{ data['management-plan-habitat-date-start'] or '15' }} {{ data['management-plan-habitat-date-start'] | monthToWordWithSpaces('March') }} {{ data['management-plan-habitat-date-start'] or '2023' }}
            {% else %}
            Not started yet
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/register-application/v21/management-plan-habitat-start-date?change=yes">
              Change<span class="govuk-visually-hidden"> Start date of the habitat enhancement works</span>
              </a>
          </dd>
        </div>
        <!-- section removed as its not required by SI -->
        <!-- <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Start date of 30-year management and monitoring period
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['management-plan-date-end-day'] or '15' }} {{ data['management-plan-date-end-month'] | monthToWordWithSpaces('March') }} {{ data['management-plan-date-end-year'] or '2023' }}
          </dd>
          <dd class="govuk-summary-list__actions">    
            <a class="govuk-link" href="/register-application/v21/management-plan-date-end">
              Change<span class="govuk-visually-hidden"> Start date of the 30 year management and monitoring period</span>
            </a>
          </dd>
        </div> -->

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Legal agreement end date
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['has-legal-agreement-date-end'] == "yes" %}
            {{ data['legal-agreement-date-end-day'] or '15' }} {{ data['legal-agreement-date-end-month'] | monthToWordWithSpaces('March') }} {{ data['legal-agreement-date-end-year'] or '2022' }}

          {% else %}
          No end date
          {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="./legal-agreement-date-end">
              Change<span class="govuk-visually-hidden"> start date</span>
            </a>
          </dd>
        </div>
      </dl>

      <form method="post" action="./task-list">

        <input type="hidden" name="legal-agreement-confirm" value="yes">

        {{ govukButton({ text: 'Save and continue' }) }}
        
      </form>

    </div>
  </div>

{% endblock %}
