{% extends "register-application/v21/layout-register-application.html" %}

{% set pageHeading = "Upload the local land charge search certificate" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ pageHeading }}
      </h1>
      
      <form method="post" action="./local-land-charge-check">
  
        <div class="govuk-form-group">
          <label class="govuk-label govuk-visually-hidden" for="local-land-charge-upload">
            Upload a file
          </label>

          <p>This is a certificate that shows the legal agreement has been registered with the local planning authority.</p>

          <div id="local-land-charge-upload-hint">
            <p>The file should be:</p> 
            <ul class="govuk-list govuk-list--bullet">
              <li>a DOC, DOCX or PDF</li>
              <li>no larger than 50MB</li>
            </ul>
          </div>

          <input class="govuk-file-upload" id="local-land-charge-upload" name="local-land-charge-upload" type="file" aria-describedby="local-land-charge-upload-hint">
        </div>
        
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              What to do if you have no local land charge search certificate
            </span>
          </summary>
          <div class="govuk-details__text">
            <p>You can <a href="https://www.gov.uk/search-local-land-charges">get an official search certificate</a> from HM Land Registry.</p>
            <p>You can then come back to this application and upload it.</p>
            <h3>Contact the Biodiversity Net Gain team if you need help</h3>
            <p>Telephone: 0190 050 8628<br>
              Monday to Friday, 8:30am to 5pm (except public holidays)</p>
              <p><a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>
          </div>
        </details>

        {{ govukButton({
          text: "Upload"
        }) }}
        
      </form>



    </div>
  </div>

{% endblock %}
