// Button link
.app-button-link {
  appearance: auto;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: #1d70b8;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: pointer;
    box-sizing: border-box;
    background-color: transparent;
    margin: 0em;
    padding: 0;
    border-width: 0;
    border-style: none;
    border-color: transparent;
    border-image: initial;
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    margin-top: 0;
    margin-bottom: 25px;

  @media (min-width: 40.0625em) {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579;
    margin-bottom: 30px;
  }
}