.app-search-results {
  list-style: none;
  margin-bottom: 40px;
  padding: 0;
}

.app-search-results__item {
  @include govuk-font(19);
  border-top: 1px solid rgb(177, 180, 182);
  margin-bottom: 15px;
  padding-bottom: 0;
  padding-top: 10px;

  &:last-child {
    border-bottom: 1px solid rgb(177, 180, 182);
    padding-bottom: 0;
  }
}

.app-search-results__item-title {
  font-weight: bold;
}

.app-search-results__item-description {
  margin: 10px 0;
}

.app-search-results__item-description--developments {
  @include govuk-font(16);
  margin-top: 0;
}

.app-search-results__item-description--meta {
  @include govuk-font(16);

  color: govuk-colour("dark-grey");
}