{% if hideLogin %}
{% else %}

  <div id="profile" class="login-nav">
    <ul class="login-nav__list">
      <li class="login-nav__list-item">Jo Smith |</li>
      {% if showAccount %}
        <li class="login-nav__list-item"><a id="link-manage-account" href="#" class="govuk-link login-nav__link govuk-link--no-visited-state">Manage account</a> |</li>
      {% else %}
        <li class="login-nav__list-item"><a id="link-manage-account" href="/register-application/{{ pageURL }}/dashboard" class="govuk-link login-nav__link govuk-link--no-visited-state">My registrations</a> |</li>
      {% endif %}
      <li class="login-nav__list-item"><a id="link-sign-out" href="/register-application/{{ pageURL }}/signed-out" class="govuk-link login-nav__link govuk-link--no-visited-state">Sign out</a></li>
    </ul>
  </div>

{% endif %}