{% extends "register-application/v15/layout-register-application.html" %}

{% set hideSaveLink = true %}

{% set pageHeading = "What is your name?" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ pageHeading }}
      </h1>

      <p class="govuk-hint">If you're filling this out on behalf of someone else you should still enter your name.</p>
      
      <form method="post" action="/register-application/{{ pageURL }}/details-email">

        {{ govukInput({
          id: "first-name",
          name: "first-name",
          label: {
            text: "First name"
          },
          autocomplete: "given-name",
          spellcheck: false,
          value: data['first-name']
        }) }}

        {{ govukInput({
          id: "last-name",
          name: "last-name",
          label: {
            text: "Last name"
          },
          autocomplete: "family-name",
          spellcheck: false,
          value: data['last-name']
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
        
      </form>

    </div>
  </div>

{% endblock %}
