{% extends "register-application/v15/layout-register-application.html" %}

{% set pageHeading = "Add all landowners listed on the conservation covenant agreement" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div data-module="moj-add-another">

        <h1 class="govuk-heading-l" tabindex="-1">
          {{ pageHeading }}
        </h1>
      
        <form method="post" action="/register-application/{{ pageURL }}/legal-agreement-date-start">
      
          {% call govukFieldset({
            classes: 'moj-add-another__item',
            legend: {
              text: 'Landowner',
              classes: 'moj-add-another__title govuk-fieldset__legend--m',
              isPageHeading: false
            }
          }) %}
      
          {{ govukInput({
            id: 'person[0][legal-agreement-landowner]',
            name: 'person[0][legal-agreement-landowner]',
            label: {
              html: 'Full name'
            },
            attributes: {
              'data-name': 'person[%index%][legal-agreement-landowner]',
              'data-id': 'person[%index%][legal-agreement-landowner]'
            }
          }) }}
      
          {% endcall %}
      
          <div class="moj-button-action">
            {{ govukButton({
              text: 'Add another',
              classes: 'govuk-button--secondary moj-add-another__add-button govuk-!-margin-bottom-4'
            }) }}
          </div>
      
          <div class="moj-button-action">
            {{ govukButton({
              text: 'Continue'
            }) }}
          </div>
      
        </form>
      
      </div>

    </div>
  </div>

{% endblock %}
