{% extends "register-application/v15/layout-register-application.html" %}

{% set pageHeading = "Choose how to add the land boundary details for the biodiversity gain site" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      {% if data['land-registry-check'] == 'yes' %} 
        <form method="post" action="/register-application/{{ pageURL }}/location-options-answer-land-registry">
      {% else %}
        <form method="post" action="/register-application/{{ pageURL }}/location-options-answer">
      {% endif %}

        {{ govukRadios({
          idPrefix: "location-options",
          name: "location-options",
          fieldset: {
            legend: {
              text: pageHeading,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Geospatial file",
              text: "Upload geospatial file",
              checked: checked("location-options", "Geospatial file"),
              hint: {
                text: "GeoJSON, GeoPackage or shapefile"
              }
            },
            {
              value: "Document or image",
              text: "Upload document or image",
              checked: checked("location-options", "Document or image"),
              hint: {
                text: "DOC, DOCX, JPG, PNG or PDF"
              }
            }
          ]
        }) }}

        <p><a href="/register-application/{{ pageURL }}/location-no">I do not have a file showing the boundary of the land</a></p>

        {{ govukButton({
          text: "Continue"
        }) }}
        
      </form>

    </div>
  </div>

{% endblock %}
