{% extends "register-application/v15/start-page-guide-template.html" %}

{% set hideBackLink = true %}
{% set hideSaveLink = true %}
{% set hideSaveSection = true %}

{% set pageURL = "v15" %}

{% set nextPageName = "Register a biodiversity gain site" %}
{% set nextPageURL = "/register-application/" + pageURL + "/start-gain-site" %}

{% set pageHeading = "Overview" %}

{% block guideContent %}

<p>Site providers can <a href="/register-application/{{ pageURL}}/start-gain-site">register a biodiversity gain site</a> for developments projects to use as an off-site to meet their mandatory net gain.</p>
<p>Developers can <a href="/register-application/{{ pageURL}}/start-allocate">record off-site biodiversity gains for a development project</a> on a registered biodiversity gain site.</p>
<p>Anyone can <a href="/register-application/{{ pageURL}}/start-public-register">get information about a biodiversity gain site</a> on the public register.</p>
</ul>

{% endblock %} 