{% extends "register-application/v15/start-page-guide-template.html" %}

{% set hideBackLink = true %}
{% set hideSaveLink = true %}
{% set hideSaveSection = true %}

{% set pageURL = "v15" %}

{% set previousPageName = "Record off-site biodiversity gains for a development project" %}
{% set previousPageURL = "/register-application/" + pageURL + "/start-allocate" %}

{% set pageHeading = "Biodiversity net gain public register" %}

{% block guideContent %}

  <p>The biodiversity net gain public register lists all registered biodiversity gain sites. The public register also shows how development projects are using all or part of a biodiversity gain site. A development project will use a biodiversity gain site to add a percentage of off-site net gain. The public register does not include any loss or gain they have on their development site.</p>

  {{ govukButton({
    text: "Start now",
    href: "#",
    isStartButton: true
  }) }}

{% endblock %} 