{% extends "register-application/v20/layout-register-application.html" %}

{% set pageHeading = serviceName %}

{% set hideBackLink = true %}
{% set hideSaveSection = true %}

{% block content %}

  <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Record off-site biodiversity gains for a development project</h1>
            <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Application incomplete</h2>
            <p class="govuk-body govuk-!-margin-bottom-4">You have completed 0 of 6 sections.</p>
            <ol class="app-task-list govuk-!-padding-top-3">
                
                    <li>
                        <h2 class="app-task-list__section">Details the applicant</h2>
                        <ul class="app-task-list__items">
                            
                                
                                    <li class="app-task-list__item">
                                      <span class="app-task-list__task-name">
                                        <a href="./applicant-details-is-agent" aria-describedby="your-details-status" id="add-your-details">
                                          Add details about the person applying
                                        </a>
                                      </span>
                                      {% if data["applicant-details-added"] %}
                                      <strong class="govuk-tag app-task-list__tag" id="add-your-details-status">
                                        Completed
                                      </strong>
                                      {% else %}
                                      <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="add-your-details-status">
                                        Not started
                                      </strong>
                                      
                                      {% endif %}
                                    </li>
                                     
                            
                        </ul>
                    </li>
                
                    <li>
                        <h2 class="app-task-list__section">Biodiversity 4.0 Metric calculations</h2>
                        <ul class="app-task-list__items">
                            
                                
                                    <li class="app-task-list__item">
                                      <span class="app-task-list__task-name">
                                        <a href="/developer/biodiversity-gain-site-number" aria-describedby="your-details-status" id="upload-metric-file">
                                          Upload Metric 4.0 file
                                        </a>
                                      </span>
                                      <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="upload-metric-file-status">
                                        NOT STARTED
                                      </strong>
                                    </li>
                                
                            
                                
                                    <li class="app-task-list__item">
                                      <span class="app-task-list__task-name">
                                        <a href="/developer/confirm-development-details" aria-describedby="your-details-status" id="confirm-development-details">
                                          Confirm development details
                                        </a>
                                      </span>
                                      <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="confirm-development-details-status">
                                        NOT STARTED
                                      </strong>
                                    </li>
                                
                            
                                
                                    <li class="app-task-list__item">
                                      <span class="app-task-list__task-name">
                                        <a href="/developer/confirm-off-site-gain" aria-describedby="your-details-status" id="confirm-off-site-gain">
                                          Confirm off-site gain
                                        </a>
                                      </span>
                                      <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="confirm-off-site-gain-status">
                                        NOT STARTED
                                      </strong>
                                    </li>
                                
                            
                        </ul>
                    </li>
                
                
                
                    <li>
                        <h2 class="app-task-list__section">Submit your biodiversity gain information</h2>
                        <ul class="app-task-list__items">
                            
                                
                                    <li>
                                        <ul class="app-task-list__items">
                                            <li class="app-task-list__item">
                                                
                                                    <span id="check-your-answers">
                                                          Check your answers before you submit them to us
                                                    </span>
                                                    <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="check-your-answers-status">CANNOT START YET</strong>
                                                
                                            </li>
                                        </ul>
                                    </li>
                                
                            
                        </ul>
                    </li>
                
            </ol>
        </div>
    </div>

{% endblock %}

{% block pageScripts %}
<script type="text/javascript">
window.addEventListener('load', function() {
  
  let tasks = $('.task-list-required').length;
  let tasksCompleted = $('.completed').length;
  $('.task-progress-to-complete-total').text(tasks);
  $('.task-progress-completed').text(tasksCompleted);
  if (tasks == tasksCompleted){
    $('.task-progress-status-text').text("Registration complete")
  }

});
</script>
{% endblock %}
