{% extends "layout-admin.html" %}

{% set pageURL = "v1" %}
{% set pageHeading = "Applications" %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">{{ pageHeading }}</h1>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col"> Application number </th>
            <th class="govuk-table__header" scope="col"> Name of applicant </th>
            <th class="govuk-table__header" scope="col"> Location </th>
            <th class="govuk-table__header" scope="col"> Status </th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="#">BNG 15384</a>
            </td>
            <td class="govuk-table__cell">
              Adam Buxton
            </td>
            <td class="govuk-table__cell">
              Meadowcroft Farm, Goose Ln, Leeds, LS20 8PJ
            </td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "Approved",
                classes: "govuk-tag--green"
              })}}
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="#">BNG 89765</a>
            </td>
            <td class="govuk-table__cell">
              Jeremy Clarkson
            </td>
            <td class="govuk-table__cell">
              Clarkson's Farm, Chipping Norton, Cotswolds
            </td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "New",
                classes: "govuk-tag--blue"
              })}}
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="#">BNG 26567</a>
            </td>
            <td class="govuk-table__cell">
              Kevin Francis
            </td>
            <td class="govuk-table__cell">
              None Go Bye Farm, Horsforth, Leeds LS18 5HZ
            </td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "Rejected",
                classes: "govuk-tag--red"
              })}}
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
{% endblock %}