{% extends "register-application/v18/layout-register-application.html" %}

{% set pageHeading = "Registration submitted" %}

{% set hideSaveSection = true %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title govuk-!-margin-bottom-4">
          {{ pageHeading }}
        </h1>
        <div class="govuk-panel__body">
          Your reference<br> <strong>REF-150 311 001</strong>
        </div>
      </div>

      <p>You've submitted the biodiversity gain site details. We've sent you a confirmation email.</p>

      <p>Make a note of your reference number as we will use this when we contact you.</p>

      {% if data['payment'] == 'bacs' %}
      
      <h2 class="govuk-heading-m">Paying the registration fee</h2>
      <p>You need to pay:</p>

      {% if data['register-journey'] == 'true' %}
        <p class="govuk-body-l">£658.70</p>
      {% else %}
        <p class="govuk-body-l">£36.35</p>
      {% endif %}

      <p>You must pay the registration fee within 28 days.</p>

      <h2 class="govuk-heading-m">Bank details for Bacs payments</h2>

      <p>You should pay Natural England by Bacs.</p>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Your payment reference
          </dt>
          <dd class="govuk-summary-list__value">
            PROD123456
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Account name
          </dt>
          <dd class="govuk-summary-list__value">
            Natural England
          </dd>          
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Sort code
          </dt>
          <dd class="govuk-summary-list__value">
            60 70 80
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Account number
          </dt>
          <dd class="govuk-summary-list__value">
            10026630
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Swift / BIC Code
          </dt>
          <dd class="govuk-summary-list__value">
            NWBKGB2L
          </dd>
        </div>
      </dl>

      <p><a href="#">Download invoice</a> (PDF, 124kb)</p>
      {% endif %}

      <h2 class="govuk-heading-m">What happens after paying the fee</h2>
      <p>We will check the information you submitted is correct. We will email you if your registration has been successful or not. This can take up to 6 weeks.</p>

      <h2 class="govuk-heading-m">Contact us</h2>
      <p>If you have questions or need help, you can phone 0300 060 3900, Monday to Friday, 8:30am to 5pm (except public holidays).</p>
      <p><a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>

      <p class="govuk-!-padding-top-8"><a href="/register-application/{{ pageURL }}/confirmation-email">View confirmation email (prototype only)</a></p>

    </div>
  </div>

{% endblock %}
