{% extends "register-application/v18/layout-register-application.html" %}

{% set pageHeading = "You need a local land charge search certificate" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ pageHeading }}
      </h1>

      <p>You need to upload a local land charge search certificate to show that the conservation covenant has been registered with the local planning authority.</p>

      <p>Your file can be a Word document or PDF. It must not be larger than 50MB.</p>

      {% include "register-application/v18/includes/get-help.html" %}

    </div>
  </div>

{% endblock %}
