{% extends "register-application/v18/layout-register-application.html" %}

{% set hideSaveLink = true %}
{% set hideSignOut = true %}
{% set hideLogin = true %}

{% set pageHeading = "Sign in using Government Gateway" %}

{% block beforeContent %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Keep your information secure
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
            <p>Do not share your Government Gateway user ID and password with anyone else.</p>
          </div>
      </div>
      
      
      <h1 class="govuk-heading-xl">
        Sign in using Government Gateway
      </h1>

      {% if data['new-user'] == 'true' %}
        {% if data['start-new-application-register'] == 'false' %}
          <form action="/register-application/v18/allocation-gain-site" method="post" novalidate>
          <input type="hidden" name="start-new-application" value="false">
        {% else %}
          <form action="/register-application/v18/task-list" method="post" novalidate>
          <input type="hidden" name="start-new-application" value="true">
          <input type="hidden" name="start-new-application-register" value="true">
        {% endif %}
        <input type="hidden" name="new-user" value="false">
      {% else %}
        <form action="/register-application/{{ pageURL }}/dashboard" method="post">
      {% endif %}
      
      <div class="govuk-form-group">
        <label class="govuk-label" for="govGateUserId">
          Government Gateway user ID User name
        </label>

        <div id="govGateUserId-hint" class="govuk-hint">
          This could be up to 12 characters.
        </div>
      
      <input class="govuk-input govuk-!-width-one-half" id="govGateUserId" name="govGateUserId" type="text" aria-describedby="govGateUserId-hint">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="govGatePwassword">
          Password
        </label>
      
      <input class="govuk-input govuk-!-width-three-quarters" id="govGatePwassword" name="govGatePwassword" type="text">
      </div>
      
      <button class="govuk-button" data-module="govuk-button">
        Sign in
      </button>
      
    </form>
      
    <p>
      <a href="#" class="govuk-link">
        Create sign in details
      </a>
    </p>

    <h2 class="govuk-heading-m">Problems signing in</h2>

    <ul class="govuk-list">
        <li><a href="#">I have forgotten my password</a></li>
        <li><a href="#">I have forgotten my user name</a></li>
        <li><a href="#">I have forgotten my user name and password</a></li>
        <br>
    </ul>

    <p class="govuk-!-margin-top-6"><a href="#">Get help with this page</a></p>

    </div>
  </div>

{% endblock %}