{% extends "register-application/v22/layout-register-application.html" %}

{% set pageHeading = "You have added 2 additional email addresses" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

        {% if data['additional-email-remove'] == 'yes' %}
        {% else %}
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">Kevin Francis</h2>
            <ul class="govuk-summary-card__actions">
              <li class="govuk-summary-card__action"> <a class="govuk-link" href="./additional-email-remove">
                Delete <span class="govuk-visually-hidden"> development project Farifax Housing Project</span>
              </a>
            </li>
            <li class="govuk-summary-card__action"> <a class="govuk-link" href="./additional-email-add">
                Change <span class="govuk-visually-hidden"> development project Farifax Housing Project</span>
              </a>
            </li>
            </ul>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Email address
                </dt>
                <dd class="govuk-summary-list__value">
                  kevin.francis@mail.com
                </dd>
              </div>
            </dl>
          </div>
        </div>
        {% endif %}
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">Bob MacAdoo</h2>
            <ul class="govuk-summary-card__actions">
              <li class="govuk-summary-card__action"> <a class="govuk-link" href="./additional-email-remove">
                Delete <span class="govuk-visually-hidden"> development project Farifax Housing Project</span>
              </a>
            </li>
            <li class="govuk-summary-card__action"> <a class="govuk-link" href="./additional-email-add">
                Change <span class="govuk-visually-hidden"> development project Farifax Housing Project</span>
              </a>
            </li>
            </ul>
          </div>
          <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Email address
                </dt>
                <dd class="govuk-summary-list__value">
                  bmac@yahoo.co.uk
                </dd>
              </div>
            </dl>
          </div>
        </div>

            {% if data['register-journey'] == 'true' %}
            <form method="post" action="./additional-email-more-answer">
            {% else %}
            <form method="post" action="./additional-email-more-answer-allocation">
            {% endif %}

              {{ govukRadios({
                idPrefix: "additional-email-more",
                name: "additional-email-more",
                fieldset: {
                  legend: {
                    text: "Do you need to add another email address?",
                    classes: "govuk-fieldset__legend--m"
                  }
                },
                items: [
                  {
                    value: "yes",
                    text: "Yes"
                  },
                  {
                    value: "no",
                    text: "No"
                  }
                ]
              }) }}
              
              {{ govukButton({ text: 'Save and continue' }) }}
              
            </form>

    </div>
  </div>

{% endblock %}
