{% extends "register-application/v22/layout-register-application.html" %}

{% set pageHeading = "Biodiversity gain sites" %}

{% set hideSaveSection = true %}
{% set showAccount = true %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">
      {{ pageHeading }}
    </h1>

<!--     {% if data['development-added'] == 'true' and data['allocation-approved'] != 'true' %}
    <div class="govuk-inset-text inset-dashboard dashpanel">
      <h3 class="govuk-heading-m">Tasks:</h3>
      <ul class="govuk-list govuk-list--spaced">
        <li>
          <span class="govuk-body-s">
            {% include "register-application/v22/includes/todays-date.html" %}
          </span> 
          <span class="govuk-caption-m">Action</span> 
          <a href="/register-application/v22/allocation-approval">Approve development project habitat allocation</a>
        </li>

      </ul>
    </div>
  {% else %}
  {% endif %} -->

      <form action="/register-application/v22/task-list" method="post" novalidate>
        <input type="hidden" name="new-register-journey" value="true">
        <input type="hidden" name="register-journey" value="true">
        <button class="govuk-button" data-module="govuk-button">
          Register a new biodiversity gain site
        </button>
      </form>


      {% if data['new-register-journey'] == 'yes' %} 
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-visually-hidden">Applications</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Registration reference</th>
            <th scope="col" class="govuk-table__header">Last updated</th>
            <th scope="col" class="govuk-table__header">Status</th>
            <th scope="col" class="govuk-table__header">
              <span class="govuk-visually-hidden">Actions</span>
            </th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th class="govuk-table__cell">
              {% if data['answers-checked'] == 'true' %}
                BNGREG-6040S-AVPJW
              {% else %}
                <a href="/register-application/v22/task-list" class="govuk-link--no-visited-state">BNGREG-3040W-GHERS</a>
              {% endif %}
            </th>
            <td class="govuk-table__cell">
              {% include "register-application/v22/includes/todays-date.html" %}
            </td>
            <td class="govuk-table__cell">
              {% if data['answers-checked'] == 'true' %}
                <strong class="govuk-tag govuk-tag--blue">Submitted</strong>
              {% else %}
                <strong class="govuk-tag govuk-tag--grey">IN PROGRESS</strong>
              {% endif %}
            </td>
          </tr>
          {% if data.showReceivedItem == "yes" %}
          <tr class="govuk-table__row">
            <th class="govuk-table__cell">
                BNGREG-9820B-YREWS
            </th>
            <td class="govuk-table__cell">
              {% include "register-application/v22/includes/todays-date.html" %}
            </td>
            <td class="govuk-table__cell">

                <strong class="govuk-tag govuk-tag--blue">Submitted</strong>

            </td>
          </tr>
          {% endif %}
        </tbody>
      </table>
      {% else %}
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-visually-hidden">Applications</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Registration reference</th>
            <th scope="col" class="govuk-table__header">Last updated</th>
            <th scope="col" class="govuk-table__header">Status</th>
            <th scope="col" class="govuk-table__header">
              <span class="govuk-visually-hidden">Actions</span>
            </th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th class="govuk-table__cell">
              {% if data['answers-checked'] == 'true' %}
                BGS-150322001
              {% else %}
                <a href="/register-application/v22/task-list" class="govuk-link--no-visited-state">BGS-150322001</a>
              {% endif %}
            </th>
            <td class="govuk-table__cell">
              {% include "register-application/v22/includes/todays-date.html" %}
            </td>
            <td class="govuk-table__cell">
              {% if data['answers-checked'] == 'true' %}
                <strong class="govuk-tag govuk-tag--blue">RECEIVED</strong>
              {% else %}
                <strong class="govuk-tag govuk-tag--grey">IN PROGRESS</strong>
              {% endif %}
            </td>
          </tr>
          {% if data.showReceivedItem == "yes" %}
          <tr class="govuk-table__row">
            <th class="govuk-table__cell">
                BGS-150322045
            </th>
            <td class="govuk-table__cell">
              {% include "register-application/v22/includes/todays-date.html" %}
            </td>
            <td class="govuk-table__cell">

                <strong class="govuk-tag govuk-tag--blue">RECEIVED</strong>

            </td>
          </tr>
          {% endif %}
        </tbody>
      </table>
      {% endif %} 
      
        
    </div>
</div>

{% endblock %}