{% extends "register-application/v22/layout-register-application.html" %}

{% set hideSaveLink = true %}

{% set pageHeading = "Check your details" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ pageHeading }}
      </h1>

      <dl class="govuk-summary-list">
         <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Consent to register site
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['landowner-consent'] or 'Yes, is landowner or leaseholder' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="./landowner-consent?change=yes">
              Change<span class="govuk-visually-hidden"> full name</span>
            </a>  
          </dd> 
        </div>
        {% if data["landowner-consent"] == 'Yes, has consent'%}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Consent form
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['landowner-permission-upload'] or 'landowner-consent-evidence.pdf' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="./landowner-permission-check?change=yes">
              Change<span class="govuk-visually-hidden"> full name</span>
            </a>  
          </dd> 
        </div>
        {% endif %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['landowner-f-name']  %}
          {{data['landowner-f-name']}} {{data['landowner-m-name'] or ""}}
            {% else %}
            Jo Smith
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="./details-name">
              Change<span class="govuk-visually-hidden"> full name</span>
            </a>  
          </dd> 
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Contact email address
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['email'] or 'jo.smith@gmail.com' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="./details-email">
              Change<span class="govuk-visually-hidden"> email</span>
            </a>  
          </dd> 
        </div>
      </dl>
      <form method="post" class="govuk-!-padding-top-5" action="./task-list">

        <input type="hidden" name="details-confirm" value="true">
        
        {{ govukButton({ text: 'Save and continue' }) }}
        
      </form>

    </div>
  </div>

{% endblock %}
