{% extends "register-application/v22/layout-register-application.html" %}

{% set pageHeading = "Upload proof of land ownership" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ pageHeading }}
      </h1>
      
      <form method="post" action="./landowner-certificate-check">
        <div class="govuk-form-group">
        <label class="govuk-label govuk-visually-hidden" for="landowner-certificate-upload">
          Upload a file
        </label>

        <div id="landowner-certificate-upload-hint">
          <p>For example, the title deeds or lease agreement.</p>
          <p>The file should be:</p> 
          <ul class="govuk-list govuk-list--bullet">
            <li>a DOC, DOCX or PDF</li>
            <li>no larger than 50MB</li>
          </ul>
        </div>  

        <input class="govuk-file-upload" id="landowner-certificate-upload" name="landowner-certificate-upload" type="file" aria-describedby="landowner-certificate-upload-hint">
        </div>
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              What to do if you have no proof of ownership
            </span>
          </summary>
          <div class="govuk-details__text">
            <p>You need to upload a file proving land ownership if you want to register a biodiversity gain site.</p>
            <p>You can <a href="https://www.gov.uk/get-information-about-property-and-land/search-the-register">order official copies of land ownership documents</a> from HM Land Registry.</p>
          </div>
        </details>

        {{ govukButton({
          text: "Upload",
          classes: "js-updload-button",
          attributes: {"aria-live":"polite"}
        }) }}
        
      </form>

    </div>
  </div>

{% endblock %}

{% block pageScripts %}
  <script type="text/javascript">
window.addEventListener('load', function() {
  var timer;
  timeTaken=0;
  maxUploadTime = 3
  let uploadButton = $(".js-updload-button")
  function uploading (){
        timeTaken+=1
        console.log("uploading");
        if(timeTaken == 3){
          timeTaken=0
          clearInterval(timer);
          $("form").submit()
        }
  }

  uploadButton.on("click", function(e){
    e.preventDefault()
    $(this).attr("disabled","disabled").addClass("govuk-button--disabled").attr("aria-disabled","true").text("Uploading")
    timer = setInterval(uploading, 1000);
  })



});
</script>
{% endblock %}
