{% extends "register-application/v22/layout-register-application.html" %}

{% set pageHeading = "Check the written consent file" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ pageHeading }}
      </h1>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "File added",
              classes: "app-summary-list__key--narrow",
              classes: "govuk-!-width-one-quarter"
            },
            value: {
              html: '<a download href="#">landowner-consent-evidence.pdf</a>, 1.1MB'
            }
          }
        ]
      }) }}

      <!-- {% if data['land-registry'] == 'yes' %}
        <form method="post" action="./landowner-permission-correct-answer-land-registry-yes">
      {% else %}
        <form method="post" action="./landowner-permission-correct-answer-land-registry-no">
      {% endif %} -->

      <form method="post" action="./landowner-permission-check-answer">
      

        {{ govukRadios({
          idPrefix: "landowner-permission-correct",
          name: "landowner-permission-correct",
          fieldset: {
            legend: {
              text: "Is this the correct file?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes~./landowner-your-details",
              text: "Yes"
            },
            {
              value: "no",
              text: "No, choose a different file"
            }
          ]
        }) }}
        
        {{ govukButton({ text: 'Save and continue' }) }}
        
      </form>

    </div>
  </div>

{% endblock %}
