{% extends "register-application/v22/layout-register-application.html" %}

{% set pageHeading = "Does the planning obligation (Section 106 agreement) refer to a scheme of works?" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <form method="post" action="./management-plan-upload">
        {% set returnURL = query.returnURL or 'task-list' %}
        
        {{ govukRadios({
          idPrefix: "management-plan",
          name: "has-management-plan",
          fieldset: {
            legend: {
              text: pageHeading,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "A scheme of works is sometimes used to describe enhancement works required as part of a legal agreement."
          },
          items: [
            {
              value: "no~./legal-agreement-lpa-start",
              checked: (data['has-management-plan']=='yes'),
              text: "Yes, the details are included in the planning obligation"
            },
            {
              value: "nobut~./legal-agreement-statement-of-works-upload-alt",
              checked: (data['has-management-plan']=='yes'),
              text: "Yes, it's a separate document"
            },
            {
              divider: "or"
            },
            {
              value: "yes~./legal-agreement-lpa-start",
              checked: (data['has-management-plan']=='no'),
              text: "No, there's no reference to a scheme of works"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}
        
      </form>

    </div>
  </div>

{% endblock %}
