{% extends "register-application/v22/layout-register-application.html" %}

{% set pageHeading = "You need to add details of all landowners or leaseholders listed on the conservation covenant" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div data-module="moj-add-another">

        <h1 class="govuk-heading-l" tabindex="-1">
          {{ pageHeading }}
        </h1>

        <p>You must include every landowner or leaseholder named on the legal agreement, including yourself if you're listed.</p> 
        <p>You can add as many as you need to.</p>

        {% for lp in data.landowners %}

        {% set name = lp['landowners-org-name'] %}
          
        {% set email = lp['landowner-email'] %}

          {% if lp["landowner-type"] == "individual" %}

            {% set name = lp['landowner-f-name']+" "%}

            {% if lp["legal-party-m-name"]+" " != "" %}

              {% if lp['landowner-m-name'] | length %}
              
              {% set name = name+lp['landowner-m-name']+" "%}

              {% endif %}

            {% endif %}

            {% set name = name+lp['landowner-l-name']%}

        {% endif %}

        {% endfor %}

        <!-- name is {{ name }} -->
        <p>You must include:</p>
        <ul class="govuk-list govuk-list--bullet">
        <li>every landowner or leaseholder named on the legal agreement, including yourself if you're listed</li>
        <li>an email address for every landowner or leaseholder so we can tell them about updates to this application</li> 
        </ul>
              
        <form method="post" action="./legal-agreement-concov-landowner-type">

          <!-- new additional question-->

          {{ govukRadios({
            idPrefix: "check-landowner",
            name: "check-landowner",
            fieldset: {
              legend: {
                text: "Are there any other landowners or leaseholders listed on the legal agreement?",
                classes: "govuk-fieldset__legend--m"
              }
            },
            hint: { 
              text: "We need to know about any landowners or leaseholders apart from " + name
            },
            items: [
              {
                value: "yes~./legal-agreement-concov-landowner-type",
                text: "Yes"
              },
              {
                value: "no~./management-plan-question",
                text: "No"
              }
            ]
          }) }}

          <!-- ends -->

          {{ govukButton({
            text: "Save and continue"
          }) }}
        </form>
     
      
      </div>

    </div>
  </div>

{% endblock %}
