{% extends "register-application/v22/layout-register-application.html" %}

{% set pageHeading = "Add a party listed on the planning obligation (S106 agreement)" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <!-- action controled in ./_routes.js -->
      <form method="post">
        
        {% call govukFieldset({
          legend: {
            text: pageHeading,
            classes: 'govuk-fieldset__legend--l',
            isPageHeading: true
          }
        }) %}
    


        {% set otherHtml %}
        {{ govukInput({
          id: "legal-party-role-other",
          name: "legal-party-role-other",
          type: "text",
          classes: "govuk-!-width-one-third",
          label: {
            text: "Role"
          }
        }) }}
        {% endset -%}



{% set organisationName %}
{{ govukInput({
          id: 'legal-party-name',
          name: 'legal-party-name',
          label: {
            html: 'Organisation name'
          }
        }) }}
{% endset -%}

{% set individualName %}
{{ govukInput({
          id: 'legal-party-f-name',
          name: 'legal-party-f-name',
          label: {
            html: 'First name'
          }
        }) }}
        {{ govukInput({
          id: 'legal-party-f-name',
          name: 'legal-party-f-name',
          label: {
            html: 'Middle name'
          }
        }) }}
         {{ govukInput({
          id: 'legal-party-f-name',
          name: 'legal-party-f-name',
          label: {
            html: 'Last name'
          }
        }) }}



{% endset -%}




{{ govukRadios({
  name: "contact",
  fieldset: {
    legend: {
      text: "Type of legal party"
    }
  },
  hint: {
    text: "Select one option."
  },
  items: [
    {
      value: "organisation",
      text: "An organisation",
      conditional: {
        html: organisationName
      }
    },
    {
      value: "individual",
      text: "An individual",
      conditional: {
        html: individualName
      }
    }
  ]
}) }}




        {{ govukRadios({
          name: "legal-party-role",
          fieldset: {
            legend: {
              text: "Role"
            }
          },
          hint: {
            text: "Select one option."
          },
          items: [
            {
              value: "Local authority",
              text: "Local authority"
            },
            {
              value: "Developer",
              text: "Developer"
            },
            {
              value: "Landowner",
              text: "Landowner"
            },
            {
              value: "Other",
              text: "Other",
              conditional: {
                html: otherHtml
              }
            }
          ]
        }) }}
    
        {% endcall %}

        {{ govukButton({
          text: "Add legal party"
        }) }}
        
      </form>

    </div>
  </div>

{% endblock %}
