{% extends "register-application/v22/layout-register-application.html" %}

{% set hideSaveLink = true %}

{% set pageHeading = "Have you agreed that a development project can use the biodiversity gain site for off-site gain?" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <form method="post" action="./routing-results">

          {{ govukRadios({
            idPrefix: "routing-sold",
            name: "routing-sold",
            fieldset: {
              legend: {
                text: pageHeading,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              text: "You must have a legal agreement in place and you need to know the habitat the development project is using."
            },
            items: [
              {
                value: "Yes",
                text: "Yes",
                checked: checked("routing-sold", "Yes")
              },
              {
                value: "No",
                text: "No",
                checked: checked("routing-sold", "No")
              }
            ]
          }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
        
      </form>

    </div>
  </div>

{% endblock %}
