{% extends "register-application/" + data['version'] + "/layout-register-application.html" %}

{% set pageHeading = "Applications" %}

{% set hideSaveSection = true %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        {{ pageHeading }}
      </h1>

      <form action="#" method="post" novalidate>
        <input type="hidden" name="start-new-application" value="true">
        <button class="govuk-button" data-module="govuk-button">
          Start new application
        </button>
      </form>

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-visually-hidden">Applications</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Application</th>
            <th scope="col" class="govuk-table__header">Last updated</th>
            <th scope="col" class="govuk-table__header">Status</th>
            <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">Action</span></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">2022-0115-BNG</td>
            <td class="govuk-table__cell">27 January 2022</td>
            <td class="govuk-table__cell">
              {% if data['answers-checked'] == 'true' %} 
                <strong class="govuk-tag govuk-tag--blue">Submitted</strong></td>
              {% else %}
                <strong class="govuk-tag govuk-tag--yellow">In progress</strong></td>
              {% endif %}
            <td class="govuk-table__cell"><a href="/register-application/{{ data['version'] }}/task-list">
              {% if data['answers-checked'] == 'true' %} 
                View application
              {% else %}
                Continue application 
              {% endif %}   
              <span class="govuk-visually-hidden">2022-0115-BNG</span></a></td>
            
          </tr>
        </tbody>
      </table>
        
    </div>
</div>

{% endblock %}