{% extends "register-application/v6/layout-register-application.html" %}

{% set pageHeading = "Check your answers before sending your application" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ pageHeading }}
      </h1>

      <h2 class="govuk-heading-l">Land and habitat</h2>
      
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Landowner
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> Landowner</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Landowner consent
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> Landowner consent</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            HM Land registry
          </dt>
          <dd class="govuk-summary-list__value">
            <p>AGL117262</p>
            <p>Meadowcroft Farm<br>Goose Ln<br>Leeds<br>LS20 8PJ</p>
            <p>Freehold</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> HM Land Registry</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" style="vertical-align:top;">
            Land boundary
          </dt>
          <dd class="govuk-summary-list__value" style="vertical-align:top;">
            <img src="/public/images/location-confirm.png" alt="" width="100%" style="border: 1px solid #b1b4b6;">
          </dd>
          <dd class="govuk-summary-list__actions" style="vertical-align:top;">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> Land boundary</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Interested third parties
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> Interested third parties</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Interested third parties declaration
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> Interested third parties declaration</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Biodiversity metric 3.0
          </dt>
          <dd class="govuk-summary-list__value">
            <a download href="/public/images/Biodiversity Metric 3.0_meadow-croft.xlsm">Biodiversity Metric 3.0_meadow-croft.xlsm</a>, 4.1MB
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> Biodiversity metric 3.0</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Habitat management and monitoring plan
          </dt>
          <dd class="govuk-summary-list__value">
            <a download href="/public/images/meadow-croft-farm-mandm-plan.pdf">meadow-croft-farm-mandm-plan.pdf</a>, 3.6MB
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> Habitat management and monitoring plan</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Legal agreement
          </dt>
          <dd class="govuk-summary-list__value">
            Has legal agreements for linked developments
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> Legal agreement</span>
            </a>
          </dd>
        </div>

      </dl>

      <h2 class="govuk-heading-l">Linked developments</h2>
      
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Planning reference
          </dt>
          <dd class="govuk-summary-list__value">
            21/02367/FUL
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="/register-application/{{ pageURL }}/development-planning-ref-search">
              Change<span class="govuk-visually-hidden"> Planning reference</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Local Planning Authority
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['input-autocomplete'] or 'York City Council' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="/register-application/{{ pageURL }}/development-planning-ref-search">
              Change<span class="govuk-visually-hidden"> Local planning authority</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Legal agreement
          </dt>
          <dd class="govuk-summary-list__value">
            <a download href="/public/images/meadow-croft-farm-legal-agreement.pdf">meadow-croft-farm-legal-agreement.pdf</a>, 2.8MB
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="/register-application/{{ pageURL }}/development-legal-agreement-upload">
              Change<span class="govuk-visually-hidden"> Legal agreement</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Allocated units
          </dt>
          <dd class="govuk-summary-list__value">
            Grassland = 1.53 <br>
            Heathland and scrub = 0.10 <br>
            Native species rich hedgerow = 0.45
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="/register-application/{{ pageURL }}/development-allocation">
              Change<span class="govuk-visually-hidden"> Allocated units</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-l">Now send your application</h2>

      <p class="govuk-body">By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

      <form action="/register-application/{{ pageURL }}/confirmation" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <button class="govuk-button" data-module="govuk-button">
          Accept and send
        </button>

      </form>

    </div>
  </div>

{% endblock %}
