{% extends "register-application/v6/layout-register-application.html" %}

{% set pageHeading = "Check your answers before sending your application" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ pageHeading }}
      </h1>

      <h2 class="govuk-heading-m">Land and habitat</h2>
      
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Landowner
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> Landowner</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Landowner consent evidence
          </dt>
          <dd class="govuk-summary-list__value">
            <a download href="#">landowner-consent-evidence.pdf</a>, 2.8MB
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> Landowner consent</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            HM Land registry
          </dt>
          <dd class="govuk-summary-list__value">
            <p>AGL117262</p>
            <p>Meadowcroft Farm<br>Goose Ln<br>Leeds<br>LS20 8PJ</p>
            <p>Freehold</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> HM Land Registry</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" style="vertical-align:top;">
            Land boundary
          </dt>
          <dd class="govuk-summary-list__value" style="vertical-align:top;">
            <img src="/public/images/location-confirm.png" alt="" width="100%" style="border: 1px solid #b1b4b6;">
          </dd>
          <dd class="govuk-summary-list__actions" style="vertical-align:top;">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> Land boundary</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Biodiversity Metric 3.0
          </dt>
          <dd class="govuk-summary-list__value">
            <a download href="#">Biodiversity Metric 3.0_meadow-croft.xlsm</a>, 4.1MB
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> Biodiversity Metric 3.0</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Legal agreement conservation
          </dt>
          <dd class="govuk-summary-list__value">
            <a download href="#">meadow-croft-farm-legal-agreement.pdf</a>, 2.8MB
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> Legal agreement</span>
            </a>
          </dd>
        </div>

      </dl>

      <h2 class="govuk-heading-m">Linked development</h2>
      
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Planning reference number
          </dt>
          <dd class="govuk-summary-list__value">
            21/02367/FUL, <br>{{ data['input-autocomplete'] or 'York City Council' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="#">
              Change<span class="govuk-visually-hidden"> Planning reference</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Biodiversity Metric 3.0
          </dt>
          <dd class="govuk-summary-list__value">
            <a download href="#">Biodiversity Metric 3.0_21/02367/FUL_complete.xlsm</a>, 5.8MB
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> Biodiversity Metric 3.0</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Habitat management and monitoring plan
          </dt>
          <dd class="govuk-summary-list__value">
            <a download href="/public/images/meadow-croft-farm-mandm-plan.pdf">meadow-croft-farm-mandm-plan.pdf</a>, 3.6MB
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="#">
              Change<span class="govuk-visually-hidden"> Habitat management and monitoring plan</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Legal agreement financial
          </dt>
          <dd class="govuk-summary-list__value">
            <a download href="#">legal-agreement-financial.pdf</a>, 2.3MB
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="#">
              Change<span class="govuk-visually-hidden"> Legal agreement</span>
            </a>
          </dd>
        </div>

      </dl>

      <h2 class="govuk-heading-l">Now send your application</h2>

      <p class="govuk-body">By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

      <form action="/register-application/{{ pageURL }}/confirmation" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <button class="govuk-button" data-module="govuk-button">
          Accept and send
        </button>

      </form>

    </div>
  </div>

{% endblock %}
