{% extends "register-application/v6/layout-register-application.html" %}

{% set pageHeading = "Check your answers before sending your application" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ pageHeading }}
      </h1>

      <h2 class="govuk-heading-m">Land for off-site biodiversity gain</h2>
      
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        {% if data['landowner-permission-correct'] %} 
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Landowner consent
            </dt>
            <dd class="govuk-summary-list__value">
              <a download href="#">landowner-consent-evidence.pdf</a>, 1.1MB
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> Landowner consent</span>
              </a>
            </dd>
          </div>
        {% endif %} 

        {% if data['land-ownership-check'] %} 
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Ownership certificate
            </dt>
            <dd class="govuk-summary-list__value">
              <a download href="#">ownership-certificate.pdf</a>, 1.6MB
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> Ownership certificate</span>
              </a>
            </dd>
          </div>
        {% endif %}

        {% if data['land-registry-check'] %} 
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            HM Land registry details
          </dt>
          <dd class="govuk-summary-list__value">
            <p>AGL117262</p>
            <p>Meadowcroft Farm<br>Goose Ln<br>Leeds<br>LS20 8PJ</p>
            <p>Freehold</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> HM Land Registry</span>
            </a>
          </dd>
        </div>
        {% endif %}

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" style="vertical-align:top;">
            Land boundary
          </dt>
          <dd class="govuk-summary-list__value" style="vertical-align:top;">
            <img src="/public/images/location-confirm.png" alt="" width="100%" style="border: 1px solid #b1b4b6;">
          </dd>
          <dd class="govuk-summary-list__actions" style="vertical-align:top;">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> Land boundary</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Habitat management and monitoring plan
          </dt>
          <dd class="govuk-summary-list__value">
            <a download href="#">habitat-management-plan.pdf</a>, 1MB
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="#">
              Change<span class="govuk-visually-hidden"> Habitat management and monitoring plan</span>
            </a>
          </dd>
        </div>
        
        {% if data['legal-agreements'] == 'planning-obligation' %} 
        {% else %} 
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Conservation covenant
            </dt>
            <dd class="govuk-summary-list__value">
              <a download href="#">conservation-covenant.pdf</a>, 1MB
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> Legal agreement</span>
              </a>
            </dd>
          </div>
        {% endif %} 

      </dl>

      <h2 class="govuk-heading-m">Linked development</h2>
      
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Planning reference number
          </dt>
          <dd class="govuk-summary-list__value">
            21/02367/FUL, <br>{{ data['input-autocomplete'] or 'York City Council' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="#">
              Change<span class="govuk-visually-hidden"> Planning reference</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Biodiversity Metric 3.0
          </dt>
          <dd class="govuk-summary-list__value">
            <a download href="#">metric_3.0_21/02367/FUL.xlsm</a>, 4.1MB
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> Biodiversity Metric 3.0</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            {% if data['legal-agreements'] == 'planning-obligation' %} 
              Planning obligation
            {% else %}
              Financial agreement
            {% endif %} 
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['legal-agreements'] == 'planning-obligation' %} 
              <a download href="#">planning-obligation.pdf</a>, 1.2MB
            {% else %}
              <a download href="#">financial-agreement.pdf</a>, 1.2MB
            {% endif %} 
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="#">
              Change<span class="govuk-visually-hidden"> Legal agreement</span>
            </a>
          </dd>
        </div>

      </dl>

      <h2 class="govuk-heading-l">Submit your application</h2>

      <p class="govuk-body">By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

      <form action="/register-application/{{ pageURL }}/confirmation" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <button class="govuk-button" data-module="govuk-button">
          Accept and apply
        </button>

      </form>

    </div>
  </div>

{% endblock %}
