{% set serviceName = "Register land for biodiversity gain that is linked to a development" %}
{% set serviceUrl = "" %}
{% set pageURL = "v6" %}

{% extends "../../layout.html" %}

{% block header %}

  {{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: serviceUrl
  }) }}

   <div class="govuk-width-container">

    {% include "includes/phase-banner.html" %}
    <!-- {% include "includes/login-nav.html" %} -->
    
  </div>

{% endblock %}

{% block beforeContent %}
  <div class="app-save__wrapper">
    {% if hideBackLink === true %}
    {% else %}
      {{ govukBackLink({
        text: "Back",
        href: "javascript: window.history.go(-1)"
      }) }}
    {% endif %} 
    {% if hideSaveLink === true %}
    {% else %}
    <div class="app-save">
      <p><a class="govuk-link govuk-link--no-visited-state" href="/register-application/{{ pageURL }}/signed-out?lastVisitedURL={{currentURL}}">Save and return later</a></p>
    </div>
    {% endif %} 
  </div>
{% endblock %}

{% block footer %}
  {% include "includes/footer.html" %}
{% endblock %}