{% extends "register-application/v6/layout-register-application.html" %}

{% set pageHeading = "Select the boundary" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ pageHeading }}
      </h1>

      <p><strong>SBI number:</strong> 200435817 <a class="govuk-link--no-visited-state govuk-body-s" href="/register-application/{{ pageURL }}/location-rpa-search"><br>Change <span class="govuk-visually-hidden">SBI number</span></a></p>
      
      <h2 class="govuk-heading-m">
        Map view
      </h2>

      <details class="govuk-details govuk-!-margin-top-4" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
          How to select a boundary
          </span>
        </summary>
        <div class="govuk-details__text">
          <ol class="govuk-list govuk-list--number">
            <li>Select the area of the boundary.</li>
            <li>You can select multiple areas to make the boundary.</li>
          </ol>
        </div>
      </details>

    </div>
  </div>

  <script>
    var onImg= "/public/images/location-rpa.png";
    var offImg= "/public/images/location-rpa-selected.png";
  </script>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <img src="/public/images/location-rpa.png" alt="" width="100%" style="margin-bottom: 20px; cursor: pointer; border: 1px solid #b1b4b6;" onclick="this.src = this.src == offImg ? onImg : offImg;">
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h2 class="govuk-heading-m">
        List view
      </h2>

      <div class="app-table-responsive">
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Land parcels</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Parcel ID</th>
              <th scope="col" class="govuk-table__header">Area</th>
              <th scope="col" class="govuk-table__header">Perimeter / Length</th>
              <th scope="col" class="govuk-table__header">Select parcel</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">
                9859
              </td>
              <td class="govuk-table__cell">5.78 ha</td>
              <td class="govuk-table__cell">1311.92 m</td>
              <td class="govuk-table__cell">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                  <label class="govuk-label govuk-checkboxes__label" for="waste">
                    <span class="govuk-visually-hidden">Parcel ID 9859</span>
                  </label>
                </div>
              </td>
            </tr>

            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">
                1363
              </td>
              <td class="govuk-table__cell">4.44 ha</td>
              <td class="govuk-table__cell">986.20 m</td>
              <td class="govuk-table__cell">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                  <label class="govuk-label govuk-checkboxes__label" for="waste">
                    <span class="govuk-visually-hidden">Parcel ID 1363</span>
                  </label>
                </div>
              </td>
            </tr>

            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">
                2463
              </td>
              <td class="govuk-table__cell">3.82 ha</td>
              <td class="govuk-table__cell">856.09 m</td>
              <td class="govuk-table__cell">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                  <label class="govuk-label govuk-checkboxes__label" for="waste">
                    <span class="govuk-visually-hidden">Parcel ID 2463</span>
                  </label>
                </div>
              </td>
            </tr>

          </tbody>
        </table>
      </div>

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post" action="/register-application/{{ pageURL }}/location-rpa-confirm">

        {{ govukButton({
          text: "Continue"
        }) }}
        
      </form>

    </div>
  </div>

{% endblock %}