{% extends "register-application/v6/layout-register-application.html" %}

{% set pageHeading = "Upload your habitat management and monitoring plan for the off-site biodiversity gain" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ pageHeading }}
      </h1>
      
      <form method="post" action="/register-application/{{ pageURL }}/management-plan-check">

        {{ govukFileUpload({
          id: "management-plan-upload",
          name: "management-plan-upload",
          label: {
            text: "Upload a file",
            classes:"govuk-visually-hidden"
          },
          hint: {
            text: "PDF, max size 50MB"
          }
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
        
      </form>

    </div>
  </div>

{% endblock %}
