{% extends "register-application/v6/layout-register-application.html" %}

{% set hideSaveLink = true %}

{% set pageHeading = "Come back later" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ pageHeading }}
      </h1>

      <p>You'll need a <a href="">habitat management and monitoring plan</a> for the off-site biodiversity gain.</p>

      <!--<p><a href="javascript: window.history.go(-1)">Change my previous answer</a>--></p>

    </div>
  </div>

{% endblock %}
