{% extends "register-application/v6/layout-register-application.html" %}

{% set hideSaveLink = true %}

{% set pageHeading = "Get landowner consent" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ pageHeading }}
      </h1>

      <p>You'll need a signed document from the landowner giving you consent to register their land. <!--<a href="javascript: window.history.go(-1)">Change my previous answer</a>--></p>

      {% include "includes/not-eligible-list.html" %}

    </div>
  </div>

{% endblock %}
