{% extends "register-application/v6/layout-register-application.html" %}

{% set hideSaveLink = true %}

{% set pageHeading = "Come back later" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ pageHeading }}
      </h1>

      <p>You'll need to have a signed document from all <a class="govuk-link" href="#">interested third parties</a> stating that your application does not conflict with their interests. <!--<a href="javascript: window.history.go(-1)">Change my previous answer</a>--></p>

    </div>
  </div>

{% endblock %}
