{% extends "register-application/v6/layout-register-application.html" %}

{% set pageHeading = "You've signed out" %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          {{ pageHeading }}
        </h1>
        <div class="govuk-panel__body">
          We've saved the details you entered so far.
        </div>
      </div>

      <p>You can save the following link and use it to return to your application: <a href="/register-application/{{ pageURL }}/sign-in">https://gov.uk/register-land-for-biodiversity-gain</a>.</p>
        
    </div>
</div>

{% endblock %}