
{% extends "layout.html" %}

{% set pageHeading = "Assumptions, backlog and user needs" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/sprint-4"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Sprint 4</span>
        {{ pageHeading }}
      </h1>

      <h2 class="govuk-heading-m">Assumptions</h2>

      <ol class="govuk-list govuk-list--number govuk-list--spaced">
        <li>TBD</li>
      </ol>

      <h2 class="govuk-heading-m">Backlog</h2>
      <p>TBD</p>

      <h2 class="govuk-heading-m">User needs</h2>
      <p><strong>User: </strong>As someone registering a biodiversity gain site, I need…</p>
      <p><strong>Need: </strong>To reuse geospatial data for the gain site area so that I don't have to duplicate my time</p>
      <p><strong>Insight: </strong>During the assessment of a gain site, a boundary is typically digitised using geospatial data. Some boundaries are more complex than others and can take up a significant amount of time to draw.</p>
      <div class="govuk-inset-text">"That is a simple site, but it might take me 1 hour to digitise a boundary" <br>– Participant 26</div>
    </div>

  </div>

{% endblock %}
