{% extends "register-application/v2/layout-register-application.html" %}

{% set pageHeading = "Search the HM Land Registry" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript: window.history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post" action="/register-application/{{ pageURL }}/land-registry-search-lookup">

        {% call govukFieldset({
          legend: {
            text: pageHeading,
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}

        {{ govukInput({
          label: {
            text: "Title number",
            classes: "govuk-label--s"
          },
            id: "land-title-number",
            name: "land-title-number",
            classes: "govuk-input--width-10"
          })  
        }}

        {{ govukInput({
          label: {
            text: "House number or name",
            classes: "govuk-label--s"
          },
            id: "land-number",
            name: "land-number",
            classes: "govuk-!-width-one-half"
          })  
        }}

        {{ govukInput({
          label: {
            text: "Street name",
            classes: "govuk-label--s"
          },
            id: "land-street-name",
            name: "land-street-name",
            classes: "govuk-!-width-one-half"
          })  
        }}

        {{ govukInput({
          label: {
            text: "Town",
            classes: "govuk-label--s"
          },
            id: "land-town",
            name: "land-town",
            classes: "govuk-!-width-one-half"
          })  
        }}
        
        {% endcall %}

        {{ govukButton({
          text: "Search"
        }) }}

      </form>

      <p><a href="/register-application/{{ pageURL }}/land-registry-search">Search by postcode</a></p>

    </div>
  </div>

{% endblock %}
