{% extends "register-application/v2/layout-register-application.html" %}

{% set pageHeading = "Who is responsible for carrying out the works?" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript: window.history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <form method="post" action="/register-application/{{ pageURL }}/land-works-responsible-business-where">

        {{ govukRadios({
          idPrefix: "land-works-responsible-who",
          name: "land-works-responsible-who",
          fieldset: {
            legend: {
              text: pageHeading,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "land-works-responsible-who-business",
              text: "A business or organisation"
            },
            {
              value: "land-works-responsible-who-person",
              text: "An individual"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
        
      </form>

    </div>
  </div>

{% endblock %}
