{% extends "register-application/v2/layout-register-application.html" %}

{% set pageHeading = "Draw the boundary" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript: window.history.go(-1)"
  }) }}
{% endblock %}

{% set map = true %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ pageHeading }}
      </h1>

      <details class="govuk-details govuk-!-margin-top-4" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Instructions on how to draw a boundary
          </span>
        </summary>
        <div class="govuk-details__text">
          <ol class="govuk-list govuk-list--number">
            <li>select any point on the site boundary</li>
            <li>select a second point on the boundary - you should see a line drawn between the first two points </li>
            <li>keep adding points until the boundary is defined</li>
            <li>double click or tap when you mark your final point</li>
            <li>edit the finished boundary by dragging the points</li>
            <li>add more points to a boundary by clicking or tapping on a line</li>
          </ol>
        </div>
      </details>
      <div class="govuk-form-group markerRadiosContainer">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
            <button class="govuk-button govuk-button--secondary" data-module="govuk-button" name="delete-boundary" value="delete-boundary" id="deleteBoundary">
              Delete boundary
            </button>
          </fieldset>
        </div>
      </div>
    </div>
  </div>

  <form method="post" action="/register-application/{{ pageURL }}/location-confirm">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div id="map" class="map" tabindex="0"></div>
        <div id="map-coordinates" class = "mapcoordinates"></div>
        {{ govukButton({
          text: "Continue"
        }) }}
      </div>
    </div>
  </form>

{% endblock %}

{% block pageScripts %}
  <script type="module" src="/public/javascripts/map.min.js"></script>
{% endblock %}
