{% extends "register-application/v2/layout-register-application.html" %}

{% set pageHeading = "What is the location of the biodiversity gain site?" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript: window.history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ pageHeading }}
      </h1>

      <form method="post" action="/register-application/{{ pageURL }}/task-list">

        {{ govukInput({
          label: {
            text: "National Grid Reference",
            classes: "govuk-label--m"
          },
          hint: {
            text: "For example, NY395557"
          },
            id: "location-grid-ref",
            name: "location-grid-ref",
            value: data['location-grid-ref'],
            classes: "govuk-input--width-10"
          })  
        }}

        {{ govukButton({
            text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
