{% extends "register-application/v2/layout-register-application.html" %}

{% set pageHeading = "Register a biodiversity gain site" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{ pageHeading }}
      </h1>

      <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Application incomplete</h2>
      <p class="govuk-body govuk-!-margin-bottom-7">You have completed 0 of 3 sections.</p>

      <ol class="app-task-list">

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span> Provide information on the biodiversity gain site
          </h2>
          <ul class="app-task-list__items">

            <li class="app-task-list__item">
              {% if data['landowner'] == 'yes' or data['landowner-permission'] == 'yes' %}
              <a href="/register-application/{{ pageURL }}/landowner" aria-describedby="eligibility-status">
                Landowner permission
              </a>
              <strong class="govuk-tag govuk-tag app-task-list__tag" id="list-convictions-status">Completed</strong>
              {% else %}
              <span class="app-task-list__task-name">
                <a href="/register-application/{{ pageURL }}/landowner" aria-describedby="eligibility-status">
                  Landowner permission
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
              {% endif %} 
            </li>

            <li class="app-task-list__item">
              {% if data['landowner'] == 'yes' or data['landowner-permission'] == 'yes' %}
              <span class="app-task-list__task-name">
                <a href="/register-application/{{ pageURL }}/#" aria-describedby="eligibility-status">
                  Location and area
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
              {% else %}
              <span class="app-task-list__task-name">
                Location and area
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Cannot start yet</strong>
              {% endif %} 
            </li>

            <li class="app-task-list__item">
              {% if data['landowner'] == 'yes' or data['landowner-permission'] == 'yes' %}
              <span class="app-task-list__task-name">
                <a href="/register-application/{{ pageURL }}/interested-third-parties" aria-describedby="eligibility-status">
                  Interested third parties
                </a>
              </span>
              {% if data['interested-third-parties'] %}
              <strong class="govuk-tag govuk-tag app-task-list__tag" id="list-convictions-status">completed</strong>
              {% else %}
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
              {% endif %} 
              {% else %}
              <span class="app-task-list__task-name">
                Interested third parties
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Cannot start yet</strong>
              {% endif %} 
            </li>

            <li class="app-task-list__item">
              {% if data['landowner'] == 'yes' or data['landowner-permission'] == 'yes' %}
              <span class="app-task-list__task-name">
                <a href="/register-application/{{ pageURL }}/metric" aria-describedby="eligibility-status">
                  The biodiversity metric
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
              {% else %}
              <span class="app-task-list__task-name">
                The biodiversity metric
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Cannot start yet</strong>
              {% endif %} 
            </li>

            <li class="app-task-list__item">
              {% if data['landowner'] == 'yes' or data['landowner-permission'] == 'yes' %}
              <span class="app-task-list__task-name">
                <a href="/register-application/{{ pageURL }}/land-management" aria-describedby="eligibility-status">
                  Management and monitoring
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Not started</strong>
              {% else %}
              <span class="app-task-list__task-name">
                Management and monitoring
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Cannot start yet</strong>
              {% endif %} 
            </li>

          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span> Allocate developments to the biodiversity gain site
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                  Development information
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">Cannot start yet</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span> Pay and apply
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                Pay the application fee
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                Submit the application
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
            </li>
          </ul>
        </li>

      </ol>

      {% include "includes/save-and-exit.html" %}

    </div>
  </div>

{% endblock %}
