{% extends "register-application/v5/layout-register-application.html" %}

{% set pageHeading = "Application submitted" %}

{% block beforeContent %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          {{ pageHeading }}
        </h1>
        
        <div class="govuk-panel__body">
          Site reference number<br>150384
        </div>
        
      </div>

      <p>We've sent you a confirmation email.</p>

      <h2 class="govuk-heading-m">What happens next</h2>

      <p>Natural England will review your details.</p>

      <p>They'll email you with their decision.</p>

      <h3 class="govuk-heading-s">If the land is not yet linked to a development</h3>
      <p class="govuk-body">You must <a class="govuk-link" href="/register-application/{{ pageURL }}/allocate-development/government-gateway-login">update your registration </a> once the whole land or a part of it is linked to a development. </p>

    </div>
  </div>

{% endblock %}
