{% extends "register-application/v5/layout-register-application.html" %}

{% set pageHeading = "Application submitted" %}

{% block beforeContent %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          {{ pageHeading }}
        </h1>
        
        <div class="govuk-panel__body">
          Your reference number<br>9937261
        </div>
        
      </div>

      <p>We’ve sent you a confirmation email.</p>

      <h2 class="govuk-heading-m">What happens next</h2>

      <p>We’ve sent your application to Natural England, so that they can review your details.</p>

      <p>They’ll email you when there’s an update with your application.</p>

    </div>
  </div>

{% endblock %}
