{% extends "register-application/v5/layout-register-application.html" %}

{% set pageHeading = "Search results" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ pageHeading }}
      </h1>

      <form method="post" action="/register-application/{{ pageURL }}/development-legal-agreement">

        {{ govukRadios({
          idPrefix: "planning-application-search-results",
          name: "planning-application-search-results",
          fieldset: {
            legend: {
              text: "Select a planning application",
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: "3 planning applications found"
          },
          items: [
            {
              value: "planning-application-1",
              html: "<span class='govuk-!-display-block govuk-!-font-weight-bold'>Rushcliffe Council</span> 21/02367/FUL"
            },
            {
              value: "planning-application-2",
              html: "<span class='govuk-!-display-block govuk-!-font-weight-bold'>City of York</span> 21/02367/FUL"
            },
            {
              value: "planning-application-3",
              html: "<span class='govuk-!-display-block govuk-!-font-weight-bold'>Cotswold District Council</span> 21/02367/FUL"
            }
          ]
        }) }}


        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

      <p><a class="govuk-link--no-visited-state" href="/register-application/{{ pageURL }}/development-planning-ref-search">Search again</a></p>


    </div>
  </div>

{% endblock %}
