{% extends "register-application/" + data['version'] + "/layout-register-application.html" %}

{% set pageHeading = "Confirm document for the land boundary" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ pageHeading }}
      </h1>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Document added",
              classes: "app-summary-list__key--narrow",
              classes: "govuk-!-width-one-quarter"
            },
            value: {
              html: '<a download href="#">meadow-croft-farm-title-plan.pdf</a>, 1.2MB'
            }
          }
        ]
      }) }}

      <form method="post" action="/register-application/{{data['version']}}/location-upload-confirm-answer">

        {{ govukRadios({
          idPrefix: "location-confirm",
          name: "location-confirm",
          fieldset: {
            legend: {
              text: "Is it the correct document?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no-again",
              text: "No, upload a different document"
            },
            {
              value: "no",
              text: "No, choose a different way to provide the land boundary"
            }
          ]
        }) }}
        
        {{ govukButton({ text: 'Continue' }) }}
        
      </form>

    </div>
  </div>

{% endblock %}
