{% extends "register-application/" + data['version'] + "/layout-register-application.html" %}

{% set pageHeading = "What is your Single Business Identifier (SBI) number?" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post" action="/register-application/{{data['version']}}/location-rpa-select">

        {{ govukInput({
          label: {
            text: pageHeading,
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "For example, 200435817"
          },
            id: "location-sbi-number",
            name: "location-sbi-number",
            classes: "govuk-input--width-10"
          })  
        }}

        {{ govukDetails({
          summaryText: "Find your SBI",
          html: "<p><a href='https://www.ruralpayments.service.gov.uk/''>Sign in to your Defra account (opens in a new tab)</a> to find your SBI.</p><p>If you cannot sign in, contact the Rural Payments teams:<br>Email: <a href='#''>ruralpayments@defra.gov.uk</a><br>Telephone on 03000 200 301</p>"
        }) }}

        {{ govukButton({
            text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
