{% extends "register-application/v5/layout-register-application.html" %}

{% set pageHeading = "How do you want to sign in?" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript: window.history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <form method="post" action="/register-application/{{ pageURL }}/sign-in">

        {{ govukRadios({
          idPrefix: "how-do-you-want-to-sign-in",
          name: "how-do-you-want-to-sign-in",
          fieldset: {
            legend: {
              text: pageHeading,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "defra-id",
              text: "Sign in with Defra ID"
            },
            {
              value: "gateway",
              text: "Sign in with Government Gateway"
            },
            {
              divider: "or"
            },
            {
              value: "create-account",
              text: "Register a new account"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
        
      </form>

    </div>
  </div>

{% endblock %}
