{% extends "register-application/v12/layout-register-application.html" %}

{% set hideSaveLink = true %}

{% set pageHeading = "Do you have a habitat management and monitoring plan for the biodiversity gain site?" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <form method="post" action="/register-application/{{ pageURL }}/eligibility-results">

          {{ govukRadios({
            idPrefix: "eligibility-management-plan",
            name: "eligibility-management-plan",
            fieldset: {
              legend: {
                text: pageHeading,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              html: "<span class='govuk-!-display-block govuk-hint'>The plan should detail how the habitats will be managed and monitored for the time set out in the legal agreement.</span>
                     <span class='govuk-!-display-block govuk-hint'>You'll also need to:</span>
                      <ul class='govuk-list govuk-list--bullet govuk-!-margin-bottom-3 app-secondary-text-colour'>
                        <li>tell us the start date of the management and monitoring period</li>
                        <li>confirm that habitat creation and enhancement works did not start before 30 January 2020</li>
                      </ul>
                      <span class='govuk-!-display-block govuk-hint'>You can upload a Word document or PDF, it should not be larger than 50MB.</span>"
            },
            items: [
              {
                value: "Yes",
                text: "Yes",
                checked: checked("eligibility-management-plan", "Yes")
              },
              {
                value: "No",
                text: "No",
                checked: checked("eligibility-management-plan", "No")
              },
              {
                value: "Not sure",
                text: "I'm not sure",
                checked: checked("eligibility-management-plan", "Not sure")
              }
            ]
          }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
        
      </form>

    </div>
  </div>

{% endblock %}
