{% extends "register-application/v12/layout-register-application.html" %}

{% set hideSaveLink = true %}

{% set pageHeading = "Do you have a file that shows the boundary of the biodiversity gain site?" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <form method="post" action="/register-application/{{ pageURL }}/eligibility-metric">

          {{ govukRadios({
            idPrefix: "eligibility-boundary",
            name: "eligibility-boundary",
            fieldset: {
              legend: {
                text: pageHeading,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              html: "<span class='govuk-!-display-block govuk-hint'>Do you have a file showing the boundary of the biodiversity gain site?</span>
                     <span class='govuk-!-display-block govuk-hint'>You can upload a:</span>
                     <ul class='govuk-list govuk-list--bullet app-secondary-text-colour'>
                      <li>document</li>
                      <li>image</li>
                      <li>geospatial file</li>
                    </ul>
                    <span class='govuk-!-display-block govuk-hint'>f you upload a document or image you also need to know the grid reference and area in hectares,</span>"
            },
            items: [
              {
                value: "Yes",
                text: "Yes",
                checked: checked("eligibility-boundary", "Yes")
              },
              {
                value: "No",
                text: "No",
                checked: checked("eligibility-boundary", "No")
              },
              {
                value: "I'm not sure",
                text: "I'm not sure",
                checked: checked("eligibility-boundary", "I'm not sure")
              }
            ]
          }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
        
      </form>

    </div>
  </div>

{% endblock %}
