{% extends "register-application/v12/layout-register-application.html" %}

{% set pageHeading = "Check the available habitats on the biodiversity gain site" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ pageHeading }}
      </h1>

      <div class="govuk-inset-text">We've taken this information from the post-development part of your metric.</div>

      <div class="app-table-responsive">
        <table class="govuk-table">
          <caption class="govuk-visually-hidden">Habitat types, area and condition</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Habitat type and condition</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric">Area (ha)</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">Grassland 
                <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">Other neutral grassland</span>
                <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0 app-secondary-text-colour">
                  Good condition
                </span>
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric">2.40</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">Heathland and scrub 
                <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">Hazel scrub</span>
                <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0 app-secondary-text-colour">
                  Good condition
                </span>
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric">1.25</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">Woodland and forest 
                <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">Other woodland; mixed</span>
                <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0 app-secondary-text-colour">
                  Good condition
                </span>
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric">0.50</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">Total</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">4.15</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="app-table-responsive">
        <table class="govuk-table">
          <caption class="govuk-visually-hidden">Hedgerow types, length and condition</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Hedgerow type and condition</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric">Length (km)</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">Native species rich hedgerow
                <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0 app-secondary-text-colour">
                  Good condition
                </span>
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric">0.18</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">Line of trees
                <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0 app-secondary-text-colour">
                  Good condition
                </span>
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric">0.50</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">Total</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">0.68</td>
            </tr>
          </tbody>
        </table>

      </div>
      
    </div>
    <div class="govuk-grid-column-two-thirds">

      <form method="post" action="/register-application/{{ pageURL }}/task-list">

        <input type="hidden" name="habitat-checked-data" value="yes">

        {{ govukButton({ text: 'Continue' }) }}
        
      </form>

      <p>Or</p>

      <p><a href="/register-application/{{ pageURL }}/metric-upload" class="govuk-link--no-visited-state">Upload a different Biodiversity Metric (Secretary of State version)</a></p>

    </div>
  </div>

{% endblock %}
