{% extends "register-application/v7/layout-register-application.html" %}

{% set pageHeading = "Find a planning application" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

      <form method="post" action="/register-application/{{ pageURL }}/development-planning-ref-select">

        {{ govukInput({
          label: {
              text: "Planning portal reference number"
          },
          hint: {
            text: "For example, 21/02367/FUL"
          },
            classes: "govuk-input--width-10",
            id: "planningref",
            name: "planningref"
          })  
        }}

        {{ govukButton({
          text: 'Search'
        }) }}
          
      </form>

    </div>
  </div>

{% endblock %}
