{% extends "register-application/v7/layout-register-application.html" %}

{% set pageHeading = "Add a habitat, hedgerow or river" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <form method="post" action="/register-application/{{ pageURL }}/habitat-add-answer">

        {{ govukRadios({
          idPrefix: "habitat-add",
          name: "habitat-add",
          fieldset: {
            legend: {
              text: pageHeading,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: ""
          },
          items: [
            {
              value: "habitat",
              text: "Habitat"
            },
            {
              value: "hedgerow",
              text: "Hedgerow"
            },
            {
              value: "river",
              text: "River"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
        
      </form>

    </div>
  </div>

{% endblock %}
