{% extends "register-application/v4/layout-register-application.html" %}

{% set pageHeading = "Add a habitat" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div data-module="moj-add-another">

        <form method="post" action="/register-application/{{ pageURL }}/development-local-authority-confirm">

          {% call govukFieldset({
            legend: {
              text: pageHeading,
              classes: 'govuk-fieldset__legend--l',
              isPageHeading: true
            }
          }) %}

          <label for="habitat-types" class="govuk-label" for="example">
            Habitat type
          </label>
          <div id="habitat-types" class="autocomplete-wrapper govuk-!-margin-bottom-4"></div>

          {{ govukInput({
            label: {
              text: "Area, in hectares"
            },
            classes: "govuk-input--width-5",
            id: "area",
            name: "area",
            suffix: {
              text: "ha"
            },
            spellcheck: false
          }) }}

          {% endcall %}

            {{ govukButton({
              text: 'Submit'
            }) }}
          </div>

        </form>

      </div>

    </div>
  </div>

{% endblock %}

{% block pageScripts %}
<script type="text/javascript" src="/public/javascripts/accessible-autocomplete.min.js"></script>
<script type="text/javascript">
  var habitatTypes = [
  'Cropland',
  'Grassland',
  'Heathland and shrub',
  'Lakes',
  'Sparsely vegetated land',
  'Urban',
  'Wetland',
  'Woodland and forest',
  'Intertidal sediment',
  'Coastal saltmarsh',
  'Rocky shore',
  'Coastal lagoons',
  'Intertidal Hard Structures'
  ]
</script>

<script type="text/javascript">
  var element = document.querySelector('#habitat-types')
  var id = 'habitat-types'
  accessibleAutocomplete({
    element: element,
    id: id,
    source: habitatTypes
  })
</script>

{% endblock %}
