{% extends "register-application/v7/layout-register-application.html" %}

{% set pageHeading = "How do you want to provide details of the available habitat enhancements for the entire off-site?" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <form method="post" action="/register-application/{{ pageURL }}/habitat-answer">

        {{ govukRadios({
          idPrefix: "habitat",
          name: "habitat",
          fieldset: {
            legend: {
              text: pageHeading,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            html: "<p class='govuk-hint'>We need the habitat information for the entire off-site. It should include:</p>
            <ul>
              <li>habitat, hedgerow or river type</li>
              <li>size area or length and condition</li>
            </ul>
            <p class='govuk-hint'>It should match what's in your habitat management and monitoring plan.</p>"
          },
          items: [
            {
              value: "metric",
              text: "Upload Biodiversity Metric 3.0 calculations",
              hint: {
                text: "XLSM or XLSX file"
              }
            },
            {
              value: "manual",
              text: "Enter data manually"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
        
      </form>

    </div>
  </div>

{% endblock %}
