{% extends "register-application/v7/layout-register-application.html" %}

{% set pageHeading = "Upload the certificate of ownership" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ pageHeading }}
      </h1>
      
      <form method="post" action="/register-application/{{ pageURL }}/land-ownership-certificate-check">

        {{ govukFileUpload({
          id: "land-ownership-certificate-upload",
          name: "land-ownership-certificate-upload",
          label: {
            text: "Upload a file",
            classes:"govuk-visually-hidden"
          },
          hint: {
            text: "PDF, max size 50MB"
          }
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
        
      </form>

      <p>Or <a href="/register-application/{{ pageURL }}/land-registry-search">search for the property on HM Land Registry</a></p>

    </div>
  </div>

{% endblock %}
