{% extends "register-application/v7/layout-register-application.html" %}

{% set hideSaveLink = true %}
{% set hideSignOut = true %}

{% set pageHeading = "Which legal agreements do you have?" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <form method="post" action="/register-application/{{ pageURL }}/legal-agreements-answer">

        {{ govukRadios({
          idPrefix: "legal-agreements",
          name: "legal-agreements",
          fieldset: {
            legend: {
              text: pageHeading,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "You'll need a legal agreement to show how the biodiversity gain on the off-site land will be paid for and managed for at least 30 years."
          },
          items: [
            {
              value: "planning-obligation",
              text: "Planning obligation"
            },
            {
              value: "conservation-covenant",
              text: "Conservation covenant and a financial agreement between the developer and the landowner"
            },
            {
              divider: "or"
            },
            {
              value: "none",
              text: "None of the above"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
        
      </form>

    </div>
  </div>

{% endblock %}
