{% extends "register-application/v7/layout-register-application.html" %}

{% set pageHeading = "Check the data before you continue" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ pageHeading }}
      </h1>

    </div>
    <div class="govuk-grid-column-full">

      <h2 class="govuk-heading-m">Off-site habitat enhancements allocated to the development</h2>

      <p class="govuk-!-margin-bottom-5"><strong>Development:</strong> 21/02367/FUL, York City Council</p>

      <div class="app-table-responsive">
        <table class="govuk-table">
          <caption class="govuk-visually-hidden">Habitat types, area and condition</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" style="width:40%">Habitat type</th>
              <th scope="col" class="govuk-table__header" style="width:20%">Area (ha)</th>
              <th scope="col" class="govuk-table__header" style="width:20%">Condition</th>
              <th scope="col" class="govuk-table__header">Biodiversity units</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">
                Grassland
                <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">
                  Other neutral grassland
                </span>
              </td>
              <td class="govuk-table__cell">2.25</td>
              <td class="govuk-table__cell">Good</td>
              <td class="govuk-table__cell">5.87</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">
                Heathland and scrub
                <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">
                  Bramble scrub
                </span>
              </td>
              <td class="govuk-table__cell">0.90</td>
              <td class="govuk-table__cell">Good</td>
              <td class="govuk-table__cell">4.25</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">
                Woodland and forest
                <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">
                  Lowland mixed deciduous woodland
                </span>
              </td>
              <td class="govuk-table__cell">0.40</td>
              <td class="govuk-table__cell">Good</td>
              <td class="govuk-table__cell">1.93</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">Total</th>
              <td class="govuk-table__cell">1.55</td>
              <td class="govuk-table__cell"><span class="govuk-visually-hidden">Not applicable</span></td>
              <td class="govuk-table__cell">12.05</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="app-table-responsive">
        <table class="govuk-table">
          <caption class="govuk-visually-hidden">Hedgerow types, length and condition</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" style="width:40%">Hedgerow type</th>
              <th scope="col" class="govuk-table__header" style="width:20%">Length (km)</th>
              <th scope="col" class="govuk-table__header" style="width:20%">Condition</th>
              <th scope="col" class="govuk-table__header">Biodiversity units</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">
                Native species rich hedgerow
              </td>
              <td class="govuk-table__cell">0.18</td>
              <td class="govuk-table__cell">Good</td>
              <td class="govuk-table__cell">2.82</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">
                Line of trees
              </td>
              <td class="govuk-table__cell">0.25</td>
              <td class="govuk-table__cell">Poor</td>
              <td class="govuk-table__cell">3.45</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">Total</th>
              <td class="govuk-table__cell">0.43</td>
              <td class="govuk-table__cell"><span class="govuk-visually-hidden">Not applicable</span></td>
              <td class="govuk-table__cell">6.27</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
    <div class="govuk-grid-column-two-thirds">

      <form method="post" action="/register-application/{{ pageURL }}/metric-check-data-answer">

        {{ govukRadios({
          idPrefix: "metric-check-data",
          name: "metric-check-data",
          fieldset: {
            legend: {
              text: "Is the data correct?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "The data should match what has been agreed between the landowner and developer in the legal agreement (planning obligation or financial agreement)."
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No, upload different metric calculations"
            }
          ]
        }) }}
        
        {{ govukButton({ text: 'Continue' }) }}
        
      </form>

    </div>
  </div>

{% endblock %}
