{% extends "register-application/v7/layout-register-application.html" %}

{% set hideSaveLink = true %}
{% set hideSignOut = true %}

{% set pageHeading = "Do you have the Biodiversity Metric 3.0 calculations?" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <form method="post" action="/register-application/{{ pageURL }}/metric-answer">

        {{ govukRadios({
          idPrefix: "metric",
          name: "metric",
          fieldset: {
            legend: {
              text: pageHeading,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "This should include the onsite and off-site, baseline and post development data as completed for the development and checked by a Local Planning Authority."
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
        
      </form>

    </div>
  </div>

{% endblock %}
