{% extends "register-application/v7/layout-register-application.html" %}

{% set pageHeading = "Register land for biodiversity gain that is linked to a development" %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    serviceUrl: "/"
  }) }}
{% endblock %} 

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Biodiversity Net Gain",
        href: "#"
      },
      {
        text: pageHeading
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <h1 class="govuk-heading-xl">{{ pageHeading }}</h1>

      <p class="gem-c-lead-paragraph">How to register land used for biodiversity gain when a developer cannot use their development site.</p>

      <div class="responsive-bottom-margin">
        <nav class="gem-c-contents-list" aria-label="Contents" role="navigation">
          <h2 class="gem-c-contents-list__title">
            Contents
          </h2>
          <ol class="gem-c-contents-list__list">
              <!--<li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" href="#overview">Overview</a>
              </li>-->
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" href="#before-you-apply">Before you apply</a>
              </li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" href="#check-what-you-need">Apply</a>
              </li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" href="#return-to-application">Return to an existing application</a>
              </li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" href="#other-ways-to-apply">Other ways to apply</a>
              </li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" href="#after-you-apply">After you apply</a>
              </li>
              <!--<li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" href="#if-application-approved">If your application is approved</a>
              </li>-->
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" href="#after-registration">After you're registered</a>
              </li>
          </ol>
        </nav>
    </div>
      
      <!--<h2 id="overview" class="govuk-heading-m">Overview</h2>
      <p class="govuk-body">You do not need to register development sites.</p> 
      <p class="govuk-body">If a developer cannot create or enhance habitats on the development site, they need separate land to help them do this.</p> 
      <p class="govuk-body">The separate land needs to be registered with Natural England.</p>-->
      <p class="govuk-body">The developer needs this registration before development works can begin.</p>  

      <p class="govuk-body">Consultants can apply on behalf of developers or landowners.</p>  
      
      <h2 id="before-you-apply" class="govuk-heading-m">Before you apply</h2>
      
      <h3 id="before-you-apply" class="govuk-heading-s">Planning application</h3>

      <p class="govuk-body">The developer needs to submit a planning application using the <a class="govuk-link" href="https://www.planningportal.co.uk/">Planning portal</a>.</p> 

      <p class="govuk-body">As part of their planning application, they need to include a draft or final <a class="govuk-link" href="#">biodiversity gain plan</a>. </p>

        <p class="govuk-body">The draft or final biodiversity gain plan needs to include:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>completed <a class="govuk-link" href="#"> biodiversity metric 3.0 calculations</a> for the land being used by the development</li>
        <li>draft or final <a class="govuk-link" href="#">habitat or management monitoring plan </a> </li>
        <li>site reference number from this registration</a> </li>
        </ul>

        <p class="govuk-body">The Local Planning Authority could give planning permission with drafts of the plans. However, the developer will need to get approval of the final plans before they can begin development works.</p> 

      <h3 id="before-you-apply" class="govuk-heading-s">Legal agreements</h3>

      <p class="govuk-body">You need legal agreements that secure funds from a developer to pay for the biodiversity gain for 30 years or more.</p>  
      
      <p class="govuk-body">You can use a signed agreement called a <a class="govuk-link" href="https://www.gov.uk/guidance/planning-obligations">planning obligation</a>, which is between a landowner and a developer.</p>  

      <p class="govuk-body">If you do not have a planning obligation, you need 2 other signed agreements:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>a <a class="govuk-link" href="#">conservation covenant</a> that secures the biodiversity gain for 30 years or more</li>
        <li>a financial agreement that secures funding from a developer for the biodiversity gain</li>
        </ul>

        <h3 id="before-you-apply" class="govuk-heading-s">Interested third parties</h3>


        <p class="govuk-body">You need to confirm with all <a class="govuk-link" href="#">interested third parties</a> that your application does not conflict with their interests.</p>  
        
        <p class="govuk-body">A third party can be someone who has shooting rights, public right of way or is the mortage lender.</p>      

        <h3 id="before-you-apply" class="govuk-heading-s">Information from the landowner</h3>

      <p class="govuk-body">You also need the following from the landowner:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>signed consent to register the land</li>
        <li>a copy of the certificate of ownership for the land</li>
        <li>the boundary of the land</li>
        <li>completed <a class="govuk-link" href="#"> biodiversity metric 3.0 calculations</a> for the whole land</li>
      </ul> 

      <h2 id="check-what-you-need" class="govuk-heading-m">Apply</h2>

      <p class="govuk-body">It costs £? to apply. You can pay by debit or credit card or Bacs.</p>
      
      {{ govukButton({
        text: "Start now",
        href: "/register-application/" + pageURL + "/landowner",
        classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
        isStartButton: true
      }) }}

      <h2 id="return-to-application" class="govuk-heading-m">Return to an existing application</h2>

      <form action="/register-application/{{ pageURL }}/sign-in" method="post" novalidate>
        <input type="hidden" name="signed-in" value="yes">
        <button class="govuk-link app-button-link" data-module="govuk-button">
          Sign in to continue your application
        </button>.
      </form>

      <h2 id="other-ways-to-apply" class="govuk-heading-m">Other ways to apply</h2>
      <p class="govuk-body">You can also <a class="govuk-link" href="#">apply by post using form BNG01</a>.</p>
      <p class="govuk-body">Postal applications take 10 days and cost £? on top of the application fee. </p>
      <p class="govuk-body">Send your application to the address on the form. </p>
      
      <h2 id="after-you-apply" class="govuk-heading-m">After you apply</h2> 
      <p>After you submit your application, it can take Natural England up to 28 days to review your application. 
      <p class="govuk-body">We will:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>give you a site reference number</li>
        <li>check the information you've provided </li>
      </ul>  
        
      <h3 id="if-application-approved" class="govuk-heading-s">If your application is approved</h3> 
      <p class="govuk-body">The land will be listed on the <a class="govuk-link" href="#">Biodiversity gain site register</a>. </p>
      
      <h2 id="after-registration" class="govuk-heading-m">After you're registered</h2> 
      <p class="govuk-body"> You must follow your habitat management and monitoring plan.  </p>
      <p class="govuk-body">You must tell Natural England if:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the landowner changes</li>
        <li>a developer can no longer operate</li>
        <li>there are changes to the planning permission </li>
      </ul> 
      
      <!--<h3 class="govuk-heading-s">If the whole land or a part of it becomes linked to a new development</h3>
      <p class="govuk-body">You must <a class="govuk-link" href="/register-application/{{ pageURL }}/allocate-development/government-gateway-login">add the development to your registration</a>. </p>-->
    
    </div>
    <div class="govuk-grid-column-one-third">
      <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->
      <!--<aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a class="govuk-link" href="#">
                Biodiversity net gain
              </a>
            </li>
            <li>
              <a class="govuk-link" href="#">
                Get information about a biodiversity gain site
              </a>
            </li>
            <li>
              <a href="#" class="govuk-link govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>-->
    </div>
  </div>
{% endblock %}