{% extends "register-application/v22/layout-register-application.html" %}

{% set pageHeading = "Check development project and habitat information" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

      <dl class="govuk-summary-list govuk-!-margin-bottom-7">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Biodiversity gain site reference
          </dt>
          <dd class="govuk-summary-list__value">
            BGS-260523087
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Project name
          </dt>
          <dd class="govuk-summary-list__value">
            Farifax Housing Project
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Local planning authority
          </dt>
          <dd class="govuk-summary-list__value">
            Bradford City Council
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Planning application reference
          </dt>
          <dd class="govuk-summary-list__value">
            22/01976/RJL
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Habitat being used
          </dt>
          <dd class="govuk-summary-list__value">
            <ul class="govuk-list app-list--border">
              <li>
                <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">Grassland </span>
                <span class="govuk-body-m govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">Other neutral grassland</span>
                <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0 app-secondary-text-colour">Good condition</span> 
                12.76 ha
              </li>
              <li>
                <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">Heathland and scrub</span>
                <span class="govuk-body-m govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">Mixed scrub</span>
                <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0 app-secondary-text-colour">Good condition</span> 
                10.50 ha
              </li>
              <li>
                Native species rich hedgerow 
                <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0 app-secondary-text-colour">Good condition</span> 
                0.18 km
              </li>
            </ul>
          </dd>
        </div>
      </dl>
  

      <form action="./allocation-confirmation" method="post" novalidate>

        {{ govukRadios({
          idPrefix: "allocation-approval",
          name: "allocation-approval",
          fieldset: {
            legend: {
              text: "Is this information correct?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        <input type="hidden" name="allocation-approved" value="true">

        <button class="govuk-button" data-module="govuk-button">
          Confirm and continue
        </button>

      </form>

    </div>
  </div>

{% endblock %}
