{% extends "register-application/v22/layout-register-application.html" %}

{% set pageHeading = "Which local planning authority reviewed the development project?" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


        <h1 class="govuk-heading-l" tabindex="-1">
          {{ pageHeading }}
        </h1>

        {% set val = "" %}
        {% if query.change %}
        {% set val = data.responsibleBodies[query.id]["concov-responsible-body"] %}
        
        {% endif %}


   
        <!-- Action conrtolled from routes.js file -->
        <form method="post" action="task-list-allocation">
          <div class="govuk-form-group">

          <label class="govuk-label" for="operator-search-country "> Local planning authority </label>
          <p class="govuk-hint">Start typing, then select a local planning authority.</p>
          <select class="govuk-select gouvk-!-width-two-thirds" id="lpa-autocomplete" name="lpa">
            <option value="">Select a local planning authority</option>
            <option value='Bath and North East Somerset'>Bath and North East Somerset</option>
            <option value='Council'>Council</option>
            <option value='Bedford Borough Council'>Bedford Borough Council</option>
            <option value='Blackburn with Darwen Borough'>Blackburn with Darwen Borough</option>
            <option value='Council'>Council</option>
            <option value='Blackpool Council'>Blackpool Council</option>
            <option value='Bournemouth, Christchurch and'>Bournemouth, Christchurch and</option>
            <option value='Poole Council'>Poole Council</option>
            <option value='Bracknell Forest Borough Council'>Bracknell Forest Borough Council</option>
            <option value='Brighton and Hove City Council'>Brighton and Hove City Council</option>
            <option value='Bristol City Council'>Bristol City Council</option>
            <option value='Buckinghamshire Council'>Buckinghamshire Council</option>
            <option value='Central Bedfordshire Council'>Central Bedfordshire Council</option>
            <option value='Cheshire East Council'>Cheshire East Council</option>
            <option value='Cheshire West and Chester Council'>Cheshire West and Chester Council</option>
            <option value='Cornwall Council'>Cornwall Council</option>
            <option value='Cumberland Council'>Cumberland Council</option>
            <option value='Durham County Council'>Durham County Council</option>
            <option value='Darlington Borough Council'>Darlington Borough Council</option>
            <option value='Derby City Council'>Derby City Council</option>
            <option value='Dorset Council'>Dorset Council</option>
            <option value='East Riding of Yorkshire Council'>East Riding of Yorkshire Council</option>
            <option value='Halton Borough Council'>Halton Borough Council</option>
            <option value='Hartlepool Borough Council'>Hartlepool Borough Council</option>
            <option value='Herefordshire Council'>Herefordshire Council</option>
            <option value='Isle of Wight Council'>Isle of Wight Council</option>
            <option value='Hull City Council'>Hull City Council</option>
            <option value='Leicester City Council'>Leicester City Council</option>
            <option value='Luton Borough Council'>Luton Borough Council</option>
            <option value='Medway Council'>Medway Council</option>
            <option value='Middlesbrough Borough Council'>Middlesbrough Borough Council</option>
            <option value='Milton Keynes Council'>Milton Keynes Council</option>
            <option value='North East Lincolnshire Council'>North East Lincolnshire Council</option>
            <option value='North Lincolnshire Council'>North Lincolnshire Council</option>
            <option value='North Northamptonshire Council'>North Northamptonshire Council</option>
            <option value='North Somerset Council'>North Somerset Council</option>
            <option value='North Yorkshire Council'>North Yorkshire Council</option>
            <option value='Northumberland County Council'>Northumberland County Council</option>
            <option value='Nottingham City Council'>Nottingham City Council</option>
            <option value='Peterborough City Council'>Peterborough City Council</option>
            <option value='Plymouth City Council'>Plymouth City Council</option>
            <option value='Portsmouth City Council'>Portsmouth City Council</option>
            <option value='Reading Borough Council'>Reading Borough Council</option>
            <option value='Redcar and Cleveland Borough'>Redcar and Cleveland Borough</option>
            <option value='Council'>Council</option>
            <option value='Rutland County Council'>Rutland County Council</option>
            <option value='Shropshire Council'>Shropshire Council</option>
            <option value='Slough Borough Council'>Slough Borough Council</option>
            <option value='Somerset Council'>Somerset Council</option>
            <option value='Southampton City Council'>Southampton City Council</option>
            <option value='Southend-on-Sea Borough Council'>Southend-on-Sea Borough Council</option>
            <option value='South Gloucestershire Council'>South Gloucestershire Council</option>
            <option value='Stockton-on-Tees Borough Council'>Stockton-on-Tees Borough Council</option>
            <option value='Stoke-on-Trent City Council'>Stoke-on-Trent City Council</option>
            <option value='Swindon Borough Council'>Swindon Borough Council</option>
            <option value='Telford and Wrekin Borough Council'>Telford and Wrekin Borough Council</option>
            <option value='Thurrock Council'>Thurrock Council</option>
            <option value='Torbay Council'>Torbay Council</option>
            <option value='Warrington Borough Council'>Warrington Borough Council</option>
            <option value='Westmorland and Furness Council'>Westmorland and Furness Council</option>
            <option value='West Berkshire Council'>West Berkshire Council</option>
            <option value='West Northamptonshire Council'>West Northamptonshire Council</option>
            <option value='Wiltshire Council'>Wiltshire Council</option>
            <option value='Windsor and Maidenhead Borough'>Windsor and Maidenhead Borough</option>
            <option value='Council'>Council</option>
            <option value='Wokingham Borough Council'>Wokingham Borough Council</option>
            
<option value='Hinckley and Bosworth Borough'>Hinckley and Bosworth Borough</option>
<option value='Council'>Council</option>
<option value='Horsham District Council'>Horsham District Council</option>
<option value='Huntingdonshire District Council'>Huntingdonshire District Council</option>
<option value='Hyndburn Borough Council'>Hyndburn Borough Council</option>
<option value='Ipswich Borough Council'>Ipswich Borough Council</option>
<option value='Kings Lynn & West Norfolk Borough'>Kings Lynn & West Norfolk Borough</option>
<option value='Council'>Council</option>
<option value='Lancaster City Council'>Lancaster City Council</option>
<option value='Lewes District Council'>Lewes District Council</option>
<option value='Lichfield City Council'>Lichfield City Council</option>
<option value='Lincoln City Council'>Lincoln City Council</option>
<option value='Maidstone Borough Council'>Maidstone Borough Council</option>
<option value='Maldon District Council'>Maldon District Council</option>
<option value='Malvern Hills District Council'>Malvern Hills District Council</option>
<option value='Mansfield District Council'>Mansfield District Council</option>
<option value='Melton Borough Council'>Melton Borough Council</option>
<option value='Mid Devon District Council'>Mid Devon District Council</option>
<option value='Mid Suffolk District Council'>Mid Suffolk District Council</option>
<option value='Mid Sussex District Council'>Mid Sussex District Council</option>
<option value='Mole Valley District Council'>Mole Valley District Council</option>
<option value='New Forest District Council'>New Forest District Council</option>
<option value='Newark & Sherwood District Council'>Newark & Sherwood District Council</option>
<option value='Newcastle-Under-Lyme Borough'>Newcastle-Under-Lyme Borough</option>
<option value='Council'>Council</option>
<option value='North Devon District Council'>North Devon District Council</option>
<option value='North East Derbyshire District'>North East Derbyshire District</option>
<option value='Council'>Council</option>
<option value='North Hertfordshire District Council'>North Hertfordshire District Council</option>
<option value='North Kesteven District Council'>North Kesteven District Council</option>
<option value='North Norfolk District Council'>North Norfolk District Council</option>
<option value='North West Leicestershire District'>North West Leicestershire District</option>
<option value='Council'>Council</option>
<option value='North Warwickshire Borough'>North Warwickshire Borough</option>
<option value='Council'>Council</option>
<option value='Norwich City Council'>Norwich City Council</option>
<option value='Nuneaton & Bedworth Borough'>Nuneaton & Bedworth Borough</option>
<option value='Council'>Council</option>
<option value='Oadby & Wigston Borough Council'>Oadby & Wigston Borough Council</option>
<option value='Oxford City Council'>Oxford City Council</option>
<option value='Pendle Borough Council'>Pendle Borough Council</option>
<option value='Preston City Council'>Preston City Council</option>
<option value='Redditch Borough Council'>Redditch Borough Council</option>
<option value='Reigate & Banstead Borough'>Reigate & Banstead Borough</option>
<option value='Council'>Council</option>
<option value='Ribble Valley Borough Council'>Ribble Valley Borough Council</option>
<option value='Rochford District Council'>Rochford District Council</option>
<option value='Rossendale Borough Council'>Rossendale Borough Council</option>
<option value='Rother District Council'>Rother District Council</option>
<option value='Rugby Borough Council'>Rugby Borough Council</option>
<option value='Runnymede Borough Council'>Runnymede Borough Council</option>
<option value='Rushcliffe Borough Council'>Rushcliffe Borough Council</option>
<option value='Rushmoor Borough Council'>Rushmoor Borough Council</option>
<option value='Sevenoaks District Council'>Sevenoaks District Council</option>
<option value='South Cambridgeshire District'>South Cambridgeshire District</option>
<option value='Council'>Council</option>
<option value='South Derbyshire District Council'>South Derbyshire District Council</option>
<option value='South Hams District Council'>South Hams District Council</option>
<option value='South Holland District Council'>South Holland District Council</option>
<option value='South Kesteven District Council'>South Kesteven District Council</option>
<option value='South Norfolk District Council'>South Norfolk District Council</option>
<option value='South Oxfordshire District Council'>South Oxfordshire District Council</option>
<option value='South Ribble Borough Council'>South Ribble Borough Council</option>
<option value='South Staffordshire District Council'>South Staffordshire District Council</option>
<option value='Spelthorne Borough Council'>Spelthorne Borough Council</option>
<option value='St Albans City Council'>St Albans City Council</option>
<option value='Stafford Borough Council'>Stafford Borough Council</option>
<option value='Staffordshire Moorlands District'>Staffordshire Moorlands District</option>
<option value='Council'>Council</option>
<option value='Stevenage Borough Council'>Stevenage Borough Council</option>
<option value='Stratford on Avon District Council'>Stratford on Avon District Council</option>
<option value='Stroud District Council'>Stroud District Council</option>
<option value='Surrey Heath Borough Council'>Surrey Heath Borough Council</option>
<option value='Swale Borough Council'>Swale Borough Council</option>
<option value='Tamworth Borough Council'>Tamworth Borough Council</option>
<option value='Tandridge District Council'>Tandridge District Council</option>
<option value='Teignbridge District Council'>Teignbridge District Council</option>
<option value='Tendring District Council'>Tendring District Council</option>
<option value='Test Valley Borough Council'>Test Valley Borough Council</option>
<option value='Tewkesbury Borough Council'>Tewkesbury Borough Council</option>
<option value='Thanet District Council'>Thanet District Council</option>
<option value='Three Rivers District Council'>Three Rivers District Council</option>
<option value='Tonbridge & Malling Borough'>Tonbridge & Malling Borough</option>
<option value='Council'>Council</option>
<option value='Torridge District Council'>Torridge District Council</option>
<option value='Tunbridge Wells Borough Council'>Tunbridge Wells Borough Council</option>
<option value='Uttlesford District Council'>Uttlesford District Council</option>
<option value='Vale of White Horse District Council'>Vale of White Horse District Council</option>
<option value='Warwick District Council'>Warwick District Council</option>
<option value='Watford Borough Council'>Watford Borough Council</option>
<option value='Waverley Borough Council'>Waverley Borough Council</option>
<option value='Wealden District Council'>Wealden District Council</option>
<option value='Welwyn Hatfield Borough Council'>Welwyn Hatfield Borough Council</option>
<option value='West Devon District Council'>West Devon District Council</option>
<option value='West Lancashire District Council'>West Lancashire District Council</option>
<option value='West Lindsey District Council'>West Lindsey District Council</option>
<option value='West Oxfordshire District Council'>West Oxfordshire District Council</option>
<option value='West Suffolk Council'>West Suffolk Council</option>
<option value='Winchester City Council'>Winchester City Council</option>
<option value='Woking Borough Council'>Woking Borough Council</option>
<option value='Worcester City Council'>Worcester City Council</option>
<option value='Worthing Borough Council'>Worthing Borough Council</option>
<option value='Wychavon District Council'>Wychavon District Council</option>
<option value='Wyre Borough Council'>Wyre Borough Council</option>

          </select> 
        </div>
          {{ govukButton({
            text: "Save and continue"
          }) }}

          <input type="hidden" name="applicant-details-added" value="yes">
          
        </form>

      


    </div>
  </div>

{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/accessible-autocomplete2.min.js"></script>
<script type="text/javascript">
  window.onload = function() {
    accessibleAutocomplete.enhanceSelectElement({
      selectElement: document.getElementById("lpa-autocomplete"),
      name: 'lpa',
      classes: 'govuk-!-width-two-thirds',
      defaultValue: '',
      onConfirm: () => {
        const countryCode = $("#countryCode-select > option").filter(function() {
          return this.text == $("#countryCode").val()
        }).val();
        $("#countryCode-select").val(countryCode);
      }
    })
  }
</script>
{% endblock %}
