{% extends "register-application/" + data['version'] + "/layout-register-application.html" %}

{% set pageHeading = "Confirm the development details" %}

{% block content %}

  <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Local planning authority
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['input-autocomplete'] or 'Leeds City Council' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/register-application/{{ data['version'] }}/development-local-authority">
              Change<span class="govuk-visually-hidden"> Local planning authority</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Planning reference number
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['planningref'] or 'FG/KIJ/099' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/register-application/{{ data['version'] }}/development-local-authority">
              Change<span class="govuk-visually-hidden"> Planning reference number</span>
            </a>
          </dd>
        </div>
      </dl>

      <form method="post" action="/register-application/{{data['version']}}/task-list">
        <input class="govuk-input" id="development-confirm" name="development-confirm" type="hidden" value="development-confirm">

        {{ govukButton({
            text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
