{% extends "register-application/v4/layout-register-application.html" %}

{% set pageHeading = "What is the Companies House number for the company you wish to register?" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post" action="/register-application/{{ pageURL }}/land-management-responsible-business-companies-house-check">

        {{ govukInput({
          label: {
            text: pageHeading,
            classes: "govuk-label--l",
            isPageHeading: true
          },
            id: "land-management-companies-house-number",
            name: "land-management-companies-house-number",
            classes: "govuk-input--width-10"
          })  
        }}

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Where can I find the number?
            </span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body">You can find this on the <a href="https://www.gov.uk/get-information-about-a-company" target="_blank" rel="noopener noreferrer" class="govuk-link">Companies House register (opens in a new tab).</a></p>
            <p>If you are applying on behalf of a company that is not registered in the UK, you need to change your account type to: <span class="govuk-body govuk-!-font-weight-bold">Organisation that is not registered in the UK.</span></p>
          </div>
        </details>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              My company isn't found
            </span>
          </summary>
          <div class="govuk-details__text">
             <p class="govuk-body">If you have only just registered your organisation it may take a few days for the information to be available to us through Companies House. You can go to Companies House and check to see when your organisation is available. <a href="https://www.gov.uk/get-information-about-a-company" target="_blank" rel="noopener noreferrer" class="govuk-link">Companies House register (opens in a new tab).</a></p>
          </div>
        </details>


        {{ govukButton({
            text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
