{% extends "register-application/" + data['version'] + "/layout-register-application.html" %}

{% set pageHeading = "What are the main contact details for this registered company?" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post" action="/register-application/{{data['version']}}/task-list">

        {% call govukFieldset({
          legend: {
            text: pageHeading,
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}

        <div id="event-name-hint" class="govuk-hint">
          These could be details included on the website, or contact details for the head office or management team.
        </div>

          {{ govukInput({
            label: {
              text: "Telephone number"
            },
            classes: "govuk-input--width-10",
            id: "land-management-business-telephone-number",
            name: "land-management-business-telephone-number"
          }) }}

          {{ govukInput({
            label: {
              text: "Email address"
            },
            classes: "govuk-!-width-two-thirds",
            id: "land-management-business-telephone-email",
            name: "land-management-business-telephone-email"
          }) }}

        {% endcall %}

        {{ govukButton({
          text: "Continue"
        }) }}


      </form>

    </div>
  </div>

{% endblock %}
