{% extends "register-application/" + data['version'] + "/layout-register-application.html" %}

{% set pageHeading = "Who is responsible for managing and monitoring the gain site?" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <form method="post" action="/register-application/{{data['version']}}/land-management-responsible-business-where">

        {{ govukRadios({
          idPrefix: "land-management-responsible-who",
          name: "land-management-responsible-who",
          fieldset: {
            legend: {
              text: pageHeading,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "land-management-responsible-who-business",
              text: "A business or organisation"
            },
            {
              value: "land-management-responsible-who-person",
              text: "An individual"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
        
      </form>

    </div>
  </div>

{% endblock %}
