{% extends "register-application/" + data['version'] + "/layout-register-application.html" %}

{% set pageHeading = "Come back after you complete the calculations" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ pageHeading }}
      </h1>

      <p>Download the <a href="http://publications.naturalengland.org.uk/publication/6049804846366720">Biodiversity Metric 3.0 calculation tool</a>.</p>

    </div>
  </div>

{% endblock %}
