{% extends "register-application/v4/layout-register-application.html" %}

{% set pageHeading = "Come back after you complete the calculations" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript: window.history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ pageHeading }}
      </h1>

      <p>Download the Biodiversity Metric 3.0 calculation tool.</p>

    </div>
  </div>

{% endblock %}
