{% extends "register-application/v13/layout-register-application.html" %}

{% set pageHeading = "Check the created and enhanced habitat information" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ pageHeading }}
      </h1>

      <p>We've taken this information from the metric file you uploaded.</p>

      <p>This information will be used later to link habitat to a development.</p>

      <div class="app-table-responsive">
        <table class="govuk-table">
          <caption class="govuk-visually-hidden">Habitat types, area and condition</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Habitat type and condition</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric">Area (ha)</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">Grassland 
                <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">Modified grassland</span>
                <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0 app-secondary-text-colour">
                  Good condition
                </span>
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric">2.40</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">Heathland and scrub 
                <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">Bramble scrub</span>
                <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0 app-secondary-text-colour">
                  Good condition
                </span>
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric">1.25</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">Woodland and forest 
                <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">Lowland mixed deciduous woodland</span>
                <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0 app-secondary-text-colour">
                  Good condition
                </span>
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric">0.50</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">Total</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">4.15</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="app-table-responsive">
        <table class="govuk-table">
          <caption class="govuk-visually-hidden">Hedgerow types, length and condition</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Hedgerow type and condition</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric">Length (km)</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">Native species rich hedgerow
                <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0 app-secondary-text-colour">
                  Good condition
                </span>
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric">0.18</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">Line of trees
                <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0 app-secondary-text-colour">
                  Good condition
                </span>
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric">0.50</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">Total</th>
              <td class="govuk-table__cell govuk-table__cell--numeric">0.68</td>
            </tr>
          </tbody>
        </table>

      </div>
      
    </div>
    <div class="govuk-grid-column-two-thirds">

      <form method="post" action="/register-application/{{ pageURL }}/metric-confirm">
    
        {{ govukCheckboxes({
          idPrefix: "habitat-declaration",
          name: "habitat-declaration",
          fieldset: {
            legend: {
              text: "Habitat creation and enhancement declaration",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "accepted",
              html: "I confirm that any habitat creation and enhancement works on the biodiversity gain site started on or after 30 January 2020"
            }
          ]
        }) }}

      {{ govukButton({ text: 'Confirm and continue' }) }}
        
      </form>

      <p>Or</p>

      <p><a href="/register-application/{{ pageURL }}/metric-upload" class="govuk-link--no-visited-state">Upload a different Biodiversity Metric 4.0</a></p>

    </div>
  </div>

{% endblock %}
