{% extends "register-application/v13/layout-register-application.html" %}

{% set hideSaveLink = true %}

{% set pageHeading = "Have any of the biodiversity units on the gain site been sold?" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <form method="post" action="/register-application/{{ pageURL }}/routing-sold-answer">

          {{ govukRadios({
            idPrefix: "routing-sold",
            name: "routing-sold",
            fieldset: {
              legend: {
                text: pageHeading,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: [
              {
                value: "Yes",
                text: "Yes",
                checked: checked("routing-sold", "Yes")
              },
              {
                value: "No",
                text: "No",
                checked: checked("routing-sold", "No")
              }
            ]
          }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
        
      </form>

    </div>
  </div>

{% endblock %}
