{% extends "register-application/v13/layout-register-application.html" %}

{% set hideSaveLink = true %}

{% set pageHeading = "Do you want to record the development details for the biodiversity gain site?" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <form method="post" action="/register-application/{{ pageURL }}/routing-results">

          {{ govukRadios({
            idPrefix: "routing-record",
            name: "routing-record",
            fieldset: {
              legend: {
                text: pageHeading,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              text: "If you don't record them now you'll have to add them at a later date once the biodiversity gain site has been registered."
            },
            items: [
              {
                value: "Yes",
                text: "Yes",
                checked: checked("routing-record", "Yes")
              },
              {
                value: "No",
                text: "No",
                checked: checked("routing-record", "No")
              }
            ]
          }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
        
      </form>

    </div>
  </div>

{% endblock %}
