{% extends "register-application/v13/layout-register-application.html" %}

{% set hideSaveLink = true %}
{% set hideSignOut = true %}
{% set hideLogin = true %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  <h1 class="govuk-heading-xl">{{ serviceName }}</h1>

  <p>Use this service to record biodiversity gains. </p>

  <p>You can:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>register land as a biodiversity gain site</li>
    <li>record how you will use land to add biodiversity net gain to a development project</li>
  </ul>

  <p>You can do these one by one or if you have already...</p>

  <h2 class="govuk-heading-l">Registering a biodiversity gain site</h2>

  <p>Register land as biodiversity gain sites in England. Once registered, the biodiversity units on the gain site can be used by development projects which need to meet at least 10% biodiversity net gain.</p>
  <p>Anyone who owns or leases land can register a biodiversity gain site. Someone can do it on their behalf if they have consent to register. </p>

  <h3 class="govuk-heading-m">What you'll need to register a biodiversity gain site</h3>

  <p>You'll need:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>consent from the landowner or leaseholder - if needed</li>
    <li>a planning obligation (S106 agreement) or conservation covenant securing the site for at least 30 years</li>
    <li>proof of ownership of the land</li>
    <li>a map showing the boundary of the biodiversity gain site</li>
    <li>a completed Biodiversity Metric 4.0</li>
    <li>a habitat management and monitoring plan</li>
  </ul>

  <p>You can register a biodiversity gain site on it's own or you can also record the off...</p>

  <h2 class="govuk-heading-l">Recording off-site biodiversity gains for a development project</h2>

  <p>By law, you have to record any off-site land you plan to use for biodiversity net gain with your development project. You'll need to meet at least a 10% biodiversity net gain. Local planning authorities will set the exact percentage of net gain needed.</p>
  <p>You will not be able to discharge a BNG pre-commencement planning condition with a local planning authority until this has been done.</p>

  <h3 class="govuk-heading-m">What you'll need to record off-site biodiversity gains for a development project</h3>

  <p>You'll need the Biodiversity 4.0 Metric file that was approved by the local planning authority. It should include:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>names of the development projects</li>
    <li>planning references</li>
    <li>local authority they're in</li>
    <li>area and length of the habitats the development projects are using on gain sites</li>
  </ul>

  <p>You'll also need:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>the biodiversity gain site number for the off-site</li>
    <li>to have consent from landowners for any gain sites you're using</li>
  </ul>

  {{ govukButton({
    text: "Start now",
    href: "/register-application/v13/routing-register",
    isStartButton: true
  }) }}

  </div>
</div>

{% endblock %} 