{% extends "register-application/v13/start-page-guide-template.html" %}

{% set hideBackLink = true %}
{% set hideSaveLink = true %}
{% set hideSaveSection = true %}

{% block guideContent %}

  <h1 class="govuk-heading-l">Register a biodiversity gain site</h1>

  <p>Use this service to register a biodiversity gain site in England. Once registered, developers will be able to use it as off-site land to meet at least 10% biodiversity net gain.</p>

  <h2 class="govuk-heading-m">Who can register</h2>

  <p>A landowner or leaseholder can register a biodiversity gain site. Someone acting on behalf of the landowner or leaseholder can register the site as long as they have consent.</p>

  <h2 class="govuk-heading-m">What you'll need</h2>

  <p>To register a biodiversity gain site, you'll need:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>consent from the landowner or leaseholder - if needed</li>
    <li> a planning obligation (S106 agreement) or conservation covenant securing the site for at least 30 years</li>
    <li>proof of ownership of the land</li>
    <li>a map showing the boundary of the land</li>
    <li>a completed Biodiversity Metric 4.0</li>
    <li>a habitat management and monitoring plan</li>
  </ul>

  <p>When you start, we'll check that you have everything that you need to register a biodiversity gain site. You'll be able to skip these checks if you want.</p>

  {{ govukButton({
    text: "Start now",
    href: "/register-application/v13/eligibility-start",
    isStartButton: true
  }) }}

  <h2 id="return-to-application" class="govuk-heading-m govuk-!-margin-top-2 govuk-!-margin-bottom-2">Return to a saved registration</h2>

  <p><a href="/register-application/v13/sign-in-return">Continue with a registration</a></p>

{% endblock %} 