{% extends "register/v3/layout-register.html" %}

{% set pageHeading = "BNG-220115001" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript: window.history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Off-site</span>
         {{ pageHeading }}
      </h1>

      <img src="/public/images/location-confirm.png" alt="" width="100%" style="margin-bottom: 20px; border: 1px solid #b1b4b6;">

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Location"
            },
            value: {
              html: "Meadowcroft Farm<br>Goose Ln<br>Leeds<br>LS20 8PJ"
            }
          },
          {
            key: {
              text: "Area"
            },
            value: {
              text: "4.15 hectares (ha) / 10.25 acres"
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-l govuk-!-padding-top-5">Habitat information</h2>
      </div>
      <div class="govuk-grid-column-full">

      {% set proposedHtml %}
      <h3 class="govuk-heading-m">Proposed habitat</h3>
      <div class="app-table-responsive">
        <table class="govuk-table">
          <caption class="govuk-visually-hidden">Habitat types, area and condition</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" style="width:40%">Habitat type and condition</th>
              <th scope="col" class="govuk-table__header" style="width:30%">Area (ha)</th>
              <th scope="col" class="govuk-table__header">Allocated development</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">Grassland 
                <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">Other neutral grassland</span>
                <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0 app-secondary-text-colour">Good condition</span>
              </td>
              <td class="govuk-table__cell">2.40</td>
              <td class="govuk-table__cell">
                <a href="/register/{{ pageURL }}/development-a">21/02367/FUL</a>
                <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">Leeds City Council</span>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">Heathland and scrub 
                <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">Hazel scrub</span>
                <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0 app-secondary-text-colour">Good condition</span>
              </td>
              <td class="govuk-table__cell">1.25</td>
              <td class="govuk-table__cell">
                <a href="/register/{{ pageURL }}/development-a">21/02367/FUL</a>
                <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">Leeds City Council</span>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">Woodland and forest 
                <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">Other woodland; mixed</span>
                <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0 app-secondary-text-colour">Good condition</span>
              </td>
              <td class="govuk-table__cell">0.50</td>
              <td class="govuk-table__cell">
                <a href="/register/{{ pageURL }}/development-a">21/02367/FUL</a>
                <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">Leeds City Council</span>
              </td>
            </tr>
            <!--<tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">Total</th>
              <td class="govuk-table__cell">4.15</td>
              <td class="govuk-table__cell"><span class="govuk-visually-hidden">Not applicable</span></td>
            </tr>-->
          </tbody>
        </table>
      </div>

      <div class="app-table-responsive">
        <table class="govuk-table">
          <caption class="govuk-visually-hidden">Hedgerow types, length and condition</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" style="width:40%">Hedgerow type and condition</th>
              <th scope="col" class="govuk-table__header" style="width:30%">Length (km)</th>
              <th scope="col" class="govuk-table__header">
                Allocated development
              </th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">Native species rich hedgerow
                <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0 app-secondary-text-colour">Good condition</span>
              </td>
              <td class="govuk-table__cell">0.18</td>
              <td class="govuk-table__cell">
                <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">Not allocated</span>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">Line of trees
                <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0 app-secondary-text-colour">Poor condition</span>
              </td>
              <td class="govuk-table__cell">0.50</td>
              <td class="govuk-table__cell">
                <a href="/register/{{ pageURL }}/development-a">21/02367/FUL</a>
                <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">Leeds City Council</span>
              </td>
            </tr>
            <!--<tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">Total</th>
              <td class="govuk-table__cell">0.68</td>
              <td class="govuk-table__cell"><span class="govuk-visually-hidden">Not applicable</span></td>
            </tr>-->
          </tbody>
        </table>
      </div>
      {% endset -%}

      {% set baselineHtml %}
      <h3 class="govuk-heading-m">Baseline habitat</h3>
      <div class="app-table-responsive">
        <table class="govuk-table">
          <caption class="govuk-visually-hidden">Habitat types, area and condition</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" style="width:40%">Habitat type and condition</th>
              <th scope="col" class="govuk-table__header">Area (ha)</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">Grassland 
                <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">Other neutral grassland</span>
                <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0 app-secondary-text-colour">Poor condition</span>
              </td>
              <td class="govuk-table__cell">4.15</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="app-table-responsive">
        <table class="govuk-table">
          <caption class="govuk-visually-hidden">Hedgerow types, length and condition</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" style="width:40%">Hedgerow type and condition</th>
              <th scope="col" class="govuk-table__header">Length (km)</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">Native species rich hedgerow
                <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0 app-secondary-text-colour">Poor condition</span>
              </td>
              <td class="govuk-table__cell">0.68</td>
            </tr>
          </tbody>
        </table>
      </div>
      {% endset -%}

      {{ govukTabs({
        items: [
          {
            label: "Proposed",
            id: "proposed",
            panel: {
              html: proposedHtml
            }
          },
          {
            label: "Baseline",
            id: "baseline",
            panel: {
              html: baselineHtml
            }
          }
        ]
      }) }}

      <p><a download href="#">Habitat Management and Monitoring Plan (PDF, 1MB)</a></p>

      <hr class="app-divider">

      <h2 class="govuk-heading-l">Legal agreements</h2>
      <ul class="govuk-list govuk-list--spaced">
        <li><a download href="#">Conservation Covenant (PDF, 1.4MB)</a></li>
      </ul>

      {% include "register/v3/includes/start-new-search.html" %}

    </div>
  </div>

{% endblock %}
