
{% extends "layout-register.html" %}

{% set hideLogin = "true" %}
{% set navType = "Search" %}
{% set pageURL = "v1" %}
{% set pageHeading = "Metric tool detailed results" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript: window.history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Development 21/02367/FUL</span>
         {{ pageHeading }}
      </h1>

      <h2 class="govuk-heading-l">
        Area habitats
      </h2>

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Onsite change by broad habitat type</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Habitat group</th>
            <th scope="col" class="govuk-table__header">Area change <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">(Hectares)</span></th>
            <th scope="col" class="govuk-table__header">Unit change</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">Cropland</td>
            <td class="govuk-table__cell">0.00</td>
            <td class="govuk-table__cell">0.00</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">Grassland</td>
            <td class="govuk-table__cell">0.00</td>
            <td class="govuk-table__cell">0.00</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">Heathland and scrub</td>
            <td class="govuk-table__cell">0.00</td>
            <td class="govuk-table__cell">0.00</td>
          </tr>
        </tbody>
      </table>

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Offsite change by broad habitat type<span class="govuk-body-m govuk-!-display-block govuk-!-margin-top-1 govuk-!-margin-bottom-0"><a href="/register/{{ pageURL }}/gain-site-a">Biodiversity gain site 15384</a></span></caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Habitat group</th>
            <th scope="col" class="govuk-table__header">Area change <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">(Hectares)</span></th>
            <th scope="col" class="govuk-table__header">Unit change</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">Cropland</td>
            <td class="govuk-table__cell">0.00</td>
            <td class="govuk-table__cell">0.00</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">Grassland</td>
            <td class="govuk-table__cell">0.00</td>
            <td class="govuk-table__cell">0.00</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">Heathland and scrub</td>
            <td class="govuk-table__cell">0.00</td>
            <td class="govuk-table__cell">0.00</td>
          </tr>
        </tbody>
      </table>

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Offsite  change by broad habitat type<span class="govuk-body-m govuk-!-display-block govuk-!-margin-top-1 govuk-!-margin-bottom-0"><a href="/register/{{ pageURL }}/gain-site-a">Biodiversity gain site 07786</a></span></caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Habitat group</th>
            <th scope="col" class="govuk-table__header">Area change <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">(Hectares)</span></th>
            <th scope="col" class="govuk-table__header">Unit change</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">Cropland</td>
            <td class="govuk-table__cell">0.00</td>
            <td class="govuk-table__cell">0.00</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">Grassland</td>
            <td class="govuk-table__cell">0.00</td>
            <td class="govuk-table__cell">0.00</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">Heathland and scrub</td>
            <td class="govuk-table__cell">0.00</td>
            <td class="govuk-table__cell">0.00</td>
          </tr>
        </tbody>
      </table>

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Combined change by broad habitat type</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Habitat group</th>
            <th scope="col" class="govuk-table__header">Area change <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">(Hectares)</span></th>
            <th scope="col" class="govuk-table__header">Unit change</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">Cropland</td>
            <td class="govuk-table__cell">0.00</td>
            <td class="govuk-table__cell">0.00</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">Grassland</td>
            <td class="govuk-table__cell">0.00</td>
            <td class="govuk-table__cell">0.00</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">Heathland and scrub</td>
            <td class="govuk-table__cell">0.00</td>
            <td class="govuk-table__cell">0.00</td>
          </tr>
        </tbody>
      </table>

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Combined area lost by distinctiveness band</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Category</th>
            <th scope="col" class="govuk-table__header">Area lost <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">(Hectares)</span></th>
            <th scope="col" class="govuk-table__header">Area lost <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">(%)</span></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">V.High</td>
            <td class="govuk-table__cell">0.00</td>
            <td class="govuk-table__cell">0.00%</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">High</td>
            <td class="govuk-table__cell">0.00</td>
            <td class="govuk-table__cell">0.00%</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">Medium</td>
            <td class="govuk-table__cell">0.00</td>
            <td class="govuk-table__cell">0.00%</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">Low</td>
            <td class="govuk-table__cell">0.00</td>
            <td class="govuk-table__cell">0.00%</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">V.Low</td>
            <td class="govuk-table__cell">0.00</td>
            <td class="govuk-table__cell">0.00%</td>
          </tr>
        </tbody>
      </table>
  

      {% include "register/v1/includes/start-new-search.html" %}

    </div>
  </div>

{% endblock %}
