{% extends "register/" + data['version'] + "/layout-register.html" %}

{% set pageHeading = "Metric calculation" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript: window.history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Development 21/01335/HOU</span>
         {{ pageHeading }}
      </h1>

      <h2 class="govuk-heading-l">
        Area habitats
      </h2>

      <div class="app-table-responsive govuk-!-padding-top-5">
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Onsite change by broad habitat type</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header"></th>
              <th scope="col" class="govuk-table__header" colspan="2">Baseline</th>
              <th scope="col" class="govuk-table__header" colspan="2">Post development</th>
              <th scope="col" class="govuk-table__header" colspan="2">Total change</th>
            </tr>
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Habitat group</th>
              <th scope="col" class="govuk-table__header">Existing area <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">(ha)</span></th>
              <th scope="col" class="govuk-table__header">Existing value <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">(units)</span></th>
              <th scope="col" class="govuk-table__header">Proposed area <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">(ha)</span></th>
              <th scope="col" class="govuk-table__header">Proposed value <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">(units)</span></th>
              <th scope="col" class="govuk-table__header">Area <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">(ha)</span></th>
              <th scope="col" class="govuk-table__header">Value <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">(units)</span></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">Grassland</td>
              <td class="govuk-table__cell">2.75</td>
              <td class="govuk-table__cell">6.54</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">-2.75</td>
              <td class="govuk-table__cell">-6.54</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">Heathland and scrub</td>
              <td class="govuk-table__cell">0.06</td>
              <td class="govuk-table__cell">0.24</td>
              <td class="govuk-table__cell">0.17</td>
              <td class="govuk-table__cell">0.66</td>
              <td class="govuk-table__cell">0.11</td>
              <td class="govuk-table__cell">0.42</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">Urban</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">3.41</td>
              <td class="govuk-table__cell">2.20</td>
              <td class="govuk-table__cell">3.41</td>
              <td class="govuk-table__cell">2.20</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">Woodland and forest</td>
              <td class="govuk-table__cell">1.07</td>
              <td class="govuk-table__cell">5.33</td>
              <td class="govuk-table__cell">0.30</td>
              <td class="govuk-table__cell">2.24</td>
              <td class="govuk-table__cell">-0.77</td>
              <td class="govuk-table__cell">-3.09</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="app-table-responsive govuk-!-padding-top-5">
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Offsite change by broad habitat type
            <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-1 govuk-!-margin-bottom-0"><a href="/register/{{ data['version'] }}/gain-site-b">Biodiversity gain site 14903</a></span>
          
          </caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header"></th>
              <th scope="col" class="govuk-table__header" colspan="2">Baseline</th>
              <th scope="col" class="govuk-table__header" colspan="2">Post development</th>
              <th scope="col" class="govuk-table__header" colspan="2">Total change</th>
            </tr>
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Habitat group</th>
              <th scope="col" class="govuk-table__header">Existing area <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">(ha)</span></th>
              <th scope="col" class="govuk-table__header">Existing value <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">(units)</span></th>
              <th scope="col" class="govuk-table__header">Proposed area <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">(ha)</span></th>
              <th scope="col" class="govuk-table__header">Proposed value <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">(units)</span></th>
              <th scope="col" class="govuk-table__header">Area <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">(ha)</span></th>
              <th scope="col" class="govuk-table__header">Value <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">(units)</span></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">Grassland</td>
              <td class="govuk-table__cell">2.50</td>
              <td class="govuk-table__cell">5.00</td>
              <td class="govuk-table__cell">1.00</td>
              <td class="govuk-table__cell">6.20</td>
              <td class="govuk-table__cell">-1.50</td>
              <td class="govuk-table__cell">1.20</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">Woodland and forest</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">1.50</td>
              <td class="govuk-table__cell">7.03</td>
              <td class="govuk-table__cell">1.50</td>
              <td class="govuk-table__cell">7.03</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="app-table-responsive govuk-!-padding-top-5">
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Combined onsite and offsite change by broad habitat type</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header"></th>
              <th scope="col" class="govuk-table__header" colspan="2">Baseline</th>
              <th scope="col" class="govuk-table__header" colspan="2">Post development</th>
              <th scope="col" class="govuk-table__header" colspan="2">Total change</th>
            </tr>
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Habitat group</th>
              <th scope="col" class="govuk-table__header">Existing area <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">(ha)</span></th>
              <th scope="col" class="govuk-table__header">Existing value <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">(units)</span></th>
              <th scope="col" class="govuk-table__header">Proposed area <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">(ha)</span></th>
              <th scope="col" class="govuk-table__header">Proposed value <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">(units)</span></th>
              <th scope="col" class="govuk-table__header">Area <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">(ha)</span></th>
              <th scope="col" class="govuk-table__header">Value <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">(units)</span></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">Grassland</td>
              <td class="govuk-table__cell">5.25</td>
              <td class="govuk-table__cell">11.54</td>
              <td class="govuk-table__cell">1.00</td>
              <td class="govuk-table__cell">6.20</td>
              <td class="govuk-table__cell">-4.25</td>
              <td class="govuk-table__cell">-5.34</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">Heathland and scrub</td>
              <td class="govuk-table__cell">0.06</td>
              <td class="govuk-table__cell">0.24</td>
              <td class="govuk-table__cell">0.17</td>
              <td class="govuk-table__cell">0.66</td>
              <td class="govuk-table__cell">0.11</td>
              <td class="govuk-table__cell">0.42</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">Urban</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">3.41</td>
              <td class="govuk-table__cell">2.20</td>
              <td class="govuk-table__cell">3.41</td>
              <td class="govuk-table__cell">2.20</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">Woodland and forest</td>
              <td class="govuk-table__cell">1.07</td>
              <td class="govuk-table__cell">5.33</td>
              <td class="govuk-table__cell">1.80</td>
              <td class="govuk-table__cell">9.28</td>
              <td class="govuk-table__cell">0.73</td>
              <td class="govuk-table__cell">3.94</td>
            </tr>
          </tbody>
        </table>
      </div>

      </div>
      <div class="govuk-grid-column-two-thirds">

      <div class="app-table-responsive govuk-!-padding-top-5">
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Area lost by distinctiveness band</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Category</th>
              <th scope="col" class="govuk-table__header">Area lost <span class="govuk-body-m govuk-!-margin-bottom-0">(ha)</span></th>
              <th scope="col" class="govuk-table__header">Area lost <span class="govuk-body-m govuk-!-margin-bottom-0">(%)</span></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">V.High</td>
              <td class="govuk-table__cell">0</td>
              <td class="govuk-table__cell">0</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">High</td>
              <td class="govuk-table__cell">0</td>
              <td class="govuk-table__cell">0</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">Medium</td>
              <td class="govuk-table__cell">1.35</td>
              <td class="govuk-table__cell">27</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">Low</td>
              <td class="govuk-table__cell">3.73</td>
              <td class="govuk-table__cell">73</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">V.Low</td>
              <td class="govuk-table__cell">0</td>
              <td class="govuk-table__cell">0</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
    <div class="govuk-grid-column-full">

      <h2 class="govuk-heading-l govuk-!-padding-top-5">
        Hedgerows and lines of tress
      </h2>
      
      <div class="app-table-responsive govuk-!-padding-top-5">
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Onsite hange by hedgerow type</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header"></th>
              <th scope="col" class="govuk-table__header" colspan="2">Baseline</th>
              <th scope="col" class="govuk-table__header" colspan="2">Post development</th>
              <th scope="col" class="govuk-table__header" colspan="2">Total change</th>
            </tr>
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Hedgerow group</th>
              <th scope="col" class="govuk-table__header">Existing length <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">(km)</span></th>
              <th scope="col" class="govuk-table__header">Existing value <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">(units)</span></th>
              <th scope="col" class="govuk-table__header">Proposed length <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">(km)</span></th>
              <th scope="col" class="govuk-table__header">Proposed value <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">(units)</span></th>
              <th scope="col" class="govuk-table__header">Length <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">(km)</span></th>
              <th scope="col" class="govuk-table__header">Value <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">(units)</span></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">Native species rich hedgerow with trees</td>
              <td class="govuk-table__cell">0.04</td>
              <td class="govuk-table__cell">0.48</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">-0.04</td>
              <td class="govuk-table__cell">-0.48</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">Native species rich hedgerow</td>
              <td class="govuk-table__cell">0.14</td>
              <td class="govuk-table__cell">1.23</td>
              <td class="govuk-table__cell">0.31</td>
              <td class="govuk-table__cell">2.81</td>
              <td class="govuk-table__cell">0.17</td>
              <td class="govuk-table__cell">1.58</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">Line of trees (Ecologically valuable)</td>
              <td class="govuk-table__cell">0.01</td>
              <td class="govuk-table__cell">0.12</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">-0.01</td>
              <td class="govuk-table__cell">-0.12</td>
            </tr>
          </tbody>
        </table>
      </div>

      <h3 class="govuk-heading-m govuk-!-padding-top-5">Offsite change by hedgerow type</h3>

      <p>No change to offsite hedgerow.</p>

    </div>
    <div class="govuk-grid-column-two-thirds">

      <div class="app-table-responsive govuk-!-padding-top-5">
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Length lost by distinctiveness band</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Category</th>
              <th scope="col" class="govuk-table__header">Length lost <span class="govuk-body-m govuk-!-margin-bottom-0">(km)</span></th>
              <th scope="col" class="govuk-table__header">Length lost <span class="govuk-body-m govuk-!-margin-bottom-0">(%)</span></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">V.High</td>
              <td class="govuk-table__cell">0</td>
              <td class="govuk-table__cell">0</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">High</td>
              <td class="govuk-table__cell">0.04</td>
              <td class="govuk-table__cell">29</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">Medium</td>
              <td class="govuk-table__cell">0.01</td>
              <td class="govuk-table__cell">71</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">Low</td>
              <td class="govuk-table__cell">0</td>
              <td class="govuk-table__cell">0</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">V.Low</td>
              <td class="govuk-table__cell">0</td>
              <td class="govuk-table__cell">0</td>
            </tr>
          </tbody>
        </table>
      </div>

      {% include "register/" + data['version'] + "/includes/start-new-search.html" %}

    </div>
  </div>

{% endblock %}
