
{% extends "register/" + data['version'] + "/layout-register.html" %}

{% set pageHeading = "20/04182/CLP" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript: window.history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Development</span>
         {{ pageHeading }}
      </h1>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Planning reference"
            },
            value: {
              text: "20/04182/CLP"
            }
          },
          {
            key: {
              text: "Local planning authority"
            },
            value: {
              html: "<a href='https://publicaccess.leeds.gov.uk/online-applications/'>Leeds City Council</a>"
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-l govuk-!-padding-top-5">Biodiversity units</h2>

      <div class="app-table-responsive">
        <table class="govuk-table">
          <caption class="govuk-visually-hidden">Summary figures</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header"></th>
                <th scope="col" class="govuk-table__header">Habitats</th>
                <th scope="col" class="govuk-table__header">Hedgerows</th>
                <th scope="col" class="govuk-table__header">Rivers</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Onsite baseline</th>
                <td class="govuk-table__cell">0.00</td>
                <td class="govuk-table__cell">0.00</td>
                <td class="govuk-table__cell">0.00</td>
              </tr>
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__header">Onsite post-intervention
                  <span class="govuk-body-s govuk-!-display-block govuk-!-margin-bottom-0">(Including habitat retention, creation and enhancement)</span>
                </td>
                <td class="govuk-table__cell">0.00</td>
                <td class="govuk-table__cell">0.00</td>
                <td class="govuk-table__cell">0.00</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Onsite net % change
                  <span class="govuk-body-s govuk-!-display-block govuk-!-margin-bottom-0">(Including habitat retention, creation and enhancement)</span>
                </th>
                <td class="govuk-table__cell">0.00%</td>
                <td class="govuk-table__cell">0.00%</td>
                <td class="govuk-table__cell">0.00%</td>
              </tr>
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__header govuk-!-padding-top-7">Offsite baseline
                  <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-1 govuk-!-margin-bottom-0"><a href="/register/{{ data['version'] }}/gain-site-a">Biodiversity gain site 15384</a></span>
                </td>
                <td class="govuk-table__cell govuk-!-padding-top-7">0.00</td>
                <td class="govuk-table__cell govuk-!-padding-top-7">0.00</td>
                <td class="govuk-table__cell govuk-!-padding-top-7">0.00</td>
              </tr>
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__header">Offsite post intervetion
                  <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-1 govuk-!-margin-bottom-0"><a href="/register/{{ data['version'] }}/gain-site-a">Biodiversity gain site 15384</a></span>
                  <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-2 govuk-!-margin-bottom-0">(Including habitat retention, creation and enhancement)</span>
                </td>
                <td class="govuk-table__cell">0.00</td>
                <td class="govuk-table__cell">0.00</td>
                <td class="govuk-table__cell">0.00</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-padding-top-7">Total net unit change
                  <span class="govuk-body-s govuk-!-display-block govuk-!-margin-bottom-0">(Including all onsite and offsite habitat retention, creation and enhancement)</span>
                </th>
                <td class="govuk-table__cell govuk-!-padding-top-7">0.00</td>
                <td class="govuk-table__cell govuk-!-padding-top-7">0.00</td>
                <td class="govuk-table__cell govuk-!-padding-top-7">0.00</td>
              </tr>
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__header">Total onsite net % change plus offsite surplus
                  <span class="govuk-body-s govuk-!-display-block govuk-!-margin-bottom-0">(Including all onsite and offsite habitat retention, creation and enhancement)</span>
                </td>
                <td class="govuk-table__cell">0.00%</td>
                <td class="govuk-table__cell">0.00%</td>
                <td class="govuk-table__cell">0.00%</td>
              </tr>
          </tbody>
        </table>
      </div>

      <!--<p><a href="/register/{{ data['version'] }}/development-c-metric">View metric calculation details</a></p>-->

      {% include "register/" + data['version'] + "/includes/start-new-search.html" %}

    </div>
  </div>

{% endblock %}
