{% extends "register/v1/layout-register.html" %}

{% set pageHeading = "15384" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript: window.history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Biodiversity gain site</span>
         {{ pageHeading }}
      </h1>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Location"
            },
            value: {
              html: "Meadowcroft Farm<br>Goose Ln<br>Leeds<br>LS20 8PJ</p>"
            }
          },
          {
            key: {
              text: "Area"
            },
            value: {
              text: "7.59 hectares (ha) / 18.75 acres"
            }
          },
          {
            key: {
              text: "Map"
            },
            value: {
              html: "<a href='https://www.google.com/maps/d/u/0/edit?mid=1AqDs6tB6KzAZjF4OuN_aThLnxH29K6An&usp=sharing'>View the site's location and boundary on a map </a>"
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-l govuk-!-padding-top-5">Biodiversity units</h2>

      <table class="govuk-table">
        <caption class="govuk-visually-hidden">Summary figures</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header"></th>
              <th scope="col" class="govuk-table__header">Habitats</th>
              <th scope="col" class="govuk-table__header">Hedgerows</th>
              <th scope="col" class="govuk-table__header">Rivers</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Net project biodiversity units</th>
              <td class="govuk-table__cell">4.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Total project biodiversity % change</th>
              <td class="govuk-table__cell">12.20%</td>
              <td class="govuk-table__cell">0.00%</td>
              <td class="govuk-table__cell">0.00%</td>
            </tr>
        </tbody>
      </table>

      <h2 class="govuk-heading-l govuk-!-padding-top-5">Allocated developments</h2>

      <table class="govuk-table">
        <caption class="govuk-visually-hidden">Summary figures</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Planning reference number</th>
              <th scope="col" class="govuk-table__header">Local planning authority</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="/register/{{ pageURL }}/development-c">21/02367/FUL</a></td>
              <td class="govuk-table__cell">Bradford City Council</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="/register/{{ pageURL }}/development-c">21/01335/HOU</a></td>
              <td class="govuk-table__cell">Bradford City Council</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="/register/{{ pageURL }}/development-c">20/04182/CLP</a></td>
              <td class="govuk-table__cell">Leeds City Council</td>
            </tr>
        </tbody>
      </table>

      <h2 class="govuk-heading-l govuk-!-padding-top-5">Site works</h2>

      {{ govukSummaryList({
        classes: "app-summary-list-key-long",
        rows: [
          {
            key: {
              text: "Person or organisation carrying out the works "
            },
            value: {
              text: "Acme Org Ltd"
            }
          },
          {
            key: {
              text: "Works to be completed by"
            },
            value: {
              text: "31 March 2023"
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-l govuk-!-padding-top-5">Site management</h2>

      {{ govukSummaryList({
        classes: "app-summary-list-key-long",
        rows: [
          {
            key: {
              text: "Person or organisation managing the site "
            },
            value: {
              text: "Acme Org Ltd"
            }
          },
          {
            key: {
              text: "Managed until"
            },
            value: {
              text: "31 March 2053"
            }
          }
        ]
      }) }}

      {% include "register/v1/includes/start-new-search.html" %}

    </div>
  </div>

{% endblock %}
