{% extends "register/" + data['version'] + "/layout-register.html" %}

{% set pageHeading = "Biodiversity units" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript: window.history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Biodiversity gain site 15384</span>
         {{ pageHeading }}
      </h1>

      <h2 class="govuk-heading-l">
        Area habitats
      </h2>

      <div class="app-table-responsive">
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Change by broad habitat type</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header"></th>
              <th scope="col" class="govuk-table__header" colspan="2">Baseline</th>
              <th scope="col" class="govuk-table__header" colspan="2">Post development</th>
              <th scope="col" class="govuk-table__header" colspan="2">Total change</th>
            </tr>
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Habitat group</th>
              <th scope="col" class="govuk-table__header">Existing area <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">(ha)</span></th>
              <th scope="col" class="govuk-table__header">Existing value <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">(units)</span></th>
              <th scope="col" class="govuk-table__header">Proposed area <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">(ha)</span></th>
              <th scope="col" class="govuk-table__header">Proposed value <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">(units)</span></th>
              <th scope="col" class="govuk-table__header">Area <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">(ha)</span></th>
              <th scope="col" class="govuk-table__header">Value <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">(units)</span></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">Cropland</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">Grassland</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">Heathland and scrub</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">Lakes</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">Sparsely vegetated land</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">Urban</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">Wetland</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">Woodland and forest</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">Intertidal sediment</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">Coastal saltmarsh</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">Rocky shore</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">Coastal lagoons</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">Intertidal Hard Structures</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
            </tr>
          </tbody>
        </table>
      </div>

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Area lost by distinctiveness band</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Category</th>
            <th scope="col" class="govuk-table__header">Area lost <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">(ha)</span></th>
            <th scope="col" class="govuk-table__header">Area lost <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">(%)</span></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">V.High</td>
            <td class="govuk-table__cell">0.00</td>
            <td class="govuk-table__cell">0.00%</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">High</td>
            <td class="govuk-table__cell">0.00</td>
            <td class="govuk-table__cell">0.00%</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">Medium</td>
            <td class="govuk-table__cell">0.00</td>
            <td class="govuk-table__cell">0.00%</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">Low</td>
            <td class="govuk-table__cell">0.00</td>
            <td class="govuk-table__cell">0.00%</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">V.Low</td>
            <td class="govuk-table__cell">0.00</td>
            <td class="govuk-table__cell">0.00%</td>
          </tr>
        </tbody>
      </table>

      <h2 class="govuk-heading-l govuk-!-padding-top-5">
        Hedgerows and lines of tress
      </h2>
      
      <div class="app-table-responsive">
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Change by hedgerow type</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header"></th>
              <th scope="col" class="govuk-table__header" colspan="2">Baseline</th>
              <th scope="col" class="govuk-table__header" colspan="2">Post development</th>
              <th scope="col" class="govuk-table__header" colspan="2">Total change</th>
            </tr>
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Hedgerow group</th>
              <th scope="col" class="govuk-table__header">Existing length <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">(km)</span></th>
              <th scope="col" class="govuk-table__header">Existing value <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">(units)</span></th>
              <th scope="col" class="govuk-table__header">Proposed length <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">(km)</span></th>
              <th scope="col" class="govuk-table__header">Proposed value <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">(units)</span></th>
              <th scope="col" class="govuk-table__header">Length <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">(km)</span></th>
              <th scope="col" class="govuk-table__header">Value <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">(units)</span></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">Native species rich hedgerow with trees <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">- Associated with bank or ditch</span></td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">Native species rich hedgerow with trees</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">Native species rich hedgerow <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">- Associated with bank or ditch</span></td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">Native hedgerow with trees <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">- Associated with bank or ditch</span></td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">Native species rich hedgerow</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">Line of trees (Ecologically valuable)</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">Line of trees (Ecologically valuable) <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">- Associated with bank or ditch</span></td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">Native hedgerow</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">Line of trees</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">Line of trees <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">- Associated with bank or ditch</span></td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">Hedge ornamental non native</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
            </tr>
          </tbody>
        </table>
      </div>

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Length lost by distinctiveness band</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Category</th>
            <th scope="col" class="govuk-table__header">Length lost <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">(km)</span></th>
            <th scope="col" class="govuk-table__header">Length lost <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">(%)</span></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">V.High</td>
            <td class="govuk-table__cell">0.00</td>
            <td class="govuk-table__cell">0.00%</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">High</td>
            <td class="govuk-table__cell">0.00</td>
            <td class="govuk-table__cell">0.00%</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">Medium</td>
            <td class="govuk-table__cell">0.00</td>
            <td class="govuk-table__cell">0.00%</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">Low</td>
            <td class="govuk-table__cell">0.00</td>
            <td class="govuk-table__cell">0.00%</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">V.Low</td>
            <td class="govuk-table__cell">0.00</td>
            <td class="govuk-table__cell">0.00%</td>
          </tr>
        </tbody>
      </table>

      <h2 class="govuk-heading-l govuk-!-padding-top-5">
        Rivers and streams
      </h2>

      <div class="app-table-responsive">
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Change by river type</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header"></th>
              <th scope="col" class="govuk-table__header" colspan="2">Baseline</th>
              <th scope="col" class="govuk-table__header" colspan="2">Post development</th>
              <th scope="col" class="govuk-table__header" colspan="2">Total change</th>
            </tr>
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Hedgerow group</th>
              <th scope="col" class="govuk-table__header">Existing length <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">(km)</span></th>
              <th scope="col" class="govuk-table__header">Existing value <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">(units)</span></th>
              <th scope="col" class="govuk-table__header">Proposed length <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">(km)</span></th>
              <th scope="col" class="govuk-table__header">Proposed value <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">(units)</span></th>
              <th scope="col" class="govuk-table__header">Length <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">(km)</span></th>
              <th scope="col" class="govuk-table__header">Value <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">(units)</span></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">Priority habitat</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">Other rivers and streams</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">Ditches</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">Canals</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">Culvert</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
              <td class="govuk-table__cell">0.00</td>
            </tr>
          </tbody>
        </table>
      </div>

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Length lost by distinctiveness band</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Category</th>
            <th scope="col" class="govuk-table__header">Length lost <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">(km)</span></th>
            <th scope="col" class="govuk-table__header">Length lost <span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">(%)</span></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">V.High</td>
            <td class="govuk-table__cell">0.00</td>
            <td class="govuk-table__cell">0.00%</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">High</td>
            <td class="govuk-table__cell">0.00</td>
            <td class="govuk-table__cell">0.00%</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">Medium</td>
            <td class="govuk-table__cell">0.00</td>
            <td class="govuk-table__cell">0.00%</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">Low</td>
            <td class="govuk-table__cell">0.00</td>
            <td class="govuk-table__cell">0.00%</td>
          </tr>
          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__cell">V.Low</td>
            <td class="govuk-table__cell">0.00</td>
            <td class="govuk-table__cell">0.00%</td>
          </tr>
        </tbody>
      </table>

      {% include "register/" + data['version'] + "/includes/start-new-search.html" %}

    </div>
  </div>

{% endblock %}
