{% set serviceName = "Biodiversity gain site register" %}
{% set serviceUrl = "/register/" + data['version'] + "/search" %}


{% extends "../../layout.html" %}

{% block header %}

  {{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: serviceUrl
  }) }}

   <div class="govuk-width-container">

    {% include "includes/phase-banner.html" %}
    <!-- {% include "includes/login-nav.html" %} -->
    
  </div>

{% endblock %}

{% block footer %}
  {% include "includes/footer.html" %}
{% endblock %}