
{% extends "layout-register.html" %}

{% set hideLogin = "true" %}
{% set navType = "Search" %}
{% set pageURL = "v1" %}
{% set pageHeading = "Search the register" %}

{% block beforeContent %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post" action="/register/{{ pageURL }}/search-results">

      {{ govukInput({
        label: {
          text: "Search the register",
          classes: "govuk-label--xl",
          isPageHeading: true
        },
        hint: {
          text: "Enter biodiversity gain site number, planning reference number, postcode or street name."
        },
        id: "search-register",
        name: "search-register",
        classes: "govuk-!-width-three-quarters"
      }) }}

      {{ govukButton({
        text: "Search"
      }) }}

    </form>

      <!--<h2 class="govuk-heading-m">Other ways to search</h2>
      <p><a href="/sprint-1/register/search-number">Search by BNG reference number</a></p>-->

    </div>
  </div>

{% endblock %}
