{% extends "register-application/v10/layout-register-application.html" %}

{% set pageHeading = "Confirm allocation information" %}

{% block content %}

  <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Planning reference
          </dt>
          <dd class="govuk-summary-list__value">
            21/02367/FUL
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="/register-application/{{ pageURL }}/allocation-development">
              Change<span class="govuk-visually-hidden"> Planning reference number</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Local Planning Authority
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['input-autocomplete'] or 'City of York' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="/register-application/{{ pageURL }}/allocation-development">
              Change<span class="govuk-visually-hidden"> Local planning authority</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Legal agreement
          </dt>
          <dd class="govuk-summary-list__value">
            <a download href="/public/images/meadow-croft-farm-legal-agreement.pdf">meadow-croft-farm-legal-agreement.pdf</a>, 2.8MB
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="/register-application/{{ pageURL }}/development-legal-agreement-upload">
              Change<span class="govuk-visually-hidden"> Legal agreement</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Allocated units
          </dt>
          <dd class="govuk-summary-list__value">
            Grassland = 1.53 ha, 2.1 units <br>
            Heathland and scrub = 0.10 ha, 1.5 units <br>
            Native species rich hedgerow = 0.45 km, 0.8 units
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="/register-application/{{ pageURL }}/allocation-habitat">
              Change<span class="govuk-visually-hidden"> allocated habitat</span>
            </a>
          </dd>
        </div>
      </dl>

      <form method="post" action="/register-application/{{ pageURL }}/task-list">
        <input class="govuk-input" id="development-confirm" name="development-confirm" type="hidden" value="development-confirm">

        {{ govukButton({
            text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
