{% extends "register-application/v10/layout-register-application.html" %}

{% set map = true %}

{% set pageHeading = "Check your answers before submitting your information" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ pageHeading }}
      </h1>

      <h2 class="govuk-heading-l">Your details</h2>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-7',
        rows: [
          {
            key: {
              text: "Full name"
            },
            value: {
              text: data['full-name'] or 'Jo Smith'
            },
            actions: {
              items: [
                {
                  href: "/register-application/" + pageURL + "/details-name",
                  text: "Change",
                  visuallyHiddenText: "full name"
                }
              ]
            }
          },
          {
            key: {
              text: "Role"
            },
            value: {
              text: data['role'] or 'josmith@gmail.com'
            },
            actions: {
              items: [
                {
                  href: "/register-application/" + pageURL + "/details-role",
                  text: "Change",
                  visuallyHiddenText: "role"
                }
              ]
            }
          }
        ]
      }) }}


      <h2 class="govuk-heading-l">Land boundary</h2>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-7',
        rows: [
          {
            key: {
              text: "File added"
            },
            value: {
              text: data['location-upload'] or 'meadow-croft-farm-land-boundary.pdf'
            },
            actions: {
              items: [
                {
                  href: "/register-application/" + pageURL + "/location-upload",
                  text: "Change",
                  visuallyHiddenText: "file added"
                }
              ]
            }
          },
          {
            key: {
              text: "Grid reference"
            },
            value: {
              text: data['grid-reference'] or 'SP41989814'
            },
            actions: {
              items: [
                {
                  href: "/register-application/" + pageURL + "/location-grid-reference",
                  text: "Change",
                  visuallyHiddenText: "grid reference"
                }
              ]
            }
          },
          {
            key: {
              text: "Area in hectares"
            },
            value: {
              text: data['area-in-hectares'] or '4.2 ha'
            },
            actions: {
              items: [
                {
                  href: "/register-application/" + pageURL + "/location-area",
                  text: "Change",
                  visuallyHiddenText: "are in hectares"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-l">Land ownership</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-7">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Proof of land ownership
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['landowner-certificate-upload'] or 'ownership-certificate.pdf' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="/register-application/{{ pageURL }}/landowner-certificate-check">
              Change<span class="govuk-visually-hidden"> certificate of ownership</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Landowner name
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['role'] == 'Landowner' %}
              {% if data['landowner-only'] == 'Yes' %}
                {{ data['full-name'] or 'Jo Smith' }}
              {% else %}
                {{ data['full-name'] or 'Jo Smith' }} <br>
                Emily Burn
              {% endif %}
            {% else %}
              Emily Burn
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            {% if data['landowner-only'] == 'Yes' %}
            <a class="govuk-link govuk-link--no-visited-state" href="/register-application/{{ pageURL }}/landowner-only">
            {% else %}
            <a class="govuk-link govuk-link--no-visited-state" href="/register-application/{{ pageURL }}/landowner-name">
            {% endif %}
              Change<span class="govuk-visually-hidden"> landowner name</span>
            </a>
          </dd>
        </div>

        {% if data['landowner-only'] == 'Yes' %}
        {% else %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Landowner consent
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="/register-application/{{ pageURL }}/landowner-consent">
              Change<span class="govuk-visually-hidden"> landowner consent</span>
            </a>
          </dd>
        </div>
      {% endif %}
      </dl>

      <h2 class="govuk-heading-l">Habitat information</h2>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-7',
        rows: [
          {
            key: {
              text: "File added",
              classes: "app-summary-list__key--narrow",
              classes: "govuk-!-width-one-quarter"
            },
            value: {
              text: data['metric-upload'] or 'metric_3.0_meadow_farm.xlsm'
            },
            actions: {
              items: [
                {
                  href: "/register-application/" + pageURL + "/metric-data-confirm",
                  text: "Change",
                  visuallyHiddenText: "habitat information"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-l">Habitat management and monitoring details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-7">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Habitat management and monitoring plan
          </dt>
          <dd class="govuk-summary-list__value">
            habitat-management-and-monitoring-plan.pdf, 1MB
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/register-application/v10/management-plan-upload">
              Change<span class="govuk-visually-hidden"> Habitat Management and Monitoring Plan</span>
              </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Start date of habitat enhancement works
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['management-plan-date-start-day'] or '15' }} {{ data['management-plan-date-start-month'] | monthToWordWithSpaces('March') }} {{ data['management-plan-date-start-year'] or '2022' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/register-application/v10/management-plan-date-start">
              Change<span class="govuk-visually-hidden"> commencement date of habitat works</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Start date of the 30 year management and monitoring period
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['management-plan-date-end-day'] or '15' }} {{ data['management-plan-date-end-month'] | monthToWordWithSpaces('March') }} {{ data['management-plan-date-end-year'] or '2023' }}
          </dd>
          <dd class="govuk-summary-list__actions">    
            <a class="govuk-link" href="/register-application/v10/management-plan-date-end">
              Change<span class="govuk-visually-hidden"> Start date of the 30 year management and monitoring period</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-l">Legal agreement</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Type of legal agreement
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['legal-agreement'] or 'Conservation covenant' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="/register-application/{{ pageURL }}/legal-agreement">
              Change<span class="govuk-visually-hidden"> type of legal agreement</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Legal agreement
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['legal-agreement-upload'] or 'legal-agreement.pdf' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="/register-application/{{ pageURL }}/legal-agreement-upload">
              Change<span class="govuk-visually-hidden"> legal agreement</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Parties involved
          </dt>
          <dd class="govuk-summary-list__value">
            <ul class="govuk-list">
              <li>Kevin Francis (Owner)</li>
              <li>Leeds City Council (Responsible Body)</li>
            </ul>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="/register-application/{{ pageURL }}/legal-agreement-parties">
              Change<span class="govuk-visually-hidden"> parties involved</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Start date
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['legal-agreement-date-start-day'] or '15' }} {{ data['legal-agreement-date-start-month'] | monthToWordWithSpaces('March') }} {{ data['legal-agreement-date-start-year'] or '2022' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="/register-application/{{ pageURL }}/legal-agreement-date-start">
              Change<span class="govuk-visually-hidden"> commencement date</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-l">Submit your biodiversity gain site information</h2>

      <p class="govuk-body">By submitting you agree that the information you have given is complete and correct. </p>

      <form action="/register-application/{{ pageURL }}/confirmation" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <button class="govuk-button" data-module="govuk-button">
          Confirm and submit
        </button>

      </form>

    </div>
  </div>

{% endblock %}

{% block pageScripts %}
  <script type="module" src="/public/javascripts/map.min.js"></script>
{% endblock %}