{% extends "register-application/v10/layout-register-application.html" %}

{% set pageHeading = "Do you own Meadow Croft Farm, Goose Lane, Leeds, LS20 8PJ?" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <form method="post" action="/register-application/{{ pageURL }}/landowner-answer">

        {{ govukRadios({
          idPrefix: "landowner",
          name: "landowner",
          fieldset: {
            legend: {
              text: pageHeading,
              classes: "govuk-fieldset__legend--l",
              pageHeading: true
            }
          },
          hint: {
            text: "Your name needs to be on the title deed."
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}
        
        {{ govukButton({ text: 'Continue' }) }}
        
      </form>

    </div>
  </div>

{% endblock %}
