{% extends "register-application/v10/layout-register-application.html" %}

{% set pageHeading = "Confirm land ownership details" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ pageHeading }}
      </h1>

      <dl class="govuk-summary-list govuk-!-margin-bottom-7">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Certificate of ownership
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['landowner-certificate-upload'] or 'ownership-certificate.pdf' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="/register-application/{{ pageURL }}/landowner-certificate-check">
              Change<span class="govuk-visually-hidden"> certificate of ownership</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Landowner name
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['role'] == 'Landowner' %}
              {% if data['landowner-only'] == 'Yes' %}
                {{ data['full-name'] or 'Jo Smith' }}
              {% else %}
                {{ data['full-name'] or 'Jo Smith' }} <br>
                Emily Burn
              {% endif %}
            {% else %}
              Emily Burn
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            {% if data['landowner-only'] == 'Yes' %}
            <a class="govuk-link govuk-link--no-visited-state" href="/register-application/{{ pageURL }}/landowner-only">
            {% else %}
            <a class="govuk-link govuk-link--no-visited-state" href="/register-application/{{ pageURL }}/landowner-name">
            {% endif %}
              Change<span class="govuk-visually-hidden"> landowner name</span>
            </a>
          </dd>
        </div>

        {% if data['landowner-only'] == 'Yes' %}
        {% else %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Landowner consent
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="/register-application/{{ pageURL }}/landowner-consent">
              Change<span class="govuk-visually-hidden"> landowner consent</span>
            </a>
          </dd>
        </div>
      {% endif %}
      </dl>

      <form method="post" action="/register-application/{{ pageURL }}/task-list">

        <input type="hidden" name="address-confirm" value="yes">
        
        {{ govukButton({ text: 'Confirm and continue' }) }}
        
      </form>

    </div>
  </div>

{% endblock %}
