{% extends "register-application/v10/layout-register-application.html" %}

{% set pageHeading = "Upload your signed consent from the landowner to register their land" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ pageHeading }}
      </h1>
      
      <form method="post" action="/register-application/{{ pageURL }}/landowner-permission-check">

        {{ govukFileUpload({
          id: "landowner-permission-upload",
          name: "landowner-permission-upload",
          label: {
            text: "Upload a file",
            classes:"govuk-visually-hidden"
          },
          hint: {
            text: "PDF, max size 50MB"
          }
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
        
      </form>

      <p>Or</p> 
      
      <p>If you are the landowner of the off-site, you can <a href="/register-application/{{ pageURL }}/land-registry-search">skip this task</a>.</p>

    </div>
  </div>

{% endblock %}
