{% extends "register-application/v10/layout-register-application.html" %}

{% set pageHeading = "Upload the legal agreement" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ pageHeading }}
      </h1>

      <div id="legal-agreement-upload-hint">
        <p>The file should be:</p> 
        <ul class="govuk-list govuk-list--bullet">
          <li>a DOC, DOCX or PDF</li>
          <li>no larger than 50MB</li>
        </ul>
      </div>
      
      <form method="post" action="/register-application/{{ pageURL }}/legal-agreement-check">
  
        <label class="govuk-label" for="legal-agreement-upload">
          Upload a file
        </label>

        <input class="govuk-file-upload" id="legal-agreement-upload" name="legal-agreement-upload" type="file" aria-describedby="legal-agreement-upload-hint">

        <p class="govuk-!-padding-top-3"><a href="/register-application/{{ pageURL }}/legal-agreement-no">I do not have the legal agreement</a></p>

        {{ govukButton({
          text: "Continue"
        }) }}
        
      </form>

    </div>
  </div>

{% endblock %}
