{% extends "register-application/v10/layout-register-application.html" %}

{% set pageHeading = "You need a legal agreement" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ pageHeading }}
      </h1>

      <p>You need a legal agreement for the land that you want to register as a biodiversity gain site.</p>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Help with legal agreements
          </span>
        </summary>
        <div class="govuk-details__text">
          {% include "register-application/v9/includes/get-help.html" %}
        </div>
      </details>

    </div>
  </div>

{% endblock %}
