{% extends "register-application/v10/layout-register-application.html" %}

{% set pageHeading = "Who is responsible for managing the biodiversity gain site?" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ pageHeading }}
      </h1>
      
      <form method="post" action="/register-application/{{ pageURL }}/management-plan-monitoring">

        {{ govukInput({
          id: "management-plan-maintaining-name",
          name: "management-plan-maintaining-name",
          label: {
            text: "Full name or organisation"
          },
          spellcheck: false
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
        
      </form>

    </div>
  </div>

{% endblock %}
