{% extends "layout.html" %}
{% block content %}
    

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">        

        

            <h1 class="govuk-heading-l">Your Defra account</h1>

            <p>Your Defra account lets you access and manage Defra services for yourself or on behalf of the organisations that you represent. Once you have an account, you'll use your Government Gateway details to sign in each time you visit.</p>
            <h2 class="govuk-heading-l">What we need from you</h2>
            <p>To complete your registration, we'll ask for some personal details and for information about who wants to use this service.</p>
            <p>To find out how we use, process and store your data, read our <a href="/privacy-notice">Privacy notice</a>.</p>

            <form method="post" action="/register/account-type">

                


<div class="govuk-form-group">

  <fieldset class="govuk-fieldset">
  
  <legend class="govuk-fieldset__legend govuk-visually-hidden">
  
    Terms and conditions
  
  </legend>
  

  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
    
      
          
        
          
          
          
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="defraIdTerms" name="[defraIdTerms]" type="checkbox" value="Yes">
            <label class="govuk-label govuk-checkboxes__label" for="defraIdTerms">
        I have read and agree to the <a href="/terms-and-conditions">Terms and conditions</a>. 
      </label>
            
          </div>
          
        
      
    
  </div>
  

</fieldset>


</div>

    
                

  
    
  

<button class="govuk-button" data-module="govuk-button">
  Continue
</button>

    
            </form>
    

            
       
    </div>

</div>

{% endblock %}