
{% extends "layout-register.html" %}

{% set serviceName = "Register a biodiversity gain site" %}
{% set pageURL = "sprint-1" %}
{% set pageHeading = "Are there any third parties interested?" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript: window.history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <form method="post" action="/{{ pageURL }}/register-application/interested-third-parties-answer">

        {{ govukRadios({
          idPrefix: "interested-third-parties",
          name: "interested-third-parties",
          fieldset: {
            legend: {
              text: pageHeading,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "For example, ..."
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
        
      </form>

      {% include "includes/save-and-exit.html" %}

    </div>
  </div>

{% endblock %}
