
{% extends "layout-register.html" %}

{% set serviceName = "Register a biodiversity gain site" %}
{% set pageURL = "sprint-1" %}
{% set pageHeading = "The land needs to be registered on HM Land Registry" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript: window.history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ pageHeading }}
      </h1>

      <p>To register the biodoversity gain site, you need to <a href="https://www.gov.uk/registering-land-or-property-with-land-registry">register the land with HM Land Registry</a>.</p>
      <p>You can save the following link and use it to return to your application: <a href="/{{ pageURL }}/register-application/sign-in">https://bng.defra.gov.uk/signin</a>.</p>

    </div>
  </div>

{% endblock %}
