
{% extends "layout-register.html" %}

{% set serviceName = "Register a biodiversity gain site" %}
{% set pageURL = "sprint-1" %}
{% set pageHeading = "Your payment is being reviewed" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript: window.history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ pageHeading }}
      </h1>

      <p>Natural England will check that they have received the payment.</p>
      <p>They’ll email you once the payment has been recieved with guidance on what to do next to complete the application. </p>

    </div>
  </div>

{% endblock %}
