
{% extends "layout-register.html" %}

{% set serviceName = "Register a biodiversity gain site" %}
{% set pageURL = "sprint-1" %}
{% set pageHeading = "Register a biodiversity gain site" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{ pageHeading }}
      </h1>

      <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Application incomplete</h2>
      <p class="govuk-body govuk-!-margin-bottom-7">You have completed 2 of 4 sections.</p>

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span> Check before you start
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                Check eligibility
              </span>
              <strong class="govuk-tag app-task-list__tag" id="list-convictions-status">completed</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span> Provide information on the biodiversity gain site
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                
                  Site location
                
              </span>
              <strong class="govuk-tag app-task-list__tag" id="list-convictions-status">completed</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                
                  Biodiversity metric calculation tool

              </span>
              <strong class="govuk-tag app-task-list__tag" id="list-convictions-status">completed</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                
                  Site works

              </span>
              <strong class="govuk-tag app-task-list__tag" id="list-convictions-status">completed</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                
                  Site management 

              </span>
              <strong class="govuk-tag app-task-list__tag" id="list-convictions-status">completed</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span> Give details of the development the site is linked to
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/{{ pageURL }}/register-application/local-authority" aria-describedby="eligibility-status">
                  Local authority information
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="list-convictions-status">not started</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">4. </span> Pay and apply
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                Pay the application fee
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                Submit the application
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
            </li>
          </ul>
        </li>

      </ol>
    </div>
  </div>

{% endblock %}
