{% extends "register-application/v20/layout-register-application.html" %}

{% set pageHeading = "Which legal agreement do you have?" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <form method="post" action="./legal-agreement">

        {{ govukRadios({
          idPrefix: "legal-agreement",
          name: "legal-agreement",
          fieldset: {
            legend: {
              text: pageHeading,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "You need a legal agreement to secure the habitat works and management of the biodiversity gain site for at least 30 years."
          },
          items: [
            {
              value: "Conservation covenant~./legal-agreement-upload",
              text: "Conservation covenant",
              checked: checked("legal-agreement", "Conservation covenant")
            },
            {
              value: "Planning obligation (Section 106 agreement)~./legal-agreement-upload",
              text: "Planning obligation (Section 106 agreement)",
              checked: checked("legal-agreement", "Planning obligation (Section 106 agreement)")
            }
          ]
        }) }}

        <p><a href="./legal-agreement-no">I do not have a legal agreement</a></p>

        {{ govukButton({
          text: "Save and continue"
        }) }}
        
      </form>

    </div>
  </div>

{% endblock %}
