{% extends "register-application/v18/layout-register-application.html" %}

{% set addChangeText = "Add" %}
{% if query.change=="yes" %}
{% set addChangeText = "Update" %}
{% endif %}

{% set pageHeading = addChangeText + " a landowner listed on the covernent" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <!-- action controled in ./_routes.js -->
      <form method="post" >
         <input type="hidden" name="landowner-type" value="{{data['landowner-type']}}">
        {% call govukFieldset({
          legend: {
            text: pageHeading,
            classes: 'govuk-fieldset__legend--l',
            isPageHeading: true
          }
        }) %}

         <!-- Set the value if this is changing/updating an LP. -->
        {% if query.change == "yes" %}
        {% set fullname = data.legalParties[query.id or 0]["legal-party-name"] %}
       
        {% endif %}
    
        {{ govukInput({
          id: 'landowners-org-name',
          name: 'landowners-org-name',
          value: fullname,
          label: {
            html: 'Organisation name'
          }
        }) }}

    
        {% endcall %}

        {{ govukButton({
          text: addChangeText +" landowner"
        }) }}
        
      </form>

    </div>
  </div>

{% endblock %}
