{% extends "register-application/v20/layout-register-application.html" %}

{% set pageHeading = "Are you an agent acting on behalf of a client?" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- hint: {
        text: "Your client must be a landowner or leasholder named on the legal agreement."
      }, -->


      <!-- get if we have landowners who are only individuals, orgs or both.  -->
      {% set hasOrganisation = "no" %}
      {% set hasIndividual = "no" %}
      {% for lo in data.landowners %}
  

      {% if lo["landowner-type"] == "organisation" %}
      {% set hasOrganisation = "yes" %}

      {% elseif lo["landowner-type"] == "individual" %}
      {% set hasIndividual = "yes" %}
      {% endif %}

      {% endfor %}

      {% set nextpage = "applicant-details-confirm-landowner" %}

      {% if hasIndividual == "yes" and hasOrganisation == "yes" %}
      {% set applicantType = "both" %}
      {% set nextpage = "applicant-role-as-landowner" %}
      {% elseif hasOrganisation == "yes" %}
      {% set applicantType = "organisation" %}
      {% else %}
      {% set applicantType = "individual" %}
      {% endif %}


    <form method="post">
      {{ govukRadios({
      name: "is-agent",
      fieldset: {
      legend: {
      text: pageHeading,
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
      }
      },
      items: [
      {
      value: "yes~./applicant-details-upload-authorisation",
      text: "Yes"
      },
      {
      value: "no~./"+nextpage,
      text: "No"
      }
      ]
      }) }}

      <input type="hidden" name="landowner-type" value="{{applicantType}}">
      <input type="hidden" name="applicant-type" value="{{applicantType}}">
      {{ govukButton({
      text: "Save and continue"
      }) }}
    </form>
  </div>
</div>
{% endblock %}