{% extends "register-application/v20/layout-register-application.html" %}

{% set pageHeading = "You need to add all the Local Planning Authorities (LPA) listed on the planning obligation" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <h1 class="govuk-heading-l">{{pageHeading}}</h1>
     
      <p>You can add as many LPA's as you need to.</p>
      <form method="get" action="legal-agreement-lpa-add">
       
        {{ govukButton({
          text: "Add a Local Planning Authority"
        }) }}
        
      </form>

    </div>
  </div>

{% endblock %}
