{% extends "register/v6/layout-register.html" %}

{% set map = true %}

{% set pageHeading = "BGS-220124001" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript: window.history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Gain site reference number</span>
         {{ pageHeading }}
      </h1>
      <!-- <p class="govuk-body app-secondary-text-colour govuk-!-margin-bottom-5 govuk-!-margin-top-1">Added to the BNG Register on 15 March 2022</p> -->

      <!-- <div id="offsite" class="map map--location" tabindex="0">
      </div> -->

      {{ govukSummaryList({
        rows: [
        {
          key: {
            text: "Gain site size"
          },
          value: {
            text: "4.15 hectares (ha)"
          }
        },
          {
            key: {
              text: "Grid reference"
            },
            value: {
              text: "SE170441"
            }
          },
          {
            key: {
              text: "Local Planning Authority or responsible body"
            },
            value: {
              text: "Leeds City Council"
            }
          },
          {
            key: {
              text: "Land boundary"
            },
            value: {
              html: '<a href="#">Link to land boundary</a>'
            }
          },
          {
            key: {
              html: 'Start date<br /><span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">The start date of the enhancement works, if they started before registration</span>'
            },
            value: {
              text: "8 February 2024"
            }
          },
          {
            key: {
              html: 'End date<br /><span class="govuk-body-s govuk-!-display-block govuk-!-margin-top-0 govuk-!-margin-bottom-0">The date when the last obligation to create and maintain an enhancement has ended</span>'
            },
            value: {
              text: "8 February 2054"
            }
          }
        ]
      }) }}

      

        <h2 class="govuk-heading-l govuk-!-padding-top-5">Habitat information</h2>

        <h3 class="govuk-heading-m govuk-!-margin-bottom-0">Baseline habitat</h3>
        <div class="govuk-hint" style="width: 60%;">Original information for the site, before any BNG improvements</div>

        <div class="app-table-responsive">
          <table class="govuk-table">
            <caption class="govuk-visually-hidden">Habitat types, area and condition</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header" style="width:50%">Area</th>
                <th scope="col" class="govuk-table__header" style="width:25%">Condition</th>
                <th scope="col" class="govuk-table__header govuk-table__header--numeric" style="width:25%">Area in hectares (ha)</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell">Grassland - Other neutral grassland</td>
                <td class="govuk-table__cell">Poor</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">4.15</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__cell">Total</th>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell govuk-table__cell--numeric">4.15</td>
              </tr>
            </tbody>
          </table>
        </div>
  
        <div class="app-table-responsive">
          <table class="govuk-table">
            <caption class="govuk-visually-hidden">Hedgerow types, length and condition</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header" style="width:50%">Hedgerow</th>
                <th scope="col" class="govuk-table__header" style="width:25%">Condition</th>
                <th scope="col" class="govuk-table__header govuk-table__header--numeric" style="width:25%">Length in kilometres (km)</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell">Native species rich hedgerow
                </td>
                <td class="govuk-table__cell">Poor</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">0.68</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__cell">Total</th>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell govuk-table__cell--numeric">0.68</td>
              </tr>
            </tbody>
          </table>
        </div>


        <h3 class="govuk-heading-m govuk-!-margin-bottom-0">Planned habitat improvement</h3>
        <div class="govuk-hint" style="width: 60%;">Planned site information after BNG improvements have been made</div>

        

        <div class="app-table-responsive">
          <table class="govuk-table">
            <caption class="govuk-visually-hidden">Habitat types, area and condition</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header" style="width:50%">Area</th>
                <th scope="col" class="govuk-table__header" style="width:25%">Condition</th>
                <th scope="col" class="govuk-table__header govuk-table__header--numeric" style="width:25%">Area in hectares (ha)</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell">Grassland - Other neutral grassland</td>
                <td class="govuk-table__cell">Good</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">2.40</td>
              </tr>
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell">Heathland and scrub - Hazel scrub</td>
                <td class="govuk-table__cell">Good</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">1.25</td>
              </tr>
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell">Woodland and forest - Other woodland; mixed</td>
                <td class="govuk-table__cell">Good</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">0.50</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__cell">Total</th>
                <td class="govuk-table__cell"></td>
                <td class="govuk-table__cell govuk-table__cell--numeric">4.15</td>
              </tr>

            </tbody>
          </table>
        </div>

      <h2 class="govuk-heading-l govuk-!-margin-bottom-0">Allocation information</h2>
      <p class="govuk-body govuk-!-margin-top-4">There could be more than one allocated site in each development.</p>

      <h3 class="govuk-heading-m govuk-!-margin-bottom-0">Planned habitat</h3>
      <div class="govuk-hint" style="width: 60%;">Information for an allocated site within a single development</div>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Local Planning Authority"
            },
            value: {
              text: "Leeds City Council"
            }
          },
          {
            key: {
              text: "Planning reference number"
            },
            value: {
                text: "21/02367/FUL"
            }
          },
          {
            key: {
              text: "Project name"
            },
            value: {
                text: "Meadowcroft Farm"
            }
          }
        ]
      }) }}


      <div class="app-table-responsive">
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Biodiversity value</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header" style="width:50%">Habitat type</th>
            <th scope="col" class="govuk-table__header" style="width:50%">Value</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Area</th>
            <td class="govuk-table__cell">0.24</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Hedgerow</th>
            <td class="govuk-table__cell">7.00</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Watercourse</th>
            <td class="govuk-table__cell">0.14</td>
          </tr>
        </tbody>
      </table>
    </div>

      <div class="app-table-responsive">
        <table class="govuk-table">
          <caption class="govuk-visually-hidden">Habitat types, area and condition</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" style="width:50%">Area</th>
              <th scope="col" class="govuk-table__header" style="width:25%">Condition</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric" style="width:25%">Area in hectares (ha)</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">Grassland - Other neutral grassland</td>
              <td class="govuk-table__cell">Good</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">2.40</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">Heathland and scrub - Hazel scrub</td>
              <td class="govuk-table__cell">Good</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">1.25</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">Woodland and forest - Other woodland; mixed</td>
              <td class="govuk-table__cell">Good</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">0.50</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">Total</th>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell govuk-table__cell--numeric">4.15</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="app-table-responsive">
        <table class="govuk-table">
          <caption class="govuk-visually-hidden">Hedgerow types, length and condition</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" style="width:50%">Hedgerow</th>
              <th scope="col" class="govuk-table__header" style="width:25%">Condition</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric" style="width:25%">Length in kilometres (km)</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">Native species rich hedgerow
              </td>
              <td class="govuk-table__cell">Good</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">0.18</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">Line of trees
              </td>
              <td class="govuk-table__cell">Poor</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">0.50</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">Total</th>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell govuk-table__cell--numeric">0.68</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="app-table-responsive">
        <table class="govuk-table">
          <caption class="govuk-visually-hidden">Watercourse types, length and condition</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" style="width:50%">Watercourse</th>
              <th scope="col" class="govuk-table__header" style="width:25%">Condition</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric" style="width:25%">Length in kilometres (km)</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">Rivers and streams - Canals
              </td>
              <td class="govuk-table__cell">Good</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">0.14</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">Total</th>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell govuk-table__cell--numeric">0.14</td>
            </tr>
          </tbody>
        </table>
      </div>


      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h3 class="govuk-heading-m govuk-!-margin-bottom-0">Planned habitat</h3>
      <div class="govuk-hint" style="width: 60%;">Information for an allocated site within a single development</div>
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Local Planning Authority"
            },
            value: {
              text: "Leeds City Council"
            }
          },
          {
            key: {
              text: "Planning reference number"
            },
            value: {
                text: "21/02367/FUL"
            }
          },
          {
            key: {
              text: "Project name"
            },
            value: {
                text: "Meadowcroft Farm"
            }
          }
        ]
      }) }}

      <div class="app-table-responsive">
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Biodiversity value</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" style="width:50%">Habitat type</th>
              <th scope="col" class="govuk-table__header" style="width:50%">Value</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Habitat</th>
              <td class="govuk-table__cell">0.24</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Hedgerow</th>
              <td class="govuk-table__cell">7.00</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Watercourse</th>
              <td class="govuk-table__cell">0.14</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="app-table-responsive">
        <table class="govuk-table">
          <caption class="govuk-visually-hidden">Habitat types, area and condition</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" style="width:50%">Area</th>
              <th scope="col" class="govuk-table__header" style="width:25%">Condition</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric" style="width:25%">Area in hectares (ha)</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">Grassland - Other neutral grassland</td>
              <td class="govuk-table__cell">Good</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">2.40</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">Heathland and scrub - Hazel scrub</td>
              <td class="govuk-table__cell">Good</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">1.25</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">Woodland and forest - Other woodland; mixed</td>
              <td class="govuk-table__cell">Good</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">0.50</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">Total</th>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell govuk-table__cell--numeric">4.15</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="app-table-responsive">
        <table class="govuk-table">
          <caption class="govuk-visually-hidden">Hedgerow types, length and condition</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" style="width:50%">Hedgerow</th>
              <th scope="col" class="govuk-table__header" style="width:25%">Condition</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric" style="width:25%">Length in kilometres (km)</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">Native species rich hedgerow
              </td>
              <td class="govuk-table__cell">Good</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">0.18</td>
            </tr>
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">Line of trees
              </td>
              <td class="govuk-table__cell">Poor</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">0.50</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">Total</th>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell govuk-table__cell--numeric">0.68</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="app-table-responsive">
        <table class="govuk-table">
          <caption class="govuk-visually-hidden">Watercourse types, length and condition</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" style="width:50%">Watercourse</th>
              <th scope="col" class="govuk-table__header" style="width:25%">Condition</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric" style="width:25%">Length in kilometres (km)</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">Rivers and streams - Canals
              </td>
              <td class="govuk-table__cell">Good</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">0.14</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">Total</th>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell govuk-table__cell--numeric">0.14</td>
            </tr>
          </tbody>
        </table>
      </div>

      {% include "register/v6/includes/start-new-search.html" %}

    </div>
  </div>

{% endblock %}

{% block pageScripts %}
  <script type="module" src="/public/javascripts/map.min.js"></script>
{% endblock %}