{% extends "register-application/v17/layout-register-application.html" %}

{% set pageHeading = "Development projects" %}

{% set showAccount = true %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">
      {{ pageHeading }}
    </h1>

      {% if data['answers-checked'] == 'true' %}
        <div class="govuk-inset-text inset-dashboard dashpanel">
          <h3 class="govuk-heading-m">Tasks:</h3>
          <ul class="govuk-list govuk-list--spaced">
            <li>
              <span class="govuk-body-s">01 Jun 2023</span> 
              <span class="govuk-caption-m">Action</span> 
              <a href="/register-application/v17/allocation-approval">Check development project and habitat information for BGS-260523087</a>
            </li>
            <li>
              <span class="govuk-body-s">04 Jun 2023</span> 
              <span class="govuk-caption-m">Action</span> 
              <a href="#">Add monitoring report for gain site BGS-260523087</a>
            </li>
            <li class="govuk-!-margin-top-6">
              <a href="#"><strong>View all tasks</strong></a>
            </li>
          </ul>
        </div>
      {% else %}
      {% endif %}

      <form action="/register-application/v17/task-list" method="post" novalidate>
        <input type="hidden" name="start-new-application" value="true">
        <button class="govuk-button" data-module="govuk-button">
          Add a development project
        </button>
      </form>

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-visually-hidden">Applications</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Project name</th>
            <th scope="col" class="govuk-table__header">Planning authority</th>
            <th scope="col" class="govuk-table__header">Planning reference</th>
            <th scope="col" class="govuk-table__header">Created on</th>
            <th scope="col" class="govuk-table__header">Status</th>
            <th scope="col" class="govuk-table__header">
              <span class="govuk-visually-hidden">Actions</span>
            </th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="#">Emmer Green Golf Course</a>
            </td>
            <td class="govuk-table__cell">
              Reading Borough Council
            </td>
            <td class="govuk-table__cell">
              22/01976/RJL
            </td>
            <td class="govuk-table__cell">
              7 May 2023
            </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--blue">RECEIVED</strong>
            </td>
          </tr>
        </tbody>
      </table>
      
        
    </div>
</div>

{% endblock %}