{% extends "register-application/v17/layout-register-application.html" %}

{% set hideSaveLink = true %}

{% set pageHeading = "Is the biodiversity gain site in England?" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <form method="post" action="/register-application/{{ pageURL }}/eligibility-england-answer">

          {{ govukRadios({
            idPrefix: "eligibility-england",
            name: "eligibility-england",
            fieldset: {
              legend: {
                text: pageHeading,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              text: "The boundary of the biodiversity gain site cannot be in Scotland or Wales."
            },
            items: [
              {
                value: "Yes",
                text: "Yes",
                checked: checked("eligibility-england", "Yes")
              },
              {
                value: "No",
                text: "No",
                checked: checked("eligibility-england", "No")
              },
              {
                value: "Not sure",
                text: "I'm not sure",
                checked: checked("eligibility-england", "Not sure")
              }
            ]
          }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
        
      </form>

    </div>
  </div>

{% endblock %}
