{% extends "register-application/v21/layout-register-application.html" %}

{% set hideSaveLink = true %}

{% set pageHeading = "What is your telephone number?" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  
      <form action="../{{data.returnURL or 'applicant-details-confirm-landowner' }}" method="POST">

     
        {% set phone = data['telephone-number'] %}
        


                {{ govukInput({
  label: {
            text: pageHeading,
            classes: "govuk-label--l",
            isPageHeading: true
          },
  hint: {
    text: "We'll only use this to contact you about your application. For international numbers include the country code"
  },
  id: "telephone-number",
  name: "telephone-number",
  type: "tel",
  autocomplete: "tel",
  classes: "govuk-input--width-20",
  value: phone
}) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}
        
      </form>

    </div>
  </div>

{% endblock %}
