{% extends "register-application/v21/layout-register-application.html" %}

{% set hideSaveLink = true %}

{% set pageHeading = "What is your UK address?" %}



{% block content %}
<!-- <style media="screen">
  .app-no-js{
    display:none;
  }
</style> -->
<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
          {{pageHeading}}
        </h1>
          <form action="../{{data.returnURL or 'applicant-details-confirm-landowner' }}" method="POST">
            <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                <!-- <p class="govuk-body">If you know your post code you can <a href="business-address">search for an address</a><p> -->
              <div class="govuk-form-group">
                <label class="govuk-label" for="address-line-1">
                  Building and street <span class="govuk-visually-hidden">line 1 of 2</span>
                </label>
                <input class="govuk-input" id="address-line-1" name="address-line1" type="text" autocomplete="address-line1" value="{{data['address-line1']}}"></div>

              <div class="govuk-form-group">
                <label class="govuk-label" for="address-line-2">
                  <span class="govuk-visually-hidden">Building and street line 2 of 2</span>
                </label>
                <input class="govuk-input" id="address-line-2" name="address-line2" type="text" autocomplete="address-line2">
                <input t" id="address-line-3" name="line3" type="hidden" value="{{data['address-line2']}}">
              </div>

              <div class="govuk-form-group">
                <label class="govuk-label" for="address-town">
                  Town or city
                </label>
                <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="address-town" type="text" value="{{data['address-town']}}" autocomplete="address-level2"></div>

              <div class="govuk-form-group">
                <label class="govuk-label" for="address-county">
                  County
                </label>
                <input class="govuk-input govuk-!-width-two-thirds" id="address-county" name="county" type="text"></div>
              <div class="govuk-form-group">
                <label class="govuk-label" for="address-postcode">
                  Postcode
                </label>
                <input class="govuk-input govuk-input--width-10" id="address-postcode" name="postcode" type="text" autocomplete="postal-code" value="{{data['address-postcode']}}">
            </div>
            <input type="hidden" name="countryCode" value="" >
            </fieldset>

            </div>
            <input type="hidden" name="directMatch" value="no">
            <input type="submit" name="" class="govuk-button" value="Continue"><br><br><br>
        </form>

            </div><!--end column-two-thirds-->

        </div><!--end row-->


{% endblock %}

<!-- PAGE based javascript -->
{% block pageScripts %}
  {{super()}}
  <script type="text/javascript">
    window.onload = function(){
  }

</script>
{% endblock %}
