{% extends "register-application/" + data['version'] + "/layout-register-application.html" %}

{% set pageHeading = "Is the organisation registered with Companies House?" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript: window.history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <form method="post" action="/register-application/{{data['version']}}/land-works-responsible-business-companies-house-number">

        {{ govukRadios({
          idPrefix: "land-works-responsible-business-companies-house",
          name: "land-works-responsible-business-companies-house",
          fieldset: {
            legend: {
              text: pageHeading,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              How can I find out?
            </span>
          </summary>
          <div class="govuk-details__text">
             <p class="govuk-body">You can find company registration information on the <a href="https://www.gov.uk/get-information-about-a-company" target="_blank">Companies House register (opens in a new tab).</a></p>     
          </div>
        </details>

        {{ govukButton({
          text: "Continue"
        }) }}
        
      </form>

    </div>
  </div>

{% endblock %}
