
{% extends "layout-register.html" %}

{% set serviceName = "Register a biodiversity gain site" %}
{% set pageURL = "v1" %}
{% set pageHeading = "Search results" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript: window.history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ pageHeading }}
      </h1>

      {% if data['land-title-number'] or data['land-number'] or data['land-street-name'] or data['land-town']%}

      {% else %}

      <h2 class="govuk-heading-m">Postcode</h2>
      <p><span class="govuk-!-margin-right-1" style="text-transform: uppercase;">LS20 8PJ</span> <a href="/register-application/{{ pageURL }}/land-registry-search">Change <span class="govuk-visually-hidden">Postcode</span></a></p>

      {% endif %}

      <form method="post" action="/register-application/{{ pageURL }}/land-registry-search-confirm">

        {{ govukRadios({
          idPrefix: "land-registry-address",
          name: "land-registry-address",
          fieldset: {
            legend: {
              text: "Select an address",
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "3 addresses found"
          },
          items: [
            {
              value: "land-registry-address-1",
              text: "Beechcroft, Goose Lane, Hawksworth, Leeds, LS20 8PJ"
            },
            {
              value: "land-registry-address-2",
              text: "Meadow Croft, Goose Lane, Hawksworth, Leeds, LS20 8PJ"
            },
            {
              value: "land-registry-address-3",
              text: "Meadow Croft Farm, Goose Lane, Hawksworth, Leeds, LS20 8PJ"
            }
          ]
        }) }}


        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

      <p><a href="/register-application/{{ pageURL }}/land-registry-search">Search again</a></p>


    </div>
  </div>

{% endblock %}
