{% extends "register-application/" + data['version'] + "/layout-register-application.html" %}

{% set pageHeading = "Where is the location of the biodiversity gain site?" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript: window.history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ pageHeading }}
      </h1>

      <form method="post" action="/register-application/{{data['version']}}/site-location-address-lookup">

        {{ govukInput({
          label: {
            text: "Postcode",
            classes: "govuk-label--m"
          },
            id: "site-postcode",
            name: "site-postcode",
            classes: "govuk-input--width-10"
          })  
        }}

        {{ govukButton({
            text: "Find address"
        }) }}

      </form>

      <p><a href="/register-application/{{ data['version'] }}/site-location-address-manual">There is no postcode for the gain site</a></p>

    </div>
  </div>

{% endblock %}
