{% extends "register-application/v14/layout-register-application.html" %}

{% set hideSaveLink = true %}

{% set pageHeading = "What is your email address?" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <form method="post" action="/register-application/{{ pageURL }}/details-email-confirm">

        {{ govukInput({
          id: "email",
          name: "email",
          label: {
            text: pageHeading,
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "We'll only use this to contact you about your registration."
          },
          autocomplete: "email",
          spellcheck: false,
          value: data['email']
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
        
      </form>

    </div>
  </div>

{% endblock %}
