{% extends "register-application/v14/layout-register-application.html" %}

{% set hideSaveLink = true %}

{% set pageHeading = "What is your name?" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ pageHeading }}
      </h1>
      
      <form method="post" action="/register-application/{{ pageURL }}/details-email">

        {{ govukInput({
          id: "full-name",
          name: "full-name",
          label: {
            text: "Full name"
          },
          autocomplete: "name",
          spellcheck: false,
          value: data['full-name']
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
        
      </form>

    </div>
  </div>

{% endblock %}
