{% extends "register-application/v14/layout-register-application.html" %}

{% set pageHeading = "Check the created and enhanced habitat information" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ pageHeading }}
      </h1>

      <p>We've taken this information from the metric file you uploaded. We've grouped the areas of habitats by type and condition.</p>

      {% include "register-application/v14/includes/metric-creation-habitat-large-grouped.html" %}

      <form method="post" action="/register-application/{{ pageURL }}/metric-confirm">

      {{ govukButton({ text: 'Continue' }) }}
        
      </form>

      <p>Or</p>

      <p><a href="/register-application/{{ pageURL }}/metric-upload" class="govuk-link--no-visited-state">Upload a different Biodiversity Metric 4.0</a></p>

    </div>
  </div>

{% endblock %}
