
{% extends "layout.html" %}

{% set pageURL = "v4" %}
{% set pageHeading = "Alpha sprint 6 and 7" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">{{ serviceName }}</span>
         {{ pageHeading }}
      </h1>
    </div>

    <div class="govuk-grid-column-full">

      <h2 class="govuk-heading-m">Experiments</h2>
      
      <table class="govuk-table">
        <caption class="govuk-visually-hidden">Prototypes in the Alpha phase</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col"> Prototypes </th>
            <th class="govuk-table__header" scope="col"> Variants </th>
            <th class="govuk-table__header" scope="col"> Experiments </th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              Register application
            </td>
            <td class="govuk-table__cell">
              <a href="../register-application/{{ pageURL }}/start">Registration journey v4</a>
            </td>
            <td class="govuk-table__cell">
              <ol class="govuk-list govuk-list--number">
                <li>Added eligibility criteria to start page</li>
                <li>Legal agreement upload</li>
                <li>Management and monitoring plan upload</li>
                <li>Removed HM Land Registry and draw land boundary options</li>
              </ol>
            </td>
          </tr>
        </tbody>
      </table>

      <h2 class="govuk-heading-m govuk-!-padding-top-4">Design decisions log</h2>
      <p class="govuk-body">Our research findings and design hypotheses are captured in a <a href="https://eaflood.atlassian.net/l/c/ZE00XVBV" class="govuk-link">design decisions log on Confluence</a></p>

    </div>

  </div>

{% endblock %}
