{% extends "register-application/v20/layout-register-application.html" %}

{% set pageHeading = "Upload a letter of authority to act on behalf of the landowner or leaseholder" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if data["is-agent"] == "yes" and data["client-is-landowner"] == "no" %}
      <span  class="govuk-caption-l">Letter of authority 2 of 2</span>
      {% endif %}
      <h1 class="govuk-heading-l">
        {{ pageHeading }}
      </h1>
      
      <form method="post" action="./applicant-authorisation-as-nrp-check">

        <div id="landowner-certificate-upload-hint">
          
          <p>
            We need a document signed by the landowner or leasholder that confirms that
            <!-- Conditional content if your are an agent on behalf of NRP or not-->
            {% if data["is-agent"] == "yes" and data["client-is-landowner"] == "no" %}
            <strong>Acme farm inc</strong> has authority 
            {% else %}
             confirms you have authority 
            {% endif %}
            to apply on their behalf.
          </p>

          <p>The letter must have:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>a written statement confirming the landowner or leaseholder's authroisation for you or your client to act on their behalf</li>
            <li>the name and signature the landowner or leaseholder</li>
            <li>the date authroisation was given</li>
          </ul>

          <p>The file should be:</p> 
          <ul class="govuk-list govuk-list--bullet">
            <li>a DOC, DOCX or PDF</li>
            <li>no larger than 50MB</li>
          </ul>
        </div>  

        {{ govukFileUpload({
          id: "landowner-agent-upload",
          name: "landowner-agent-upload",
          label: {
            text: "Upload a file",
            classes:"govuk-visually-hidden"
          }
          
        }) }}
        <p class="govuk-!-padding-top-3"><a href="./landowner-consent-no">I do not have a letter of authority</a></p>

        {{ govukButton({
          text: "Upload"
        }) }}
        
      </form>

    </div>
  </div>

{% endblock %}
