{% extends "register-application/v18/layout-register-application.html" %}

{% set addChangeText = "Add" %}


{% if query.change=="yes" %}
{% set addChangeText = "Update" %}


{% endif %}

{% set pageHeading = "What is your client's business name?" %}

{% block content %}

{% set nextPage = "allocation-metric-upload" %}
<!-- Setting URLs based on previous pages -->
{% if data["is-agent"] == "yes" and data["client-is-landowner"] == "no" %}
 {% set nextPage = "applicant-two-uploads-interstitial" %}
{% endif %}

{% if data["is-agent"] == "no" and data["client-is-landowner"] == "no" %}
 {% set nextPage = "applicant-authorisation-as-nrp" %}
{% endif %}

{% if data["is-agent"] == "yes" and data["client-is-landowner"] == "yes" %}
 {% set nextPage = "applicant-details-upload-authorisation" %}
{% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post" action="./{{nextPage}}">
         <input type="hidden" name="legal-party-type" value="{{data['legal-party-type']}}">
        {% call govukFieldset({
          legend: {
            text: pageHeading,
            classes: 'govuk-fieldset__legend--l',
            isPageHeading: true
          }
        }) %}

        <!-- <p>This must be a landowner or leaseholder that appears on the legal agreement.</p><p>You will only have to add one of the landowner or leaseholders if there is more than one.</p> -->


         <!-- Set the value if this is changing/updating an LP. -->
        {% if query.change == "yes" %}
        {% set fullname = data.legalParties[query.id or 0]["legal-party-name"] %}
       
        {% endif %}
    
        {{ govukInput({
          id: 'legal-party-name',
          name: 'legal-party-name',
          value: fullname,
          label: {
            html: 'Organisation name'
          }
        }) }}

       
        {% endcall %}
        <input type="hidden" name="applicant-details-added" value="yes">
        {{ govukButton({
           text: "Save and continue"
        }) }}
        
      </form>

    </div>
  </div>

{% endblock %}
