{% extends "register-application/v9/layout-register-application.html" %}

{% set hideSaveSection = true %}
{% set govukcss = true %}
{% set pageHeading = "Register land for off-site biodiversity gain" %}
{% set mainClasses = "govuk-!-padding-top-0" %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    serviceUrl: "/"
  }) }}
{% endblock %} 

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Biodiversity Net Gain",
        href: "#"
      },
      {
        text: pageHeading
      }
    ]
  }) }}
{% endblock %}

{% block content %}

<div class="guide">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    

    <div class="gem-c-title govuk-!-margin-top-8 govuk-!-margin-bottom-8">
      <h1 class="gem-c-title__text govuk-heading-xl">
        {{ pageHeading }}
      </h1>
    </div>

      <a class="gem-c-skip-link govuk-skip-link govuk-!-display-none-print" data-module="govuk-skip-link" href="#guide-contents">Skip to contents of guide</a>

      <aside class="part-navigation-container" role="complementary">
        <nav class="gem-c-contents-list" aria-label="Pages in this guide" role="navigation" data-module="gem-track-click">
          <h2 class="gem-c-contents-list__title">
                Contents
          </h2>
          <ol class="gem-c-contents-list__list">
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__list-item--active" aria-current="true">
                Overview
              </li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                <a class="gem-c-contents-list__link govuk-link" href="#">Choose your attorney</a>
              </li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                <a class="gem-c-contents-list__link govuk-link" href="/register-application/{{ pageURL }}/guide-3">Make a lasting power of attorney</a>
              </li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                <a class="gem-c-contents-list__link govuk-link" href="#">Register a lasting power of attorney</a>
              </li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                <a class="gem-c-contents-list__link govuk-link" href="#">Certify a copy of a lasting power of attorney</a>
              </li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                <a class="gem-c-contents-list__link govuk-link" href="#">Change your lasting power of attorney</a>
              </li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                <a class="gem-c-contents-list__link govuk-link" href="#">End your lasting power of attorney</a>
              </li>
          </ol>
        </nav>
      </aside>
    </div>

    <div class="govuk-grid-column-two-thirds" id="guide-contents">
      <h1 class="part-title">
        Guide part 2
      </h1>
      
      <div class="gem-c-govspeak govuk-govspeak direction-ltr disable-youtube" data-module="govspeak">
 
      </div>

      <nav class="gem-c-pagination" role="navigation" aria-label="Pagination">
        <ul class="gem-c-pagination__list" data-module="gem-track-click">
            <li class="gem-c-pagination__item gem-c-pagination__item--previous">
              <a href="/register-application/{{ pageURL }}/guide" class="govuk-link gem-c-pagination__link" rel="prev" data-track-category="contentsClicked" data-track-action="previous" data-track-label="/power-of-attorney" data-track-dimension="previous" data-track-dimension-index="29">
                <span class="gem-c-pagination__link-title">
                  <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                    <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                  </svg>
                  <span class="gem-c-pagination__link-text">Previous</span>
                </span>
                  <span class="gem-c-pagination__link-divider visually-hidden">:</span>
                  <span class="gem-c-pagination__link-label">Overview</span>
              </a>
            </li>
            <li class="gem-c-pagination__item gem-c-pagination__item--next">
              <a href="/register-application/{{ pageURL }}/guide-3" class="govuk-link gem-c-pagination__link" rel="next" data-track-category="contentsClicked" data-track-action="next" data-track-label="/power-of-attorney/make-lasting-power" data-track-dimension="next" data-track-dimension-index="29">
                <span class="gem-c-pagination__link-title">
                  <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                    <path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                  </svg>
                  <span class="gem-c-pagination__link-text">Next</span>
                </span>
                  <span class="gem-c-pagination__link-divider visually-hidden">:</span>
                  <span class="gem-c-pagination__link-label">Guide part 3</span>
              </a>
            </li>
        </ul>
      </nav>


      <div class="responsive-bottom-margin">
        <a href="/power-of-attorney/print" class="govuk-link govuk-link--no-visited-state govuk-body">View a printable version of the whole guide</a>
      </div>
    </div>

    <div class="govuk-grid-column-one-third">   
      <div class="gem-c-contextual-sidebar">
        <div class="gem-c-related-navigation">
          <h2 id="related-nav-related_items-844e4bc9" class="gem-c-related-navigation__main-heading" data-track-count="sidebarRelatedItemSection">
            Related content
          </h2>
          
          <nav role="navigation" class="gem-c-related-navigation__nav-section" aria-labelledby="related-nav-related_items-844e4bc9" data-module="gem-toggle">
            <ul class="gem-c-related-navigation__link-list" data-module="gem-track-click">
              <li class="gem-c-related-navigation__link">
                <a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--sidebar  govuk-link gem-c-related-navigation__section-link--other" data-track-category="relatedLinkClicked" data-track-action="1.1 Related content" data-track-label="/find-someones-attorney-deputy-or-guardian" data-track-options="{&quot;dimension28&quot;:&quot;5&quot;,&quot;dimension29&quot;:&quot;Find out if someone has an attorney, deputy or guardian acting for them&quot;}" href="/find-someones-attorney-deputy-or-guardian">Find out if someone has an attorney, deputy or guardian acting for them</a>
              </li>
              <li class="gem-c-related-navigation__link">
                <a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--sidebar  govuk-link gem-c-related-navigation__section-link--other" data-track-category="relatedLinkClicked" data-track-action="1.2 Related content" data-track-label="/report-concern-about-attorney-deputy-guardian" data-track-options="{&quot;dimension28&quot;:&quot;5&quot;,&quot;dimension29&quot;:&quot;Report a concern about an attorney, deputy or guardian&quot;}" href="/report-concern-about-attorney-deputy-guardian">Report a concern about an attorney, deputy or guardian</a>
              </li>
              <li class="gem-c-related-navigation__link">
                <a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--sidebar  govuk-link gem-c-related-navigation__section-link--other" data-track-category="relatedLinkClicked" data-track-action="1.3 Related content" data-track-label="/lasting-power-attorney-duties" data-track-options="{&quot;dimension28&quot;:&quot;5&quot;,&quot;dimension29&quot;:&quot;Lasting power of attorney: acting as an attorney&quot;}" href="/lasting-power-attorney-duties">Lasting power of attorney: acting as an attorney</a>
              </li>
              <li class="gem-c-related-navigation__link">
                <a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--sidebar  govuk-link gem-c-related-navigation__section-link--other" data-track-category="relatedLinkClicked" data-track-action="1.4 Related content" data-track-label="/make-decisions-for-someone" data-track-options="{&quot;dimension28&quot;:&quot;5&quot;,&quot;dimension29&quot;:&quot;Make decisions on behalf of someone&quot;}" href="/make-decisions-for-someone">Make decisions on behalf of someone</a>
              </li>
              <li class="gem-c-related-navigation__link">
                <a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--sidebar govuk-link gem-c-related-navigation__section-link--inline  govuk-link gem-c-related-navigation__section-link--other" data-track-category="relatedLinkClicked" data-track-action="1.5 Related content" data-track-label="/use-lasting-power-of-attorney" data-track-options="{&quot;dimension28&quot;:&quot;5&quot;,&quot;dimension29&quot;:&quot;Use a lasting power of attorney&quot;}" href="/use-lasting-power-of-attorney">Use a lasting power of attorney</a>
              </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">   
    <div class="gem-c-contextual-footer"> 
      <div class="gem-c-related-navigation">
        <nav role="navigation" class="gem-c-related-navigation__nav-section" aria-labelledby="related-nav-topics-986fc6b3" data-module="gem-toggle">
          <h2 id="related-nav-topics-986fc6b3" class="gem-c-related-navigation__sub-heading gem-c-related-navigation__sub-heading--footer" data-track-count="footerRelatedItemSection">Explore the topic</h2>
            <ul class="gem-c-related-navigation__link-list" data-module="gem-track-click">
              <li class="gem-c-related-navigation__link"><a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--footer" data-track-category="relatedLinkClicked" data-track-action="1.1 Explore the topic" data-track-label="/browse/births-deaths-marriages/lasting-power-attorney" data-track-options="{&quot;dimension28&quot;:&quot;1&quot;,&quot;dimension29&quot;:&quot;Lasting power of attorney, being in care and your financial affairs&quot;}" href="/browse/births-deaths-marriages/lasting-power-attorney">Lasting power of attorney, being in care and your financial affairs</a></li>
            </ul>
          </nav>
          <nav role="navigation" class="gem-c-related-navigation__nav-section" aria-labelledby="related-nav-related_external_links-986fc6b3" data-module="gem-toggle">
            <h2 id="related-nav-related_external_links-986fc6b3" class="gem-c-related-navigation__sub-heading gem-c-related-navigation__sub-heading--footer  gem-c-related-navigation__sub-heading--other" data-track-count="footerRelatedItemSection">Elsewhere on the web</h2>
              <ul class="gem-c-related-navigation__link-list" data-module="gem-track-click">
                <li class="gem-c-related-navigation__link"><a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--footer  govuk-link gem-c-related-navigation__section-link--other" rel="external" data-track-category="relatedLinkClicked" data-track-action="2.1 Elsewhere on the web" data-track-label="https://www.lastingpowerofattorney.service.gov.uk/login" data-track-options="{&quot;dimension28&quot;:&quot;1&quot;,&quot;dimension29&quot;:&quot;Sign in to your LPA account&quot;}" href="https://www.lastingpowerofattorney.service.gov.uk/login">Sign in to your LPA account</a></li>
              </ul>
          </nav>
        </div>
      </div>
  </div>
</div>

{% endblock %}