{% extends "register-application/v8/layout-register-application.html" %}

{% set pageHeading = "Upload the Biodiversity Metric 3.0 calculations for the entire off-site" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ pageHeading }}
      </h1>

      <p>This should include the baseline and post development data for the off-site only, and not the developer on-site data.</p>
      
      <form method="post" action="/register-application/{{ pageURL }}/habitat-metric-check">

        {{ govukFileUpload({
          id: "habitat-metric-upload",
          name: "habitat-metric-upload",
          label: {
            text: "Upload a file",
            classes:"govuk-visually-hidden"
          },
          hint: {
            html: "XLSM or XLSX, max size 50MB"
          }
        }) }}

        

        {{ govukButton({
          text: "Continue"
        }) }}
        
      </form>

    </div>
  </div>

{% endblock %}
