{% extends "register-application/v8/layout-register-application.html" %}

{% set pageHeading = "What is the broad habitat?" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <form method="post" action="/register-application/{{ pageURL }}/habitat-add-habitat">

        {{ govukRadios({
          idPrefix: "broad-habitat",
          name: "broad-habitat",
          fieldset: {
            legend: {
              text: pageHeading,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Coastal lagoons",
              text: "Coastal lagoons",
              checked: checked("broad-habitat", "Coastal lagoons")
            },
            {
              value: "Coastal saltmarsh",
              text: "Coastal saltmarsh",
              checked: checked("broad-habitat", "Coastal saltmarsh")
            },
            {
              value: "Cropland",
              text: "Cropland",
              checked: checked("broad-habitat", "Cropland")
            },
            {
              value: "Grassland",
              text: "Grassland",
              checked: checked("broad-habitat", "Grassland")
            },
            {
              value: "Heathland and shrub",
              text: "Heathland and shrub",
              checked: checked("broad-habitat", "Heathland and shrub")
            },
            {
              value: "Intertidal Hard Structures",
              text: "Intertidal Hard Structures",
              checked: checked("broad-habitat", "Intertidal Hard Structures")
            },
            {
              value: "Intertidal sediment",
              text: "Intertidal sediment",
              checked: checked("broad-habitat", "Intertidal sediment")
            },
            {
              value: "Lakes",
              text: "Lakes",
              checked: checked("broad-habitat", "Lakes")
            },
            {
              value: "Rocky shore",
              text: "Rocky shore",
              checked: checked("broad-habitat", "Rocky shore")
            },
            {
              value: "Sparsely vegetated land",
              text: "Sparsely vegetated land",
              checked: checked("broad-habitat", "Sparsely vegetated land")
            },
            {
              value: "Urban",
              text: "Urban",
              checked: checked("broad-habitat", "Urban")
            },
            {
              value: "Wetland",
              text: "Wetland",
              checked: checked("broad-habitat", "Wetland")
            },
            {
              value: "Woodland and forest",
              text: "Woodland and forest",
              checked: checked("broad-habitat", "Woodland and forest")
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
        
      </form>

    </div>
  </div>

{% endblock %}
