{% extends "register-application/v9/start-page-guide-template.html" %}

{% set pageHeading = "Overview" %}

{% set pageURL = "v9" %}

{% set nextPageName = "Register the land" %}
{% set nextPageURL = "/register-application/" + pageURL + "/start-part-2" %}

{% block guideContent %}

  <p>How to register land used for biodiversity gain that is linked to a development.</p>

  <ol class="steps">
    <li><p>The landowner (or someone with landowner consent) <a href="/register-application/{{ pageURL }}/start-part-2">registers the land</a> to generate a biodiversity gain site reference.</p></li>
    <li><p>Something something allocate land.</p></li>
  </ol>

{% endblock %} 