{% extends "register-application/v9/layout-register-application.html" %}

{% set pageURL = "v9" %}

{% set hideSaveSection = true %}
{% set govukcss = true %}
{% set guideHeading = "Register land for off-site biodiversity gain" %}
{% set pageHeading = "Add land information" %}

{% set mainClasses = "govuk-!-padding-top-0" %}

{% set previousPageName = "Overview" %}
{% set previousPageURL = "/register-application/" + pageURL + "/start" %}
{% set nextPageName = "Add development information" %}
{% set nextPageURL = "/register-application/" + pageURL + "/start-part-3" %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    serviceUrl: "/"
  }) }}
{% endblock %} 

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Biodiversity Net Gain",
        href: "#"
      },
      {
        text: pageHeading
      }
    ]
  }) }}
{% endblock %}

{% block content %}

<div class="guide">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      

      <div class="gem-c-title govuk-!-margin-top-8 govuk-!-margin-bottom-8">
        <h1 class="gem-c-title__text govuk-heading-xl">
          {{ guideHeading }}
        </h1>
      </div>

        {% include "register-application/v9/includes/contents-nav.html" %}

      </div>

      <div class="govuk-grid-column-two-thirds" id="guide-contents">
        <h1 class="part-title">
          {{ pageHeading }}
        </h1>
        
        <div class="gem-c-govspeak govuk-govspeak direction-ltr disable-youtube" data-module="govspeak">

          {{ govukButton({
            text: "Start now",
            href: "/register-application/v9/land/eligible-before-you-start",
            classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
            isStartButton: true
          }) }}

          {% include "register-application/v9/includes/get-help.html" %}
          
        </div>

        {% include "register-application/v9/includes/pagination.html" %}
        {% include "register-application/v9/includes/print.html" %}
        
      </div>

      {% include "register-application/v9/includes/related-content.html" %}

  </div>

  {% include "register-application/v9/includes/contextual-footer.html" %}

</div>

{% endblock %}