{% extends "register-application/v20/layout-register-application.html" %}

{% set pageHeading = "Check the habitat management and monitoring plan file" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ pageHeading }}
      </h1>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "File added",
              classes: "app-summary-list__key--narrow",
              classes: "govuk-!-width-one-quarter"
            },
            value: {
              text: data['management-plan-upload'] or 'habitat-management-plan.pdf'
            }
          }
        ]
      }) }}

      <form method="post" action="./management-plan-habitat-start-date">

        {{ govukRadios({
          idPrefix: "management-plan-correct",
          name: "management-plan-correct",
          fieldset: {
            legend: {
              text: "Is this the correct file?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no~./management-plan-upload",
              text: "No, upload a different file"
            }
          ]
        }) }}
        
        {{ govukButton({ text: 'Save and continue' }) }}
        
      </form>

    </div>
  </div>

{% endblock %}
