
{% extends "layout.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" method="post">

        {{ govukInput({
          label: {
            text: "Email Address"
          },
          id: "email-address",
          name: "emailAddress",
          type: "email",
          autocomplete: "email",
          spellcheck: false,
          value: "david.hunter1@defra.gov.uk"
        }) }}

        {{ govukButton({
          text: "Continue"
        })}}

      </form>
    </div>
  </div>
  
{% endblock %}
