
{% extends "layout.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        {{ serviceName }}
      </h1>

      <h2 class="govuk-heading-l">Alpha prototypes</h2>
      
      <table class="govuk-table">
        <caption class="govuk-visually-hidden">Prototypes in the Alpha phase</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col" style="width:30%"> Prototype </th>
            <th class="govuk-table__header" scope="col"> Sprint </th>
            <th class="govuk-table__header" scope="col"> Date </th>
            <th class="govuk-table__header" scope="col"> Status </th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="/register-application/v7/start">Regsiter application v7</a>
            </td>
            <td class="govuk-table__cell">
              <a href="/sprint-11">Sprint 11</a>
            </td>
            <td class="govuk-table__cell">
              2 February - 15 February 2022
            </td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "Current",
                classes: "govuk-tag--blue"
              })}}
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="/register-application/v6/start">Regsiter application v6</a>
            </td>
            <td class="govuk-table__cell">
              <a href="/sprint-10">Sprint 10</a>
            </td>
            <td class="govuk-table__cell">
              January 18 2022 - 1 February 2022
            </td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "Complete"
              })}}
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="/register-application/v5/start">Regsiter application v5</a>
            </td>
            <td class="govuk-table__cell">
              <a href="/sprint-8">Sprint 8 and 9</a>
            </td>
            <td class="govuk-table__cell">
              8 December 2021 - January 18 2022
            </td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "Complete"
              })}}
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="/register-application/v4/start">Regsiter application v4</a>
            </td>
            <td class="govuk-table__cell">
              <a href="/sprint-6">Sprint 6 and 7</a>
            </td>
            <td class="govuk-table__cell">
              9 November - 7 December 2021
            </td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "Complete"
              })}}
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="/register-application/v3/start">Regsiter application v3</a>
            </td>
            <td class="govuk-table__cell">
              <a href="/sprint-5">Sprint 5</a>
            </td>
            <td class="govuk-table__cell">
              27 October - 8 November 2021
            </td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "Complete"
              })}}
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="/register-application/v2/start">Regsiter application v2</a>
            </td>
            <td class="govuk-table__cell">
              <a href="/sprint-4">Sprint 4</a>
            </td>
            <td class="govuk-table__cell">
              13 September - 26 October 2021
            </td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "Complete"
              })}}
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              No prototype tested - Team consolidated user research findings to date.
            </td>
            <td class="govuk-table__cell">
              <a href="/sprint-3">Sprint 3</a>
            </td>
            <td class="govuk-table__cell">
              29 September - 12 October 2021
            </td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "complete"
              })}}
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="/public/images/map__planning_application_journey_as_is.pdf">Map - Planning application journey - As is (PDF, 172 KB)</a>
            </td>
            <td class="govuk-table__cell">
              <a href="/sprint-2">Sprint 2</a>
            </td>
            <td class="govuk-table__cell">
              17 September - 28 September 2021
            </td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "Complete"
              })}}
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="/register/v1/start">Get information about a biodiversity gain site</a>
            </td>
            <td class="govuk-table__cell">
              <a href="/sprint-1">Sprint 1</a>
            </td>
            <td class="govuk-table__cell">
              31 August - 16 September 2021
            </td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "Complete"
              })}}
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="/register-application/v1/start">Regsiter application v1</a>
            </td>
            <td class="govuk-table__cell">
              <a href="/sprint-0">Sprint 0</a>
            </td>
            <td class="govuk-table__cell">
              3 August - 27 August 2021
            </td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "Complete"
              })}}
            </td>
          </tr>
        </tbody>
      </table>

      <h2 class="govuk-heading-m">Design assets</h2>
      <ul class="govuk-list">
        <li>
          <a href="https://miro.com/app/board/uXjVOXwzlnY=/?invite_link_id=978356775367">As-is journey maps (Miro)</a>
        </li>
        <li>
          <a href="https://miro.com/app/board/o9J_li0SwQo=/?invite_link_id=13679557828">To-be journey maps (Miro)</a>
        </li>
        <li>
          <a href="https://miro.com/app/board/o9J_li0kYTA=/?invite_link_id=637523456633">User flow diagrams (Miro)</a>
        </li>
      </ul>

      <h2 class="govuk-heading-m">Team resources</h2>
      <ul class="govuk-list">
        <li>
          <a href="https://github.com/defra-design/biodiversity-net-gain-prototype">
            Prototype GitHub repository
          </a>
        </li>
        <li>
          <a href="https://eaflood.atlassian.net/wiki/spaces/BI/overview">
            Project Confluence
          </a>
        </li>
        <li>
          <a href="https://eaflood.atlassian.net/secure/RapidBoard.jspa?rapidView=1029&projectKey=BNG">
            Jira board
          </a>
        </li>
      </ul>

    </div>

  </div>

{% endblock %}
