
{% extends "layout.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        {{ serviceName }}
      </h1>

      <h2 class="govuk-heading-l">Beta prototypes</h2>
      
      <table class="govuk-table">
        <caption class="govuk-visually-hidden">Prototypes in the Beta phase</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col" style="width:30%"> Prototype </th>
            <th class="govuk-table__header" scope="col"> Sprint </th>
            <th class="govuk-table__header" scope="col"> Date </th>
            <th class="govuk-table__header" scope="col"> Status </th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="/register-application/v18/start-register">Landowner registration journey v18</a>
            </td>
            <td class="govuk-table__cell">
              <a href="/beta-sprints/sprint-32"><span class="govuk-visually-hidden">Beta </span>Sprint 32 and 32</a>
            </td>
            <td class="govuk-table__cell">
              6 June - 3 July 2023
            </td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "Current",
                classes: "govuk-tag--blue"
              })}}
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="/register-application/v17/start">Landowner registration journey v17</a>
            </td>
            <td class="govuk-table__cell">
              <a href="/beta-sprints/sprint-30"><span class="govuk-visually-hidden">Beta </span>Sprint 30 and 31</a>
            </td>
            <td class="govuk-table__cell">
              10 May - 5 June 2023
            </td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "Complete"
              })}}
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="/register-application/v16/start">Landowner registration journey v16</a>
            </td>
            <td class="govuk-table__cell">
              <a href="/beta-sprints/sprint-27"><span class="govuk-visually-hidden">Beta </span>Sprint 27, 28 and 29</a>
            </td>
            <td class="govuk-table__cell">
              17 April - 9 May 2023
            </td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "Complete"
              })}}
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="/register-application/v15/start">Landowner registration journey v15</a>
            </td>
            <td class="govuk-table__cell">
              <a href="/beta-sprints/sprint-26"><span class="govuk-visually-hidden">Beta </span>Sprint 26</a>
            </td>
            <td class="govuk-table__cell">
              1 March - 14 March 2023
            </td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "Complete"
              })}}
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="/register-application/v14/start">Landowner registration journey v14</a>
            </td>
            <td class="govuk-table__cell">
              <a href="/beta-sprints/sprint-24"><span class="govuk-visually-hidden">Beta </span>Sprint 24 and 25</a>
            </td>
            <td class="govuk-table__cell">
              31 January - 28 February 2023
            </td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "Complete"
              })}}
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="/register-application/v13/start">Landowner registration journey v13</a>
            </td>
            <td class="govuk-table__cell">
              <a href="/beta-sprints/sprint-23"><span class="govuk-visually-hidden">Beta </span>Sprint 23</a>
            </td>
            <td class="govuk-table__cell">
              10 January - 30 January 2023
            </td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "Complete"
              })}}
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="/register-application/v12/start">Landowner registration journey v12</a>
            </td>
            <td class="govuk-table__cell">
              <a href="/beta-sprints/sprint-20"><span class="govuk-visually-hidden">Beta </span>Sprint 20, 21 and 22</a>
            </td>
            <td class="govuk-table__cell">
              23 November 2022 - 17 January 2023
            </td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "Complete"
              })}}
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="/register-application/v11/start">Landowner registration journey v11</a>
            </td>
            <td class="govuk-table__cell">
              <a href="/beta-sprints/sprint-16"><span class="govuk-visually-hidden">Beta </span>Sprint 16, 17, 18 and 19</a>
            </td>
            <td class="govuk-table__cell">
              12 October - 22 November 2022
            </td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "Complete"
              })}}
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="/register-application/v10/start">Landowner registration journey v10 (Private Beta Release 1)</a>
            </td>
            <td class="govuk-table__cell">
              <a href="/beta-sprints/sprint-11"><span class="govuk-visually-hidden">Beta </span>Sprint 11, 12, 13, 14 and 15</a>
            </td>
            <td class="govuk-table__cell">
              3 August - 11 October 2022
            </td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "Complete"
              })}}
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="/register-application/v9/start">Landowner registration journey v9</a>
            </td>
            <td class="govuk-table__cell">
              <a href="/beta-sprints/sprint-9"><span class="govuk-visually-hidden">Beta </span>Sprint 9 and 10</a>
            </td>
            <td class="govuk-table__cell">
              6 July - 2 August 2022
            </td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "Complete"
              })}}
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="/register/v5/start">Public register v5</a>
            </td>
            <td class="govuk-table__cell">
              <a href="/beta-sprints/sprint-8"><span class="govuk-visually-hidden">Beta </span>Sprint 8</a>
            </td>
            <td class="govuk-table__cell">
              21 June - 5 July 2022
            </td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "Complete"
              })}}
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="/register/v4/start">Public register v4</a>
            </td>
            <td class="govuk-table__cell">
              <a href="/beta-sprints/sprint-6"><span class="govuk-visually-hidden">Beta </span>Sprint 6 and 7</a>
            </td>
            <td class="govuk-table__cell">
              24 May - 20 June 2022
            </td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "Complete"
              })}}
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="/register/v3/start">Public register v3</a>
            </td>
            <td class="govuk-table__cell">
              <a href="/beta-sprints/sprint-5"><span class="govuk-visually-hidden">Beta </span>Sprint 5</a>
            </td>
            <td class="govuk-table__cell">
              10 May - 23 May 2022
            </td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "Complete"
              })}}
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="/register/v2/start">Public register v2</a>
            </td>
            <td class="govuk-table__cell">
              <a href="/beta-sprints/sprint-0"><span class="govuk-visually-hidden">Beta </span>Sprint 0 to 4</a>
            </td>
            <td class="govuk-table__cell">
              16 March - 9 May 2022
            </td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "Complete"
              })}}
            </td>
          </tr>
        </tbody>
      </table>

      <h2 class="govuk-heading-l">Alpha prototypes</h2>
      
      <table class="govuk-table">
        <caption class="govuk-visually-hidden">Prototypes in the Alpha phase</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col" style="width:30%"> Prototype </th>
            <th class="govuk-table__header" scope="col"> Sprint </th>
            <th class="govuk-table__header" scope="col"> Date </th>
            <th class="govuk-table__header" scope="col"> Status </th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="/register-application/v8/start">Registration journey v8</a>
            </td>
            <td class="govuk-table__cell">
              <a href="/alpha-sprints/sprint-12"><span class="govuk-visually-hidden">Alpha </span>Sprint 12</a>
            </td>
            <td class="govuk-table__cell">
              16 February - 28 February 2022
            </td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "Complete"
              })}}
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="/register-application/v7/start">Registration journey v7</a>
            </td>
            <td class="govuk-table__cell">
              <a href="/alpha-sprints/sprint-11"><span class="govuk-visually-hidden">Alpha </span>Sprint 11</a>
            </td>
            <td class="govuk-table__cell">
              2 February - 15 February 2022
            </td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "Complete"
              })}}
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="/register-application/v6/start">Registration journey v6</a>
            </td>
            <td class="govuk-table__cell">
              <a href="/alpha-sprints/sprint-10"><span class="govuk-visually-hidden">Alpha </span>Sprint 10</a>
            </td>
            <td class="govuk-table__cell">
              18 January - 1 February 2022
            </td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "Complete"
              })}}
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="/register-application/v5/start">Registration journey v5</a>
            </td>
            <td class="govuk-table__cell">
              <a href="/alpha-sprints/sprint-8"><span class="govuk-visually-hidden">Alpha </span>Sprint 8 and 9</a>
            </td>
            <td class="govuk-table__cell">
              8 December 2021 - 17 January 2022
            </td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "Complete"
              })}}
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="/register-application/v4/start">Registration journey v4</a>
            </td>
            <td class="govuk-table__cell">
              <a href="/alpha-sprints/sprint-6"><span class="govuk-visually-hidden">Alpha </span>Sprint 6 and 7</a>
            </td>
            <td class="govuk-table__cell">
              9 November - 7 December 2021
            </td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "Complete"
              })}}
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="/register-application/v3/start">Registration journey v3</a>
            </td>
            <td class="govuk-table__cell">
              <a href="/alpha-sprints/sprint-5"><span class="govuk-visually-hidden">Alpha </span>Sprint 5</a>
            </td>
            <td class="govuk-table__cell">
              27 October - 8 November 2021
            </td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "Complete"
              })}}
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="/register-application/v2/start">Registration journey v2</a>
            </td>
            <td class="govuk-table__cell">
              <a href="/alpha-sprints/sprint-4"><span class="govuk-visually-hidden">Alpha </span>Sprint 4</a>
            </td>
            <td class="govuk-table__cell">
              13 September - 26 October 2021
            </td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "Complete"
              })}}
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              No prototype tested - Team consolidated user research findings to date.
            </td>
            <td class="govuk-table__cell">
              <a href="/alpha-sprints/sprint-3"><span class="govuk-visually-hidden">Alpha </span>Sprint 3</a>
            </td>
            <td class="govuk-table__cell">
              29 September - 12 October 2021
            </td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "complete"
              })}}
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="/public/images/map__planning_application_journey_as_is.pdf">Map - Planning application journey - As is (PDF, 172 KB)</a>
            </td>
            <td class="govuk-table__cell">
              <a href="/alpha-sprints/sprint-2"><span class="govuk-visually-hidden">Alpha </span>Sprint 2</a>
            </td>
            <td class="govuk-table__cell">
              17 September - 28 September 2021
            </td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "Complete"
              })}}
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="/register/v1/start">Public register v1</a>
            </td>
            <td class="govuk-table__cell">
              <a href="/alpha-sprints/sprint-1"><span class="govuk-visually-hidden">Alpha </span>Sprint 1</a>
            </td>
            <td class="govuk-table__cell">
              31 August - 16 September 2021
            </td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "Complete"
              })}}
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="/register-application/v1/start">Registration journey v1</a>
            </td>
            <td class="govuk-table__cell">
              <a href="/alpha-sprints/sprint-0"><span class="govuk-visually-hidden">Alpha </span>Sprint 0</a>
            </td>
            <td class="govuk-table__cell">
              3 August - 27 August 2021
            </td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "Complete"
              })}}
            </td>
          </tr>
        </tbody>
      </table>

      <h2 class="govuk-heading-m">Design assets</h2>
      <ul class="govuk-list">
        <li>
          <a href="https://miro.com/app/board/uXjVOXwzlnY=/?invite_link_id=978356775367">As-is journey maps (Miro)</a>
        </li>
        <li>
          <a href="https://miro.com/app/board/o9J_li0SwQo=/?invite_link_id=13679557828">To-be journey maps (Miro)</a>
        </li>
        <li>
          <a href="https://miro.com/app/board/o9J_li0kYTA=/?invite_link_id=637523456633">User flow diagrams (Miro)</a>
        </li>
        <li>
          <a href="https://eaflood.atlassian.net/l/c/ZE00XVBV" class="govuk-link">Design decisions log (Confluence)</a>
        </li>
      </ul>

      <h2 class="govuk-heading-m">Team resources</h2>
      <ul class="govuk-list">
        <li>
          <a href="https://github.com/defra-design/biodiversity-net-gain-prototype">
            Prototype GitHub repository
          </a>
        </li>
        <li>
          <a href="https://eaflood.atlassian.net/wiki/spaces/BI/overview">
            Project Confluence
          </a>
        </li>
        <li>
          <a href="https://eaflood.atlassian.net/secure/RapidBoard.jspa?rapidView=1029&projectKey=BNG">
            Jira board
          </a>
        </li>
      </ul>

    </div>

  </div>

{% endblock %}
