
{% extends "layout.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Prototypes</span>
        {{ serviceName }}
      </h1>

      <h2 class="govuk-heading-l">Alpha</h2>
      
      <table class="govuk-table">
        <caption class="govuk-visually-hidden">Prototypes in the Alpha phase</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col"> Sprint </th>
            <th class="govuk-table__header" scope="col"> Date </th>
            <th class="govuk-table__header" scope="col"> Status </th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="/sprint-4">Sprint 4</a>
            </td>
            <td class="govuk-table__cell">
              13 September - 26 October 2021
            </td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "In progress",
                classes: "govuk-tag--blue"
              })}}
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="/sprint-3">Sprint 3</a>
            </td>
            <td class="govuk-table__cell">
              29 September - 12 October 2021
            </td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "complete"
              })}}
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="/sprint-2">Sprint 2</a>
            </td>
            <td class="govuk-table__cell">
              17 September - 28 September 2021
            </td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "Complete"
              })}}
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="/sprint-1">Sprint 1</a>
            </td>
            <td class="govuk-table__cell">
              31 August - 16 September 2021
            </td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "Complete"
              })}}
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="/sprint-0">Sprint 0</a>
            </td>
            <td class="govuk-table__cell">
              3 August - 27 August 2021
            </td>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "Complete"
              })}}
            </td>
          </tr>
        </tbody>
      </table>

    </div>

    <div class="govuk-grid-column-one-third">
      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <h3 class="govuk-heading-s">Resources</h3>
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="https://github.com/defra-design/biodiversity-net-gain-prototype">
                Prototype GitHub repository
              </a>
            </li>
            <li>
              <a href="https://eaflood.atlassian.net/wiki/spaces/BI/overview">
                Project Confluence
              </a>
            </li>
            <li>
              <a href="https://eaflood.atlassian.net/secure/RapidBoard.jspa?rapidView=1029&projectKey=BNG">
                Jira board
              </a>
            </li>
          </ul>
          <h3 class="govuk-heading-s">Design assets</h3>
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="https://miro.com/app/board/o9J_l6pWlTM=/">Miro board</a>
            </li>
          </ul>
        </nav>
      </aside>
    </div>

  </div>

{% endblock %}
