{% extends "layout.html" %}

{% block header %}
  {%- from "moj/components/header/macro.njk" import mojHeader -%}

  {{ mojHeader({
    organisationLabel: {
      text: 'Natural England',
      href: '/'
    },
    serviceLabel: {
      text: 'Biodiversity Net Gain Register Admin',
      href: '/'
    },
    navigation: {
      label: 'Account navigation',
      items: [{
        text: 'John Smith',
        href: '#',
        active: true
      }, {
        text: 'Sign out',
        href: '#'
      }]
    }

  }) }}
{% endblock %}

{% block footer %}
  {% include "includes/footer.html" %}
{% endblock %}