
{% extends "layout.html" %}

{% set map = true %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Map proof of concept
      </h1>

      <a class="skiplink" href="#map">Go to map</a>
      <div id="map" class="map" tabindex="0"></div>
      <button id="zoom-out">Zoom out</button>
      <button id="zoom-in">Zoom in</button>

    </div>

  </div>

{% endblock %}

{% block pageScripts %}
  <script type="module" src="/public/javascripts/map.js"></script>
{% endblock %}
