{% extends "register-application/v20/layout-register-application.html" %}
{% set pageHeading = "BNGP-3130 Update Enhancement works start date" %}
{% block beforeContent %}
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      BNGP-3130 Update Enhancement works start date and Legal Agreement End Date</h1>
    <p><a href="https://eaflood.atlassian.net/browse/BNGP-3130">View jira ticket BNGP-3130</a></p>
    <p><a href="https://miro.com/app/board/uXjVMGe1cqw=/?moveToWidget=3458764561789560015&cot=14">New flow for adding HMMP journey into the legal agreement</a></p>
    <h2 class="govuk-heading-m">V2 - HMMP merged with legal aggrement</h2>
    <ul class="govuk-list govuk-list--bullet ">
      <li><a href="/clear-data?url=/stories/BNGP-3130-hmmp/v2/task-list">From task list</a></li>
    </ul>
  </div>
</div>
{% endblock %}