
{% extends "layout.html" %}

{% set pageHeading = "Assumptions, backlog and user needs" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/sprint-1"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Sprint 1</span>
        {{ pageHeading }}
      </h1>

      <h2 class="govuk-heading-m">Assumptions</h2>

      <h3 class="govuk-heading-s">Register application</h3>
      <ol class="govuk-list govuk-list--number">
        <li>Only the landowner or someone with the permission from the landowner can submit an application.</li>
        <li>Applicants will have access to a completed metric calculation tool.</li>
      </ol>

      <h3 class="govuk-heading-s">Public register</h3>
      <ol class="govuk-list govuk-list--number">
        <li>Local Planning Authorities want to search by unique ref.</li>
        <li>Members of the public want to search by area (postcode or street name).</li>
      </ol>

      <h2 class="govuk-heading-m">Backlog</h2>
      <p>List of backlog items go here.</p>

      <h2 class="govuk-heading-m">User needs</h2>
      <p>List of user needs go here.</p>

    </div>

  </div>

{% endblock %}
