
{% extends "layout.html" %}

{% set pageHeading = "Assumptions, backlog and user needs" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/sprint-1"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Sprint 1</span>
        {{ pageHeading }}
      </h1>

      <h2 class="govuk-heading-m">Assumptions</h2>

      <ol class="govuk-list govuk-list--number">
        <li>Only the landowner or someone with the permission from the landowner will submit an application.</li>
        <li>The 'land' will be registered on HM Land Registry.</li>
        <li>Applicants will have access to a completed metric calculation tool.</li>
        <li>To register a gain site you need to provide a local planning authority reference.</li>
        <li>A gain site will have only one associated development (in a local planning authority system).</li>
        <li>To register a gain site you don't need submit the management and monitoring plan.</li>
        <li>The management and monitoring of a gain site will be carried out by the same person/organisation.</li>
      </ol>

      <h2 class="govuk-heading-m">Backlog</h2>
      <p><a href="https://eaflood.atlassian.net/secure/RapidBoard.jspa?rapidView=975&projectKey=BNG&modal=detail&selectedIssue=BNG-2">Jira BNG-2</a></p>

      <h2 class="govuk-heading-m">User needs</h2>
      <p>List of user needs go here.</p>

    </div>

  </div>

{% endblock %}
