
{% extends "layout.html" %}

{% set pageHeading = "Sprint 1" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">{{ serviceName }}</span>
         {{ pageHeading }}
      </h1>
    </div>

    <div class="govuk-grid-column-full">

      <h2 class="govuk-heading-m">Experiments</h2>
      
      <table class="govuk-table">
        <caption class="govuk-visually-hidden">Prototypes in the Alpha phase</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col"> Prototypes </th>
            <th class="govuk-table__header" scope="col"> Variants </th>
            <th class="govuk-table__header" scope="col"> Experiments </th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              Register application
            </td>
            <td class="govuk-table__cell">
              <a href="/sprint-1/register-application/start">Apply user journey</a>
            </td>
            <td class="govuk-table__cell">
              <ol class="govuk-list govuk-list--number">
                <li>Apply as a landowner</li>
              </ol>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              Operator system
            </td>
            <td class="govuk-table__cell">
              <a href="/sprint-1/review-application/application-list">List of applications</a>
            </td>
            <td class="govuk-table__cell">
              <ol class="govuk-list govuk-list--number">
                <li>Table to summarise applications</li>
              </ol>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              Public register
            </td>
            <td class="govuk-table__cell">
              <a href="/sprint-1/register/search-number">Search site records</a>
            </td>
            <td class="govuk-table__cell">
              <ol class="govuk-list govuk-list--number">
                <li>Search by BNG number</li>
                <li>Search by postcode</li>
                <li>Search results</li>
                <li>Site record public view</li>
              </ol>
            </td>
          </tr>
        </tbody>
      </table>

      <h2 class="govuk-heading-m govuk-!-padding-top-4">Assumptions, backlog and user needs</h2>
      <p class="govuk-body"><a href="/sprint-1/assumptions" class="govuk-link">Assumptions, backlog and user needs</a></p>

    </div>

  </div>

{% endblock %}
