{% extends "register-application/v20/layout-register-application.html" %}

{% set hideSaveLink = true %}

{% set pageHeading = "Check your Defra account details" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <h1 class="govuk-heading-l">{{pageHeading}}</h1>
      <!-- Changed from ./applicant-landowner-type -->
      <form method="post" class="govuk-!-padding-top-5" action="./applicant-details-upload-authorisation">

        {% set returnURL = query.returnURL or 'task-list' %}


        <dl class="govuk-summary-list">
    
      
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['applicant-f-name']}} {% if data['applicant-m-name'] %}{{data['applicant-m-name']}} {% endif %}{{ data['applicant-l-name']}}
          </dd>
          
            <dd class="govuk-summary-list__actions">
              
                <a class="govuk-link" href="./details/name?type=business&returnURL=applicant-details-confirm-agent">
                Change<span class="govuk-visually-hidden"> name</span>
                </a>
              
            </dd>
          
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Company name
          </dt>
          <dd class="govuk-summary-list__value">
            {{data["companyName"]}}
          </dd>
          
            <dd class="govuk-summary-list__actions">
              
                <a class="govuk-link" href="./details/company-name?type=business&returnURL=applicant-details-confirm-agent">
                Change<span class="govuk-visually-hidden"> address</span>
                </a>
              
            </dd>
          
        </div>
      
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            {{data["address-line1"]}} <br>{{data["address-town"]}} <br>{{data["address-postcode"]}}{%if data['address-country']%} <br>{{data['address-country']}}{% endif %}
          </dd>
          
            <dd class="govuk-summary-list__actions">
                
                <a class="govuk-link" href="./details/address-in-uk?type={{data['landowner-type'] or 'individual'}}&returnURL=applicant-details-confirm-agent">
                Change<span class="govuk-visually-hidden"> address</span>
                </a>
              
            </dd>
          
        </div>
      
    
      
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Contact email address
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['email'] }}
          </dd>
          
            <dd class="govuk-summary-list__actions">
              
                <a class="govuk-link" href="./details/email?type={{data['landowner-type'] or 'individual'}}&returnURL=applicant-details-confirm-agent">
                Change<span class="govuk-visually-hidden"> date of birth</span>
                </a>
              
            </dd>
          
        </div>
      
    
      
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Contact phone number
          </dt>
          <dd class="govuk-summary-list__value">
           {{ data['telephone-number'] }}
          </dd>
          
            <dd class="govuk-summary-list__actions">
              
                <a class="govuk-link" href="./details/phone?type={{data['landowner-type'] or 'individual'}}&returnURL=applicant-details-confirm-agent">
                Change<span class="govuk-visually-hidden"> date of birth</span>
                </a>
              
            </dd>
          
        </div>
      
    
  </dl>

        <input type="hidden" name="details-confirm" value="yes">
        <p>We will only use your email address or your phone number if we need to contact you about your registration.</p>

        <p><strong>Any changes you make to these details will only be used in this application. No changes will be made to your Defra account.</strong></p>

        {{ govukButton({
          text: "Confirm and continue"
        }) }}
        
      </form>

    </div>
  </div>

{% endblock %}
