{% extends "register-application/v20/layout-register-application.html" %}

{% set count = 1 %}
{% set item = " landowner or leasholder" | plural(" landowners or leasholders", count) %}
{% set subheading = "You have added "+ count + item %}

{% set pageHeading = "You need to add all landowners or leaseholders listed on the legal agreement"%}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l"> {{pageHeading}}</h1>

              <h2 class="govuk-heading-s govuk-!-font-weight-regular">{{subheading}}</h2>

             <dl class="govuk-summary-list hmrc-list-with-actions hmrc-list-with-actions--short">
             <div class="govuk-summary-list__row">
  
                <dt class="govuk-summary-list__key govuk-!-font-weight-regular hmrc-summary-list__key">
                  <!-- set name based on the type of legal party, defualt is organistion name -->

                  {% set name = data['companyName'] or "Biglandowner LTF" %}

                  {% if data["applicant-type"] == "individual" %}

                    {% set name = data['applicant-f-name']+" "%}

                    {% if data["legal-party-m-name"]+" " %}
                      {% set name = name+data['applicant-m-name']+" "%}

                    {% endif %}

                    {% set name = name+data['applicant-l-name']%}


                  {% endif %}
                  {{name}} (you)
                </dt>
                
                <dd class="govuk-summary-list__actions hmrc-summary-list__actions">
                  <ul class="govuk-summary-list__actions-list">
                   
                  </ul>
                </dd>
              </div>
            </dl>

        

            <!-- Routing handled by radio-button-redirect (look at the value of the radio button). For more info see https://github.com/abbott567/radio-button-redirect/ -->
            <form method="post" action="">
             
              
              {% set nextpage ="management-plan-question" %}
           {% if data.change == "yes" and data.returnURL %}
           {% set nextpage = data.returnURL+"?change=no&returnURL=" %}
           {% endif %}
           <!-- Routing handled by radio-button-redirect (look at the value of the radio button). For more info see https://github.com/abbott567/radio-button-redirect/ -->
            <form method="post" action="">

              {{ govukRadios({
                idPrefix: "covenent-landowner-more",
                name: "covenent-landowner-more",
                fieldset: {
                  legend: {
                    text: "Have you added all landowners?",
                    classes: "govuk-fieldset__legend--m"
                  }
                },
                hint: {
                  text: "You must tell us about all landowners listed on the "+data['legal-agreement']+"."
                },
                items: [
                  {
                    value: "yes~./"+nextpage,
                    text: "Yes"
                  },
                  {
                    value: "no~./legal-agreement-concov-landowner-type",
                    text: "No, add another landowner"
                  }
                ]
              }) }}
              
              
              
              {{ govukButton({ text: 'Save and continue' }) }}
              
            </form>

    </div>
  </div>

{% endblock %}
