{% extends "register-application/v20/layout-register-application.html" %}

{% if data['legal-agreement'] == "Planning obligation (Section 106 agreement)" %}
  {% set pageHeading = "Upload the planning obligation (Section 106 agreement)" %}
{% else %}
  {% set pageHeading = "Upload the conservation covenant" %}
{% endif %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ pageHeading }}
      </h1>
      
      <form method="get" action="./legal-agreement-check">
  
        <div class="govuk-form-group">
          <label class="govuk-label govuk-visually-hidden" for="legal-agreement-upload">
            Upload a file
          </label>

          <div id="legal-agreement-upload-hint">
            <p>The file should be:</p> 
            <ul class="govuk-list govuk-list--bullet">
              <li>a DOC, DOCX or PDF</li>
              <li>no larger than 50MB</li>
            </ul>
          </div>

          <input class="govuk-file-upload" id="legal-agreement-upload" name="legal-agreement-upload" type="file" aria-describedby="legal-agreement-upload-hint">
        </div>
        

        {{ govukButton({
          text: "Upload"
        }) }}
        
      </form>

      <p><a href="./legal-agreement-no">I do not have a legal agreement</a></p>

    </div>
  </div>

{% endblock %}
