{% extends "register-application/v8/layout-register-application.html" %}

{% set pageHeading = "Check and confirm your answers" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ pageHeading }}
      </h1>

      <h2 class="govuk-heading-l">Land for off-site biodiversity gain</h2>
      
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        {% if data['landowner-permission-correct'] == 'yes' %} 
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Landowner consent
            </dt>
            <dd class="govuk-summary-list__value">
              <a download href="#">landowner-consent-evidence.pdf</a>, 1.1MB
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/register-application/{{ pageURL }}/landowner-permission-check">
                Change<span class="govuk-visually-hidden"> Landowner consent</span>
              </a>
            </dd>
          </div>
        {% endif %} 

        {% if data['land-registry-check'] == 'yes' %} 
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              HM Land registry details
            </dt>
            <dd class="govuk-summary-list__value">
              <p>AGL117262</p>
              <p>Meadowcroft Farm<br>Goose Ln<br>Leeds<br>LS20 8PJ</p>
              <p>Freehold</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/register-application/{{ pageURL }}/land-registry-confirm">
                Change<span class="govuk-visually-hidden"> HM Land Registry</span>
              </a>
            </dd>
          </div>
        {% else %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Ownership certificate
            </dt>
            <dd class="govuk-summary-list__value">
              <a download href="#">ownership-certificate.pdf</a>, 1.6MB
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/register-application/{{ pageURL }}/land-ownership-certificate-check">
                Change<span class="govuk-visually-hidden"> Ownership certificate</span>
              </a>
            </dd>
          </div>
        {% endif %}

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" style="vertical-align:top;">
            Land boundary
          </dt>
          <dd class="govuk-summary-list__value" style="vertical-align:top;">
            <img src="/public/images/location-confirm.png" alt="" width="100%" style="border: 1px solid #b1b4b6;margin-bottom:10px;">
            <p><strong>Address</strong></p>
            <p>Meadow Croft Farm, <br>Goose Lane, <br>Leeds, <br>LS20 8PJ</p>
            <p><strong>Grid Reference</strong></p>
            <p>SP41989814</p>
            <p><strong>Latitude, Longitude</strong></p>
            <p>52.579466, -1.381870</p>
          </dd>
          <dd class="govuk-summary-list__actions" style="vertical-align:top;">
            <a class="govuk-link" href="/register-application/{{ pageURL }}/location-confirm">
              Change<span class="govuk-visually-hidden"> Land boundary</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Habitat management and monitoring plan
          </dt>
          <dd class="govuk-summary-list__value">
            <a download href="#">habitat-management-plan.pdf</a>, 1MB
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="/register-application/{{ pageURL }}/management-plan-check">
              Change<span class="govuk-visually-hidden"> Habitat management and monitoring plan</span>
            </a>
          </dd>
        </div>

      </dl>

      <h2 class="govuk-heading-l">Linked development</h2>
      
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Planning reference number
          </dt>
          <dd class="govuk-summary-list__value">
            21/02367/FUL, <br>{{ data['input-autocomplete'] or 'York City Council' }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="/register-application/{{ pageURL }}/development-planning-ref-search">
              Change<span class="govuk-visually-hidden"> Planning reference</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Biodiversity Metric 3.0
          </dt>
          <dd class="govuk-summary-list__value">
            <a download href="#">metric_3.0_21/02367/FUL.xlsm</a>, 4.1MB
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/register-application/{{ pageURL }}/metric-upload-check">
              Change<span class="govuk-visually-hidden"> Biodiversity Metric 3.0</span>
            </a>
          </dd>
        </div>

        {% if data['legal-agreement-financial-correct'] == 'yes' and data['legal-agreement-planning-obligation-correct'] != 'yes' %} 
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Conservation covenant
            </dt>
            <dd class="govuk-summary-list__value">
              <a download href="#">conservation-covenant.pdf</a>, 1MB
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/register-application/{{ pageURL }}/legal-agreement-conservation-check">
                Change<span class="govuk-visually-hidden"> Conservation covenant</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Financial agreement
            </dt>
            <dd class="govuk-summary-list__value">
              <a download href="#">financial-agreement.pdf</a>, 1.2MB
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--no-visited-state" href="/register-application/{{ pageURL }}/legal-agreement-financial-check">
                Change<span class="govuk-visually-hidden"> Financial agreement</span>
              </a>
            </dd>
          </div>
        {% else %} 
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Planning obligation
            </dt>
            <dd class="govuk-summary-list__value">
              <a download href="#">planning-obligation.pdf</a>, 1.2MB
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--no-visited-state" href="/register-application/{{ pageURL }}/legal-agreement-planning-obligation-check">
                Change<span class="govuk-visually-hidden"> Planning obligation</span>
              </a>
            </dd>
          </div>
        {% endif %}

      </dl>

      <h2 class="govuk-heading-l">Confirm your answers</h2>

      <p class="govuk-body">By accepting you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

      <form action="/register-application/{{ pageURL }}/payment-card" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <button class="govuk-button" data-module="govuk-button">
          Accept and pay
        </button>

      </form>

    </div>
  </div>

{% endblock %}
