{% extends "register-application/" + data['version'] + "/layout-register-application.html" %}

{% set pageHeading = "Add the river type, area and condition" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{ pageHeading }}</h1>
      
      <form method="post" action="/register-application/{{data['version']}}/habitat-check-data">

        {{ govukRadios({
          idPrefix: "river-type",
          name: "river-type",
          fieldset: {
            legend: {
              text: "River type",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: [
              {
                value: "Canals",
                text: "Canals",
                checked: checked("river-type", "Canals")
              },
              {
                value: "Culvert",
                text: "Culvert",
                checked: checked("river-type", "Culvert")
              },
              {
                value: "Ditches",
                text: "Ditches",
                checked: checked("river-type", "Ditches")
              },
              {
                value: "Other Rivers and Streams",
                text: "Other Rivers and Streams",
                checked: checked("river-type", "Other Rivers and Streams")
              },
              {
                value: "Priority Habitat",
                text: "Priority Habitat",
                checked: checked("river-type", "Priority Habitat")
              }
            ]
          }) }}

        {{ govukInput({
          label: {
            text: "Length, in kilometres",
            classes: "govuk-label--s"
          },
          classes: "govuk-input--width-5",
          id: "river-length",
          name: "river-length",
          value: data['river-length'],
          suffix: {
            text: "km"
          },
          spellcheck: false
        }) }}

        {{ govukRadios({
          idPrefix: "river-condition",
          name: "river-condition",
          fieldset: {
            legend: {
              text: "Condition",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: [
            {
              value: "Good",
              text: "Good",
              checked: checked("river-condition", "Good")
            },
            {
              value: "Fairly good",
              text: "Fairly good",
              checked: checked("river-condition", "Fairly good")
            },
            {
              value: "Moderate",
              text: "Moderate",
              checked: checked("river-condition", "Moderate")
            },
            {
              value: "Fairly Poor",
              text: "Fairly poor",
              checked: checked("river-condition", "Fairly poor")
            },
            {
              value: "Poor",
              text: "Poor",
              checked: checked("river-condition", "Poor")
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
        
      </form>

    </div>
  </div>

{% endblock %}
