{% extends "layout-email.html" %}



{% block pageTitle %}
We've recived payment | {{serviceName}} prototype
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <p>Dear Jo Smith</p>
      <p>We've received your application fee for registering a biodiversity gain site.</p>
      <p>You can now complete your application by signing into your account - <a href="/register-application/{{ data['version'] }}/sign-in">https://bng.defra.gov.uk/signin</a></p>
      <p>
        From<br />
        Natural England
      </p>
      <p>This is an automated message - do not reply.</p>

      <div class="govuk-!-margin-top-9">
        <p class="govuk-body-s">Natural England This email and any attachments is intended for the named recipient only. If you have received it in error you have no authority to use, disclose, store or copy any of its contents and you should destroy it and inform the sender. Whilst this email and associated attachments will have been checked for known viruses whilst within Defra systems we can accept no responsibility once it has left our systems. Communications on Defra's computer systems may be monitored and/or recorded to secure the effective operation of the system and for other lawful purposes.</p>
      </div>
        
    </div>
</div>

{% endblock %}